﻿
      
        <div class="container">
            <div class="card">
                <div class="card-header">



                    <div class="container">
                        <div class="card">
                            <div class="col-md-8 col-sm-8">
                                <div class="contact-info">
                                    <a><h4>  Helpline </h4> </a>
                                    <ul class="list-inline">
                                        <li><i class="glyphicon glyphicon-earphone"></i> &nbsp;&nbsp;&nbsp; <strong> 040-42010360 </strong> </li>
                                        <li><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;&nbsp; <a href="support@prm360.com"> <strong> support@prm360.com </strong> </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <img class="logo text-center" src="img/images/KIMS clients.png" height="95" width="200" />
                            </div>
                        </div>
                    </div>

                    <!-- <img class="logo text-center" src="img/images/KIMS clients.png" height="272" width="693"/>
                   <img src="../../img/images/KIMS clients.png" />  linear-gradient(45deg, #003974 30%,#ec1c23 50%,#f9ab52 70%) style="background-color: #cccccc;"
                        kimsbg 
                        <li><a href="/EPROC/supplierCOC">Supplier COC</a></li>
                                        <li><a href="/EPROC/privacypolicy">Policy</a></li>
                                    </ul>
                                    <ul class="list-inline">
                                        <li><a href="/EPROC/faq">FAQ</a></li>
                                        <li><a href="/EPROC/termsandconditions">Terms and conditions</a></li>
                                        <li><a href="/EPROC/contactus">Contact Us</a></li>

                       // css//
                        .kimsbg {
    background-image: linear-gradient(45deg, rgb(0, 57, 116) 30%, rgb(236, 28, 35) 50%, rgb(249, 171, 82) 70%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

                        -->


                    <div class="container">
                        <div class="card pull-right">
                            <div class="card-header" style="text-align:center">

                                <table style="text-align:left;border:1px solid ">
                                    <tr>
                                        <td>
                                            <div class="logo "></div>
                                            <div style="table-layout:auto;text-align:center " class="login-block col-md-12">
                                                <h1>Login</h1>
                                                <input type="text" placeholder="Username" id="username" style="width:250px" />
                                                   <br />
                                                   <br />
                                                <input type="password" placeholder="Password" id="password" style="width:250px" /> &nbsp;
                                                <br />
                                                <br />
                                                <button style="text-align:center" class="btn btn-success">Submit</button>
                                                <br />
                                                <br /> 
                                                <div class="col-md-12">
                                                    <div class="col-md-8">
                                                        <button class="pull-right btn btn-warning">Forget Password</button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="pull-left btn btn-group-demo">Register</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--<div class="col-md-12">
                                                <div class="col-md-8">
                                                    <button class="pull-right">Forget Password</button>
                                                </div>
                                                <div class="col-md-4">
                                                    <button class="pull-left">Register</button>
                                                </div>
                                            </div>-->

                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
            






                    <div class="container">
                        <div class="card">
                            <div class="card-header" style="text-align:center">

                                <div class="searchbar-links">
                                    <ul class="list-inline">
                                        <li><a href="/EPROC/aboutGMRGroup">About Kims</a></li>
                                        <li><a href="www.prm360.com">About PRM360</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>




                </div>
                </div>
            </div>