﻿<style>
    .form-control {
        text-align: center;
    }
</style>
<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

<section id="main1">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->
    <section id="content">
        <div data-ng-controller="materialsPurchaseIndentCtrl">

            <div class="white-box">

                <div class="row">
                    <div class="col-md-2 text-center">
                        &nbsp;
                    </div>
                    <div class="col-md-8 text-center">
                        <h4>
                            <strong>MATERIALS PURCHASE INDENT  </strong>
                        </h4>
                    </div>
                    <div class="col-md-2 text-center">
                        <a title="Indent PDF" target="_blank" href="FileDownload.aspx?attachid={{indentDetails.pdfID}}&sessionid={{sessionID}}" ng-show="indentDetails && indentDetails.pdfID > 0">Download &nbsp;<i class="tm-icon zmdi zmdi-hc-2x zmdi-file-text"></i></a>
                    </div>
                    <div class="form-group col-sm-12">
                        <div style='border-bottom:1px solid #ccc;'></div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <input type="radio" ng-change="changeCIJ(0);" ng-model="isCapex" name="capex" value="1" ng-disabled="isDisable"><strong> Capex  </strong>
                        </div>
                        <div class="col-md-2">
                            <input type="radio" ng-change="changeCIJ(0);" ng-model="isCapex" name="noncapex" value="0" ng-disabled="isDisable"> <strong>  Non-Capex  </strong>
                        </div>
                        <div class="col-md-2">
                            <input type="radio" ng-change="changeCIJ(0);" ng-model="isCapex" name="noncapex" value="-1" ng-disabled="isDisable"> <strong> Service Request </strong>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12" ng-if="isCapex > 0">
                                <div ng-class="{'fg-toggled': indentDetails.cij.cijID > 0}">
                                    <strong ng-if="!isErrorCIJ"> Select Respective CIJ </strong><strong ng-if="isErrorCIJ" class="text-danger">Select Respective CIJ* </strong>
                                    <select ng-model="cijObj.cijID" ng-change="changeCIJ(cijObj.cijID);" class="form-control-dropdown" style="width:200px" ng-style="isErrorCIJStyle">
                                        <option ng-selected="indentDetails.cij.cijID == cijObj.cijID" value="{{cijObj.cijID}}" ng-repeat="cijObj in cijList">{{cijObj.cijCode}}</option>
                                    </select>
                                </div>
                                Selected CIJ:<label ng-if="indentDetails.cij.cijID > 0" ng-repeat="cijobj in cijList"><label ng-if="cijobj.cijID == indentDetails.cij.cijID">&nbsp;&nbsp;&nbsp; {{cijobj.cijCode}}</label></label>
                                <strong> <a class="zmdi zmdi-forward" ng-if="indentDetails.cij.cijID != 0" role="button" title="View/Edit CIJ" ng-click="goToCIJID(indentDetails.cij.cijID)">View CIJ</a></strong>
                            </div>
                        </div>

                        <div class="col-md-2 pull-right"> <input type="radio" ng-model="indentDetails.isMedical" name="nonMedical" value="0" ng-disabled="isDisable && isEdit == false" /><strong> Non-Medical &nbsp; <a role="button" class="zmdi zmdi-edit" ng-click="isEditFunction(true);" ng-if="isEdit == false && indentID > 0"></a><a role="button" class="zmdi zmdi-check-circle" ng-click="isEditFunction(false);EditCijIndentDetails(indentDetails.isMedical, 'INDENT')" ng-if="isEdit == true && indentID > 0"></a>  </strong></div>
                        <div class="col-md-1 pull-right"><input type="radio" ng-model="indentDetails.isMedical" name="medical" value="1" ng-disabled="isDisable && isEdit == false" /><strong>  Medical </strong></div>
                        <div class="col-md-1 pull-right"><h5>Asset Type: </h5></div>
                    </div>
                </div>

                <div class="row">
                    <div style='border-bottom:1px solid #ccc;'></div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12 flexDiv">
                        <div class="col-md-4 flexDiv" style="text-align:center">
                            <strong>
                                Indent N0.&nbsp;&nbsp;
                                <a ng-if="indentDetails.cloneIndID > 0" role="button" title="Clone Indent" ng-click="goToIndent(indentDetails.cloneIndID)"> ( Reference Indent )</a>
                            </strong>
                            <input ng-disabled="true" type="text" ng-model="indentDetails.indNo" name="indentno" id="indentno" class="form-control fg-input input-prm-md" required rows="1" style="resize: vertical; width: 80%;">
                        </div>
                        <div class="col-md-3 flexDiv" style="text-align:center">
                            <strong ng-class="{'text-danger': isErrorDepartment}"> Department<span style="color:red">*&nbsp;</span></strong>
                            <input ng-style="isErrorDepartmentStyle" type="text" ng-model="indentDetails.department" name="department" id="department" class="form-control fg-input input-prm-md" ng-disabled="isDisable" required rows="1" style="resize: vertical;">
                        </div>
                        <div class="col-md-3 flexDiv" style="text-align:center">
                            <strong>
                                Date&nbsp;&nbsp;
                            </strong>
                            <input type="text" placeholder="DD-MM-YYYY" ng-model="indentDetails.requestDate" name="date" id="date" class="form-control fg-input input-prm-md" ng-disabled="isDisable" required rows="1" style="resize: vertical;">
                        </div>
                        <div class="col-md-2 flexDiv">

                            <strong> Priority &nbsp; </strong>
                            <div style="margin-top:1px;margin-left: 1px;">
                                <select ng-model="indentDetails.userPriority" class="form-control" data-placeholder="priority" name="priority" id="priority" required="" style="resize: vertical;" ng-disabled="isDisable">
                                    <option value="CRITICAL">Critical</option>
                                    <option value="HIGH">High</option>
                                    <option value="MEDIUM" selected>Medium</option>
                                    <option value="LOW">Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group  row">
                    <div style='border-bottom:1px solid #ccc;'></div>
                </div>

                <div class="form-group  row">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <h4> Please issue the following for the purpose mentioned below: </h4>
                        </div>
                        <div class="col-md-3 flexDiv" style="text-align:center">
                            <strong>
                                Exp Delivery&nbsp;&nbsp;
                            </strong>
                            <input ng-disabled="isDisable" type="text" placeholder="DD-MM-YYYY" ng-model="indentDetails.expectedDelivery" name="date" id="date" class="form-control fg-input input-prm-md" required rows="1" style="width: 50%;">
                        </div>
                        <div class="col-md-4 text-right flexDiv">
                            <h5 ng-class="{'text-danger': isApproxErrorTotalCost}">Approximate Cost Range &nbsp;<span style="color:red">*&nbsp;</span> </h5>
                            <input ng-style="isApproxErrorTotalCostStyle" type="number" ng-change="priceChange('APPROX');" ng-model="indentDetails.approximateCostRange" name="approximateCostRange" id="costapproximateCostRangeRange" class="form-control fg-input" required ng-disabled="isEditDisable || deptType != 5" style="width:30%">

                        </div>
                    </div>
                </div>
                <div class="form-group  row">
                    <div style='border-bottom:1px solid #ccc;'></div>
                </div>

                <div class="form-group row table-responsive">
                    <div class="col-md-12">
                        <table class="table table-responsive listcij">
                            <thead>
                                <tr style="width:100%;" class=" dl-horizontal listcij">
                                    <th style="width:2%;text-align:center" class="listcij"> Sl.No </th>
                                    <th style="width:5%;text-align:center" class="listcij"> Budget Code<span style="color:red;font-size:20px">*</span> </th>
                                    <th style="width:10%;text-align:center" class="listcij"> description<span style="color:red;font-size:20px">*</span></th>
                                    <th style="width:10%;text-align:center" class="listcij"> Make/model </th>
                                    <th style="width:10%;text-align:center" class="listcij"> E.QTY FUNCT </th>
                                    <th style="width:10%;text-align:center" class="listcij"> E.QTY NON-FUNCT </th>
                                    <!--<th style="width:10%;text-align:center" colspan="2" scope='colgroup' class="listcij">
                                        <table>
                                            <tr>
                                                <td style="text-align:center;"> <small> &nbsp; E.QTY FUNCT </small> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</td>
                                                <td style="text-align:center;"> <small> &nbsp; E.QTY FUNCT </small>  </td>
                                            </tr>
                                        </table>
                                    </th>-->
                                    <th style="width:8%;text-align:center" class="listcij"> Required Qty<span style="color:red;font-size:10px">*</span> </th>

                                    <th style="width:5%;text-align:center" ng-if="isReject && IsUserApprover" class="listcij"> Reject Qty</th>
                                    <th style="width:5%;text-align:center" ng-if="isReject && IsUserApprover" class="listcij"> New Qty</th>
                                    <th style="width:10%;text-align:center" ng-if="isReject && IsUserApprover" class="listcij"> Reject Reason</th>

                                    <th style="width:5%;text-align:center" class="listcij"> Units<span style="color:red;font-size:20px">*</span></th>
                                    <th style="width:10%;text-align:center" class="listcij"> Purpose<span style="color:red;font-size:20px">*</span> </th>
                                    <th style="width:8%;text-align:center" class="listcij">File</th>
                                    <th style="width:5%;text-align:center" class="listcij">
                                        Actions &nbsp;&nbsp;

                                        <button class="btn btn-success pull-right" ng-if="!isReject && IsUserApprover" ng-click="reject()"><small>Reject</small></button>
                                        <button class="btn  btn-danger pull-right" ng-if="isReject && IsUserApprover" ng-click="RejectIndentItems()">Save</button>

                                        <button class="btn  btn-danger pull-right" ng-if="deptType == 5 && insentDetails.isCloned != true && indentDetails.indID > 0 && isItemsRejected == true && isWorkflowCompleted == true" ng-click="cloneIndent(indentDetails.indID)">Clone</button>


                                    </th>
                                </tr>
                            </thead>


                            <tr ng-repeat="item in indentDetails.listIndentItems track by $index" class="listcij">
                                <td class="listcij">
                                    {{item.sNO}}
                                </td>
                                <td class="listcij">

                                    <select class="form-control-dropdown" ng-style="item.style" style="margin-left:-4px;border: 1px solid black;"
                                            ng-disabled="orderInfo>0 || isEditDisable || deptType != 5" ng-model="item.budgetID" ng-options="BC.budgetID as BC.budgetCode for BC in BudgetCodes" title="Cat Code: {{item.bcInfo.workCatCode}} &#013;Cat Desc: {{item.bcInfo.workCatDesc}} &#013;Budget Code Desc: {{item.bcInfo.budgetDesc}}">
                                        pt
                                        <option value="">Select Budget Code</option>
                                    </select>

                                </td>
                                <td ng-if="!item.isErrorMaterialDescription" class="listcij">
                                    <textarea rows="1" style="margin-left:-4px" type="text" ng-model="item.materialDescription" name="materialDescription" id="materialDescription" class="form-control fg-input" ng-disabled="orderInfo>0 || isEditDisable" required></textarea>
                                </td>
                                <td ng-if="item.isErrorMaterialDescription" class="listcij">
                                    <textarea rows="1" style="border:1px solid #ff0000;margin-left:-4px" type="text" ng-model="item.materialDescription" name="materialDescription" id="materialDescription" class="form-control fg-input" ng-disabled="orderInfo>0 || isEditDisable" required></textarea>
                                </td>
                                <td class="listcij">
                                    <textarea rows="1" style="margin-left:-4px" type="text" ng-model="item.makeModel" name="modelDescription" id="modelDescription" class="form-control fg-input" ng-disabled="orderInfo>0 || isEditDisable || deptType != 5" required></textarea>
                                </td>
                                <td class="listcij">
                                    <input type="number" placeholder="Functional" style="margin-left:-4px" ng-model="item.existFunctional" name="existFunctional" id="existFunctional" class="form-control fg-input" ng-disabled="orderInfo>0 || isEditDisable || deptType != 5" required>
                                </td>
                                <td class="listcij">
                                    <input type="number" placeholder="Non-Functional" style="margin-left:-4px" ng-model="item.existNonFunctional" name="existNonFunctional" id="existNonFunctional" class="form-control fg-input" ng-disabled="orderInfo>0 || isEditDisable || deptType != 5" required>
                                </td>
                                <td ng-if="!item.isErrorRequiredQuantity" class="listcij">
                                    <input type="number" ng-model="item.requiredQuantity" name="requiredQuantity" style="margin-left:-4px" id="requiredQuantity" class="form-control fg-input" ng-disabled="orderInfo > 0 || isEditDisable || deptType != 5" required>

                                    <label ng-if="item.rejectedQuantity > 0" title="Item : {{item.sNO}}
Reject Reason : {{item.rejectReason}}">
                                        <small>
                                            Initial:{{item.initialQty}}; Rej:{{item.rejectedQuantity}}
                                            <strong ng-if="item.initialQty != item.rejectedQuantity" class="text-warning">Qty.Rejected</strong>
                                            <strong ng-if="item.initialQty == item.rejectedQuantity" class="text-danger">Item.Rejected</strong>
                                        </small>
                                    </label>
                                </td>
                                <td ng-if="item.isErrorRequiredQuantity" class="listcij">
                                    <input type="number" style="border:1px solid #ff0000;margin-left:-4px" ng-model="item.requiredQuantity" name="requiredQuantity" id="requiredQuantity" class="form-control fg-input" ng-disabled="orderInfo > 0 || isEditDisable || deptType != 5" required>
                                </td>

                                <td ng-if="isReject && IsUserApprover" class="listcij">
                                    <input style="background-color: rgb(245, 178, 178);margin-left:-4px" type="number" ng-model="item.rejectedQuantity" name="requiredQuantity" id="requiredQuantity" class="form-control fg-input" required>
                                </td>
                                <td class="text-center listcij" ng-if="isReject && IsUserApprover">
                                    <label name="requiredQuantity" id="requiredQuantity">{{item.requiredQuantity-item.rejectedQuantity}}</label>
                                </td>

                                <td ng-if="isReject && IsUserApprover" class="listcij">
                                    <textarea rows="1" style="background-color: rgb(245, 178, 178);margin-left:-4px" type="text" ng-model="item.rejectReason" name="rejectReason" id="rejectReason" class="form-control fg-input" required></textarea>
                                </td>

                                <td ng-if="!item.isErrorMaterialUnits" class="listcij">
                                    <textarea type="text" ng-model="item.units" name="materialUnits" id="materialUnits" class="form-control fg-input" ng-disabled="orderInfo>0 || isEditDisable || deptType != 5" required rows="1" style="margin-left:-4px"></textarea>
                                </td>
                                <td ng-if="item.isErrorMaterialUnits" class="listcij">
                                    <textarea type="text" ng-model="item.units" name="materialUnits" id="materialUnits" class="form-control fg-input" ng-disabled="orderInfo>0 || isEditDisable || deptType != 5" required rows="1" style="border:1px solid #ff0000;margin-left:-4px"></textarea>
                                </td>
                                <td ng-if="!item.isErrorPurposeOfMaterial" class="listcij">
                                    <textarea rows="1" style="margin-left:-4px" type="text" ng-model="item.purposeOfMaterial" name="purposeOfMaterial" id="purposeOfMaterial" class="form-control fg-input" ng-disabled="orderInfo>0 || isEditDisable || deptType != 5" required></textarea>
                                </td>
                                <td ng-if="item.isErrorPurposeOfMaterial" class="listcij">
                                    <textarea rows="1" style="border:1px solid #ff0000;margin-left:-4px" type="text" ng-model="item.purposeOfMaterial" name="purposeOfMaterial" id="purposeOfMaterial" class="form-control fg-input" ng-disabled="orderInfo>0 || isEditDisable || deptType != 5" required></textarea>
                                </td>
                                <td style="text-align:center" class="listcij">
                                    <div class="row text-center">
                                        <div class="col-md-6">
                                            <div class="btn-file m-t-2 fileuploadStyle" data-provides="fileinput">
                                                <div class="fileupload btn btn-info waves-effect waves-light">
                                                    <span class="btn-file m-r-1  btn-new-look">
                                                        <i roll="button" class="fa fa-upload "> </i>
                                                        <input type="file" accept="" id="itemFileUploadquotation" itemscope itemid="{{$index}}" ng-file-select-items="onFileSelect($files)" ng-disabled="isEditDisable" style="margin-bottom:200px" />
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4" ng-if="item.fileName.fileName > 0">
                                            <a target="_blank" href="FileDownload.aspx?attachid={{item.fileName.fileName}}&sessionid={{sessionid}}"><i roll="button" class="fa fa-download "> </i></a>
                                        </div>
                                        <div class="col-md-2" ng-if="item.fileName.fileName > 0">
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align:center" class="listcij">
                                    <a role="button" class="fa fa-plus-square fa-hc-2x" ng-click="addItem();" ng-disabled="isDisable || deptType != 5"></a>
                                    <a role="button" class="fa fa-trash fa-hc-2x" ng-click="delItem($index, item.indentItemID);" ng-disabled="deptType != 5"></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="form-group row">
                    <div style='border-bottom:1px solid #ccc;'></div>
                </div>

                <div class="form-group row table-responsive">
                    <div class="col-md-12">
                        <div class="col-md-3 flexDiv" style="text-align:center">
                            <strong> Requested By &nbsp;&nbsp;</strong>
                            <input type="text" ng-model="indentDetails.requestedBy" name=" requestedby" id=" requestedby" class="form-control fg-input input-prm-sm" ng-disabled="isDisable" style="width: 60%;">
                        </div>
                        <div class="col-md-3 flexDiv" style="text-align:center">
                            <strong>Approved By(HOD) &nbsp;&nbsp;&nbsp;&nbsp;</strong>
                            <input type="text" ng-model="indentDetails.approvedBy" name=" approvedby" id=" approvedby" class="form-control fg-input input-prm-sm" ng-disabled="isDisable" style="width: 60%;">
                        </div>
                        <div class="col-md-3 flexDiv" style="text-align:center">
                            <strong>Purchase Incharge &nbsp;&nbsp;&nbsp;&nbsp;</strong>
                            <input type="text" ng-model="indentDetails.purchaseIncharge" name="purchaseincharge" id="purchaseincharge" class="form-control fg-input input-prm-sm" ng-disabled="isDisable" style="width: 60%;">
                        </div>
                        <div class="col-md-3 flexDiv" style="text-align:center">
                            <strong> Director &nbsp;&nbsp;</strong>
                            <input type="text" ng-model="indentDetails.purchaseDirector" name="purchaseDirector" id="purchaseDirector" class="form-control fg-input input-prm-sm" form="usrform" ng-disabled="isDisable" style="width: 60%;">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div style='border-bottom:1px solid #ccc;'></div>
                </div>

                <div class="row" style="margin-top:25px">
                    <div class="col-md-12">
                        <div class="col-md-4 text-center">
                            <div class="col-md-2 text-center">
                                <div class="fileinput fileinput-new" data-provides="fileinput" ng-show="deptType == 5">
                                    <span class="btn btn-primary btn-file m-r-10  btn-new-look top-half-buffer">
                                        <span class="fileinput-new">
                                            Select file
                                        </span>
                                        <span class="fileinput-exists">Add</span>
                                        <input role="button" type="file" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" itemscope itemid="MPIndentAttachment" id="MPIndentAttachment" ng-file-select-items="onFileSelect($files)" />
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <span class="dropdown">
                                    <a title="Attachments" class="dropdown-toggle" data-toggle="dropdown">
                                        <i role="button" class="fa fa-plus fa-hc-2x"></i>
                                    </a>
                                    <span class="dropdown-menu">
                                        <span class="col-md-6" ng-repeat="addfile in multiFileUpload">
                                            <a target="_blank" href="FileDownload.aspx?attachid={{addfile.linkID}}&sessionid={{sessionid}}">
                                                File-{{$index + 1}}
                                                <span role="button" title="Remove File" style="color:#ff0000;" ng-click="deleteAttachment(addfile);">X</span>
                                            </a>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6 text-center" style="font-size:18px;">
                            <span ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)">
                                <select ng-style="isErrorworkflowIDStyle" chosen name="workflowType" ng-model="workflowObj.workflowID" ng-options="wf.workflowID as wf.workflowTitle for wf in workflowList" required class="form-control-dropdown" ng-disabled="isDisable">
                                    <option value="">Select Workflow&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                </select>
                                <strong ng-if="!isErrorworkflowID"> Respective Workflow </strong><strong ng-if="isErrorworkflowID" class="text-danger"> Respective Workflow* </strong>
                            </span>
                        </div>

                        <div class="col-md-2 text-right">
                            <button class="btn btn-primary btn-file btn-new-look" ng-click="SaveIndentDetails()" ng-disabled="isSaveDisable || deptType != 5">Save</button>
                            <button class="btn btn-primary btn-new-look" ng-click="cancelClick()" ng-disabled="deptType != 5">Cancel</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <label ng-if="isError == true">Please fill all mandatory fields(*) </label>
                    </div>
                </div>

            </div>

            <div class="row">
            </div>

            <div class="white-box col-md-12" ng-if="itemWorkflow[0] && itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length > 0">
                <div class="row">
                    <div class="row col-md-4" ng-repeat="step in itemWorkflow[0].WorkflowTracks">
                        <div class="col-md-12 " ng-if="itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length > 0">


                            <div class="row approvalRowHeight">
                                <div class="col-md-12">
                                    <P ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                        <b> {{step.status+' '+'By'+' '+step.approverDetails.firstName+' '+step.approverDetails.lastName+'/'+step.approver.desigCode+'/'+step.department.deptCode }}</b>
                                    </P>
                                </div>
                            </div>

                            <div class="row"
                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">

                                <div class="row col-md-12 ">
                                    <div class="col-md-12">
                                        <div class="col-md-1 col-xs-1">
                                            <h5>{{$index + 1}}. </h5>
                                        </div>
                                        <div class="col-md-5 col-xs-6">
                                            <textarea ng-disabled="IsUserApprover != true || currentAccess != step.order" rows="1" cols="50" ng-model="step.comments" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                            <lable ng-hide="IsUserApprover != true || currentAccess != step.order" class="text-danger">  {{commentsError}} </lable>
                                        </div>
                                        <div class="col-md-5 col-xs-5">
                                            <div class="row">
                                                <div class="col-md-6 col-xs-6">
                                                    <button class="btn btn-file" ng-click="updateTrack(step, 'APPROVED')" ng-disabled="IsUserApprover != true || currentAccess != step.order"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D" title="Reject" aria-hidden="true"></i></button>
                                                </div>
                                                <div class="col-md-6 col-xs-6">
                                                    <button class="btn btn-file" ng-click="updateTrack(step, 'REJECTED')" ng-disabled="IsUserApprover != true || currentAccess != step.order"><i class="fa fa-thumbs-down fa-2x" style="color:red" title="Reject" aria-hidden="true"></i></button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row col-md-12 top-half-buffer">
                                <div class="col-md-12">
                                    <b class="pull-left" ng-if="$index == 0">Recieved: {{dateFormat(step.dateCreated)}}</b>
                                    <b class="pull-left" ng-if="$index == 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')">&nbsp;|&nbsp;Sent: {{dateFormat(step.dateModified)}}</b>
                                    <b class="pull-left" ng-if="$index > 0 && itemWorkflow[0].WorkflowTracks[$index-1].status == 'APPROVED'">&nbsp;Recieved: {{dateFormat(itemWorkflow[0].WorkflowTracks[$index-1].dateModified)}}</b>
                                    <b class="pull-left" ng-if="$index > 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')">&nbsp;|&nbsp;Sent: {{dateFormat(step.dateModified)}}</b>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!--<div class="col-md-12" ng-if="deptType == 2 && assignToShow == 'APPROVED'">
                        ==============================
                        <div class="col-md-12" ng-repeat="step in itemWorkflow[0].WorkflowTracks">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <p ng-style="step.status == 'APPROVED' &amp;&amp; {'color':'#266A2D'} || step.status == 'REJECTED' &amp;&amp; {'color':'Red'}">
                                            <b>  {{step.status +' '+ 'By' +' ' +step.approverDetails.firstName + ' ' + step.approverDetails.lastName}}</b>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 list-group-item" href="#"
                                             ng-style="step.status == 'APPROVED' &amp;&amp; {'color':'#266A2D'} || step.status == 'REJECTED' &amp;&amp; {'color':'Red'}">
                                            <div class="row col-md-12 text-center">
                                                <div class="col-md-1">
                                                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                                                </div>
                                                <div class="col-md-3">
                                                    <textarea ng-disabled="IsUserApprover != true || currentAccess != step.order" rows="4" cols="50" ng-model="step.comments" placeholder="Comments" type="text" class="form-control fg-input ng-pristine ng-untouched ng-valid ng-empty" style="height:100px !important;resize: vertical;" disabled="disabled"></textarea>
                                                    <lable ng-hide="IsUserApprover != true || currentAccess != step.order" class="text-danger ng-binding ng-hide">   </lable>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="row col-md-6">
                                                        <div class="col-md-12">
                                                            <button class="btn btn-file" ng-click="updateTrack(step, 'APPROVED')" ng-disabled="IsUserApprover != true || currentAccess != step.order" disabled="disabled"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D" title="Approve" aria-hidden="true"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="row col-md-6">
                                                        <div class="col-md-12">
                                                            <button class="btn btn-file" ng-click="updateTrack(step, 'REJECTED')" ng-disabled="IsUserApprover != true || currentAccess != step.order" disabled="disabled"><i class="fa fa-thumbs-down fa-2x" style="color:red" title="Reject" aria-hidden="true"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row col-md-6">
                                                    <div class="col-md-6">
                                                        &nbsp;
                                                        <b class="pull-left ng-binding">Designation:{{step.approver.desigCode}}</b>
                                                    </div>
                                                    <div class="col-md-6">
                                                        &nbsp;
                                                        <b class="pull-left ng-binding">Department: {{step.department.deptCode}}</b>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    &nbsp;   <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-md-12 text-right">
                                            <i class="fa fa-arrow-down fa-2x ng-scope" aria-hidden="true" ng-if="itemWorkflow[0].WorkflowTracks.length != ($index + 1)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <br />
                </div>

                <div ng-if="deptType == 2 && assignToShow == 'APPROVED'">
                    <div class="row" style="margin-left:15px !important; margin-right:15px !important;max-width:100%; overflow-x:auto;">
                        <div class="text-center">
                            <div class="col-md-4">
                                <br />
                                <b class="pull-left"> Assign To</b>
                            </div>
                        </div>
                        <div class="col-md-12  list-group-item">
                            <div class="col-md-4" ng-repeat="purchaseUser in PurchaseDept">
                                <input type="checkbox" ng-model="purchaseUser.isIndentAssigned" ng-change="consoleLog(purchaseUser.isIndentAssigned);">&nbsp;{{purchaseUser.firstName + ' ' + purchaseUser.lastName}}
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button class="btn-primary btn" ng-click="SaveRFQCreators();">Assign Indent</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </section>
</section>