﻿<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<section id="main">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->
    <section id="content">
        <div class="container" data-ng-controller="materialsPurchaseIndentCtrl">
            <div class="card">
                <div class="card-header">
                    <h4 style="text-align:center;"><strong>MATERIALS PURCHASE INDENT </strong></h4>
                </div>
                <!--<div class="card-body card-padding">
                </div>-->

                <table class="table table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5;">
                    <tr style="border:1px">
                        <th style="text-align:center">
                            Indent Number :
                        </th>
                        <td> {{indentDetails.indNo}} </td>


                        <th style="text-align:center">
                            Department :
                        </th>
                        <td> {{indentDetails.department}} </td>

                        <th style="text-align:center">
                            Date :
                        </th>
                        <td> {{indentDetails.requestDate}} </td>
                    </tr>
                    <tr style="border:1px">                        
                        <th style="text-align:center">                            
                        </th>
                    </tr>
                </table>

                <table class="table table-responsive z-depth-1 clear-both">
                    <tr>
                        <td>
                            <h4> Please issue the following for the purpose mentioned below: </h4> 
                        </td> 
                    </tr>
                </table>

                <table class="table table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5;">
                    <thead>
                        <tr style="width:100%;" class=" dl-horizontal">
                            <th style="width:5%;text-align:center"> Sl.No </th>
                            <th style="width:30%;text-align:center"> Material Description  </th>
                            <th style="width:20%;text-align:center" colspan="2" scope='colgroup'> Existing Quantity  </th>
                            <th style="width:10%;text-align:center"> Required Qty </th>
                            <th style="width:30%;text-align:center"> Purpose of Material </th>
                            <th></th>
                            <!--<th style="width:5%;text-align:center">Actions</th>-->

                        </tr>
                    </thead>

                    <tr>
                        <td></td>
                        <td></td>
                        <td style="width:10%;text-align:center"> <h5>  Functional </h5> </td>
                        <td style="width:10%;text-align:center"> <h5>  Non-Functional </h5>  </td>
                        <td></td>
                        <td></td>
                       <!-- <td style="text-align:center"><button class="btn btn-success" ng-click="addItem();"> + </button></td>-->
                    </tr>

                    <tr ng-repeat="item in indentDetails.listIndentItems track by $index">
                        <!--<td><input type="text" ng-model="item.sNO" name="sNO" id="sNO" ng-disabled="true" class="form-control fg-input" required></td>
                        <td><input type="text" ng-model="item.materialDescription" name="materialDescription" id="materialDescription" class="form-control fg-input" required></td>
                        <td><input type="text" ng-model="item.existFunctional" name="existFunctional" id="existFunctional" class="form-control fg-input" required></td>
                        <td><input type="text" ng-model="item.existNonFunctional" name="existNonFunctional" id="existNonFunctional" class="form-control fg-input" required></td>
                        <td><input type="text" ng-model="item.requiredQuantity" name="requiredQuantity" id="requiredQuantity" class="form-control fg-input" required></td>
                        <td><input type="text" ng-model="item.purposeOfMaterial" name="purposeOfMaterial" id="purposeOfMaterial" class="form-control fg-input" required></td>
                        <td style="text-align:center"><button class="btn btn-new-look" ng-click="delItem($index);"> X </button> </td>-->

                        <td>{{item.sNO}}</td>
                        <td style="text-align:center"">{{item.materialDescription}}</td>
                        <td style="text-align:center"">{{item.existFunctional}}</td>
                        <td style="text-align:center"">{{item.existNonFunctional}}</td>
                        <td style="text-align:center"">{{item.requiredQuantity}}</td>
                        <!--<td style="text-align:center"">{{item.requiredQuantity}}</td>-->
                        <td style="text-align:center"">{{item.purposeOfMaterial}}</td>


                    </tr>

                </table>

                <table class="table table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5;">
                    <tr style="border:1px">
                        <th style="text-align:center">
                            Requested By :
                            <!--<input type="text" ng-model="indentDetails.requestedBy" name="indentno" id="indentno" class="form-control fg-input" required>-->
                        </th>
                        <td> {{ indentDetails.requestedBy }}  </td>

                        <th style="text-align:center">
                            Approved By(HOD) :
                            <!--<input type="text" ng-model="indentDetails.approvedBy" name="indentno" id="indentno" class="form-control fg-input" required>-->
                        </th>
                        <td>  {{indentDetails.approvedBy}}  </td>
                        <th style="text-align:center">
                            Purchase Incharge :
                            <!--<input type="text" ng-model="indentDetails.purchaseIncharge" name="indentno" id="indentno" class="form-control fg-input" required>-->
                        </th>
                        <td> {{indentDetails.purchaseIncharge}}  </td>

                    </tr>
                    <tr style="border:1px">
                        <th style="text-align:center">                            
                        </th>                        
                    </tr>
                </table>
                <br />
                <br />
                <!--<div class="row text-center">
                    <button class="btn btn-primary btn-file btn-new-look" ng-click="SaveIndentDetails()">Save</button>
                    <button class="btn btn-primary btn-new-look" ng-click="cancelClick()">Cancel</button>
                </div>-->
                <br />
                <br />
            </div>
        </div>



    </section>
</section>