<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>


        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="dispatchTrackCtrl">
                <div class="white-box">
                    <form ng-submit="requirementForm.$valid && saveDescPoInfo()" class="requirementForm" name="requirementForm" novalidate>
                        <div class="row text-center">
                            <div class="col-md-12">
                                <h2>ASN History</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">&nbsp;</div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <strong>Requirement:</strong> {{dispatchTrack[0].vendorPOObject.req.title}}
                            </div>
                            <div class="col-md-4">
                                <strong>PO Number:</strong> {{dispatchTrack[0].purchaseID}}
                            </div>
                            <div class="col-md-4" ng-if="isCustomer">
                                <strong>Vendor:</strong> {{dispatchTrack[0].vendorPOObject.vendor.firstName}} {{dispatchTrack[0].vendorPOObject.vendor.lastName}}
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">&nbsp;</div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table tablesaw table-striped table-bordered table-hover">
                                        <thead>
                                            <tr style="font-weight: bold">
                                                <th style="width:15%">ASN Code</th>
                                                <!--<th style="width:15%">Tracking ID</th>-->
                                                <th style="width:15%">Delivery Date (ETA)</th>
                                                <th style="width:15%">Shipment Date</th>
                                                <th style="width:15%">Document Date</th>
                                                <th style="width:15%">Received Date</th>
                                                <th style="width:15%">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="dispatch in dispatchTrack">
                                                <td>{{dispatch.dispatchCode}}</td>
                                                <!--<td>{{dispatch.deliveryTrackID}}</td>-->
                                                <td>{{dispatch.dispatchDate}}</td>
                                                <td>{{dispatch.shipmentDate}}</td>
                                                <td>{{dispatch.documentDate}}</td>
                                                <td>{{dispatch.recivedDate}}</td>
                                                <td>
                                                    <a ng-if="!isCustomer && dispatch.dTID > 0" title="Edit Dispatch Meterial" role="button" ng-click="goToDispatchTrackForm(dispatch.purchaseID, dispatch.dispatchCode)" class="tm-icon zmdi-hc-2x zmdi zmdi-edit" style="width:30px; height:30px">Edit</a>
                                                    <a ng-if="isCustomer && dispatch.dTID > 0 && dispatch.recivedDate === ''" title="Accept Meterial" role="button" ng-click="goToDispatchTrackForm(dispatch.purchaseID, dispatch.dispatchCode)" class="tm-icon zmdi-hc-2x zmdi zmdi-file-text" style="width:30px; height:30px">Accept Material</a>
                                                </td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div class="row text-center">
                        <div class="col-md-12">
                            <button class="btn btn-info" ng-click="cancelPO()">Cancel</button>
                        </div>
                    </div>


                </div>
            </div>


        </div>

    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>