﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid"  style="height:90%;">
                <div>

                    <h4>Three Way Matching Data</h4>

                    <div class="white-box">
                        
                        <div class="pmb-block ng-scope" ng-controller="pendingAsnCtrl">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-2 form-group fg-float m-b-30">
                                    <label>Filter</label>
                                    <select class="form-control" ng-model="status"
                                            ng-change="setFilters1()">
                                        <option selected value="All">All</option>
                                        <option value="filtered">Dispute</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-md-12">From date</label>
                                        <div class="col-md-12" moment-picker="postedFromDate" format="DD-MM-YYYY">
                                            <input class="form-control" placeholder="Select a date" ng-model="postedFromDate" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-md-12">To date</label>
                                        <div class="col-md-12" moment-picker="postedToDate" format="DD-MM-YYYY">
                                            <input class="form-control" placeholder="Select a date" ng-model="postedToDate" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="setFilters1();">Apply</button></div>

                            </div>
                            <div class="col-md-12 pull-left" style="margin-bottom:10px">
                                <div class="col-md-2">
                                    <div style="border:1px solid #ccc">
                                        <h5 class="text-center" style="margin-top:5px;">PO's Processed ::  {{ PRStats.newPRs }}</h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div style="border:1px solid #ccc">

                                        <h5 class="text-center" style="margin-top:5px;">Invoice Submitted ::  {{ PRStats.partialPRs }}</h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div style="border:1px solid #ccc">
                                        <h5 class="text-center" style="margin-top:5px;">Material Receipts ::  {{ PRStats.inProgressPRs }}</h5>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div style="border:1px solid #ccc">
                                        <h5 class="text-center" style="margin-top:5px;">3-Way Match Success ::  {{successCount}}</h5>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div style="border:1px solid #ccc">
                                        <h5 class="text-center" style="margin-top:5px;">3-Way Match Failure ::  {{failureCount}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="table table-responsive table-fixed z-depth-2" ng-if="!isVendor">
                                <table ng-table="tctrl.tableSorting" class="table table-vmiddle table-bordered table-striped" show-filter="false">
                                    <tr ng-repeat="wf in threeWayMatchArray.poItemsEntity.slice(((currentPageMatch-1)*itemsPerPageMatch), ((currentPageMatch)*itemsPerPageMatch))" style="color:{{wf.displayColor}}">
                                        <td data-title="'ASN CODE'" sortable="'ID'">
                                            {{ wf.asnCode}}
                                        </td>
                                        <td data-title="'ASN Date'" sortable="'ID'">
                                            {{ wf.asnDate}}
                                        </td>
                                        <td data-title="'PRODUCT NAME'" sortable="'ID'">
                                            {{ wf.productIDorName}}
                                        </td>
                                        <td data-title="'PURCHASE ORDER ID'" sortable="'ID'">
                                            {{ wf.purchaseID}}
                                        </td>
                                        <td data-title="'PO Date'" sortable="'ID'">
                                            {{ wf.poCreatedDate}}
                                        </td>
                                        <td data-title="'PO Qty'" sortable="'ID'">
                                            {{ wf.vendorPOQuantity}}
                                        </td>
                                        <td data-title="'PO Price'" sortable="'ID'">
                                            {{ wf.poPrice}}
                                        </td>
                                        <td data-title="'Dispatch Qty'" sortable="'ID'">
                                            {{ wf.dispatchQuantity}}
                                        </td>
                                        <td data-title="'Invoice Price'" sortable="'ID'">
                                            {{ wf.invoiceAmount}}
                                        </td>
                                        <td data-title="'Invoice Date'" sortable="'ID'">
                                            {{ wf.invoiceDate}}
                                        </td>
                                        <td data-title="'GRN Date'" sortable="'ID'">
                                            {{ wf.grnDate}}
                                        </td>
                                        <td data-title="'Recieved Qty'" sortable="'ID'">
                                            {{ wf.sumRecivedQuantity}}
                                        </td>
                                        <td data-title="'Actions'" data-title-text="Actions">
                                            <a title="PO" role="button" ng-click=""><i class="fa fa-eye" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                            <a title="Vendor Invoice" role="button" ng-click="" class=""><i class="fa fa-file" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                            <a title="Material Receipt" role="button" ng-click="" class=""><i class="fa fa-file-pdf" aria-hidden="true"></i></a>

                                        </td>

                                        <!--<td data-title="'View ASN'" class="text-center" style="cursor:pointer;" ng-click="goToDispatchTrackForm(wf.objectID, wf.poOrderId, wf.dispatchCode)">
                <a ng-if="wf.dispatchCode">View ASN</a></td>-->
                                    </tr>
                                </table>
                                <ul uib-pagination total-items="totalMatch" ng-model="currentPageMatch" items-per-page="itemsPerPageMatch" max-size="maxSizeMatch" ng-change="pageChangedMatch()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>