﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div id="widget">
                    <div class="white-box" data-ng-controller="fwdcomparativesCtrl">

                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="pull-left">Comparisions</h2>
                            </div>
                            <div class="col-md-6">
                                <div class="dropdown pull-right" ng-if="!htmlToCanvasSaveLoading">
                                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-click="htmlToCanvasSave('jpg');" role="button">
                                            <a class="pull-left" data-toggle="modal" style="width:100%"><i class="fas fa-image"></i> .JPEG</a>
                                        </li>
                                        <li ng-click="htmlToCanvasSave('png');" role="button">
                                            <a class="pull-left" data-toggle="modal" style="width:100%"><i class="fas fa-image"></i> .PNG</a>
                                        </li>
                                        <!--<li ng-click="htmlToCanvasSave('pdf');" role="button">
                                            <a class="pull-left" data-toggle="modal" style="width:100%"><i class="far fa-file-pdf"></i> &nbsp;.PDF</a>
                                        </li>-->
                                    </ul>
                                </div>
                                <img ng-if="htmlToCanvasSaveLoading" src="img/logos/acadslogo_black.png" ng-click="htmlToCanvasSaveLoading=false" class="pull-right" width="100" height="50">
                            </div>

                        </div>

                        <div class="white-box">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-info" onclick="tableToExcel('testTable', 'Comparitives')" value="Export to Excel"><i class="fa fa-download" aria-hidden="true"></i> Export to Excel</button>
                                    </div>
                                </div>
                                <div class="table-responsive" double-scroll-bar-horizontal>
                                    <table id="testTable" class="table" style="width:100%;">
                                        <tr style="background-color:lightblue;">
                                            <td colspan="{{ReqReportForExcel.reqItems[0].reqVendors.length + 7}}" style="border:1px solid black;text-align:center;">
                                                <h3><strong>COMPARATIVE STATEMENT</strong></h3>
                                            </td>
                                        </tr>
                                        <tr style="background-color:lightblue;">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">
                                                <h5>RFQ NO: <strong>{{ReqReportForExcel.requirementID}}</strong></h5>
                                            </td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 5}}" style="border:1px solid black;">
                                                <h5>DATE: <strong>{{ReqReportForExcel.currentDate}}</strong></h5>
                                            </td>
                                        </tr>
                                        <tr style="background-color:lightblue">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">
                                                <h5>AUCTION NAME: <strong>{{ReqReportForExcel.title}}</strong></h5>
                                            </td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 5}}" style="border:1px solid black;">
                                                <h5>CREATED BY: <strong>{{ReqReportForExcel.custFirstName}}{{ReqReportForExcel.custLastName}}</strong></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" style="border:1px solid black;">
                                                &nbsp;
                                            </td>

                                            <td style="background-color:darkseagreen;border:1px solid black;">
                                                Vendor ID
                                            </td>

                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                <table>
                                                    <tr>
                                                        <td> {{vendor.vendorID}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="background-color:lightblue;border:1px solid black;">
                                                Material Description
                                            </td>
                                            <td style="background-color:lightblue;border:1px solid black;">
                                                Item No
                                            </td>
                                            <td style="background-color:lightblue;border:1px solid black;">
                                                Quantity
                                            </td>
                                            <td style="background-color:lightblue;border:1px solid black;">
                                                Units
                                            </td>
                                            <!--<td style="background-color:lightblue;border:1px solid black;">
                                                Preferred Brand
                                            </td>-->
                                            <td style="background-color:lightblue;border:1px solid black;">
                                                Site Name
                                            </td>
                                            <td style="background-color:darkseagreen;border:1px solid black;"></td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table>
                                                    <tr>
                                                        <td><strong>{{vendor.companyName}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="item in ReqReportForExcel.reqItems">
                                            <td style="border:1px solid black;" colspan="2">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productIDorName}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="border:1px solid black;">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productNo}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="width:100%;border:1px solid black;">
                                                <table>
                                                    <tr>
                                                        <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productQuantity}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="width:100%;border:1px solid black;">
                                                <table>
                                                    <tr>
                                                        <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productQuantityIn}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!--<td style="width:100%;border:1px solid black;">
                                                <table>
                                                    <tr>
                                                        <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productBrand}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>-->
                                            <td style="width:100%;border:1px solid black;">
                                                <table>
                                                    <tr>
                                                        <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productDescription}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="width:100%;background-color:darkseagreen;border:1px solid black;">
                                                <table>
                                                    <tr style="border-bottom:1px solid black">
                                                        <td style="min-width:100px;">vendor Units</td>
                                                    </tr>
                                                    <!--<tr style="border-bottom:1px solid black">
                                                        <td style="min-width:100px;">vendor Brand</td>
                                                    </tr>-->
                                                    <tr style="border-bottom:1px solid black">
                                                        <td style="min-width:100px;">Original</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black">
                                                        <td style="min-width:100px"> Increased</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black">
                                                        <td style="min-width:100px">Initial Total GST & GST %</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black">
                                                        <td style="min-width:100px"><!--{{item.productIDorName}}--> Initial Total</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black">
                                                        <td style="min-width:150px;"><!--{{item.productIDorName}}--> Rev Total</td>
                                                    </tr>
                                                    <!--<tr>
                <td style="min-width:150px;">Comments</td>
            </tr>-->
                                                </table>
                                            </td>
                                            <td ng-repeat="vendor in item.reqVendors" style="border:1px solid black;">
                                                <table style="width:100%">
                                                    <tr style="border-bottom:1px solid black;">
                                                        <td style="min-width:100px"> {{vendor.quotationPrices.vendorUnits?vendor.quotationPrices.vendorUnits:item.productQuantityIn}}&nbsp;</td>
                                                    </tr>
                                                    <!--<tr style="border-bottom:1px solid black;" class="prmellipsis150MaxHeight30" title="{{vendor.quotationPrices.vendorBrand}}">
                                                        <td style="min-width:100px"> <span class="prmellipsis150MaxHeight30">{{vendor.quotationPrices.vendorBrand}} </span>&nbsp;</td>
                                                    </tr>-->
                                                    <tr style="border-bottom:1px solid black;">
                                                        <td style="min-width:100px"> {{vendor.quotationPrices.unitPrice}}&nbsp;</td>
                                                    </tr>
                                                    <tr style="background-color:lightpink;border-bottom:1px solid black">
                                                        <td style="min-width:100px">
                                                            <strong>{{vendor.quotationPrices.revUnitPrice}}&nbsp;</strong>
                                                        </td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black;">
                                                        <td style="min-width:100px" ng-if="vendor.quotationPrices">
                                                            <span ng-if="vendor.quotationPrices.vendorUnits == item.productQuantityIn">
                                                                {{(item.productQuantity * vendor.quotationPrices.unitPrice)*(getTotalTax(vendor.quotationPrices))/100 | number: '2'}}&nbsp;
                                                            </span>
                                                            ({{getTotalTax(vendor.quotationPrices)}}%)
                                                        </td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black;">
                                                        <td style="min-width:100px" ng-if="vendor.quotationPrices.vendorUnits == item.productQuantityIn">{{vendor.quotationPrices.itemPrice}}&nbsp;</td>
                                                    </tr>
                                                    <tr style="background-color:lightpink;border-bottom:1px solid black;">
                                                        <td ng-if="vendor.quotationPrices.vendorUnits == item.productQuantityIn">
                                                            <strong>{{vendor.quotationPrices.revitemPrice}}&nbsp;</strong>
                                                        </td>
                                                    </tr>
                                                    <!--<tr style="">
                <td>
                    <strong ng-if="vendor.quotationPrices.isRegret">{{vendor.quotationPrices.regretComments}}&nbsp;</strong>
                </td>
            </tr>-->
                                                </table>
                                            </td>
                                        </tr>

                                        <!--<tr>
                                            <td colspan="6" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                Freight
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                {{vendor.vendorFreight}}&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                Rev Freight
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                <strong>{{vendor.revVendorFreight}}&nbsp;</strong>
                                            </td>
                                        </tr>-->
                                        <tr>
                                            <td colspan="6" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                Total Price
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                <span ng-hide="containsUOMITems(vendor.vendorID)">{{vendor.totalInitialPrice}}&nbsp;</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                Rev Total Price
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                <strong ng-hide="containsUOMITems(vendor.vendorID)">{{vendor.revVendorTotalPrice}}&nbsp;</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                Warranty
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                {{vendor.warranty}}&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                Price validity
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                {{vendor.validity}}&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                GST Number
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                {{vendor.gstNumber}}&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                Delivery terms
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                {{vendor.duration}}&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                Payment terms
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                {{vendor.payment}}&nbsp;
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="{{(ReqReportForExcel.reqItems[0].reqVendors.length) + 6}}" style="border:1px solid black;">&nbsp;</td>
                                        </tr>

                                        <tr style="text-align:left">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">Requirement ID</td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 5}}" style="border:1px solid black;"><strong>{{ReqReportForExcel.requirementID}}</strong></td>
                                        </tr>
                                        <tr style="text-align:left">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">Title</td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 5}}" style="border:1px solid black;"><strong>{{ReqReportForExcel.title}}</strong></td>
                                        </tr>
                                        <tr style="text-align:left">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">Posted Date</td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 5}}" style="border:1px solid black;"><strong>{{ReqReportForExcel.postedOn}}</strong></td>
                                        </tr>
                                        <tr style="text-align:left">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">Posted By</td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 5}}" style="border:1px solid black;"><strong>{{ReqReportForExcel.custFirstName}}{{ReqReportForExcel.custLastName}}</strong></td>
                                        </tr>
                                        <tr style="text-align:left">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">Negotiation Date</td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 5}}" style="border:1px solid black;"><strong>{{ReqReportForExcel.startTime}}</strong></td>
                                        </tr>
                                        <tr style="text-align:left">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">Earnings</td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 5}}" style="border:1px solid black;"><strong>{{(ReqReportForExcel.savings > 0)?ReqReportForExcel.savings :'NA'}}</strong></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--<div class="white-box">
                            <div class="row">
                                <h4>Item / Vendor Comparision</h4>
                                <div class="table-responsive">
                                    <table class="text-center" style="width:100%;" id="11qq11">
                                        <tr>
                                            <td>
                                                <table style="width:100%;">
                                                    <tr style="background-color:#377ba0;color:#fff">
                                                        <td style="border:1px groove;min-width:50px;" colspan="2">S.NO</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border:1px groove;" colspan="2">&nbsp;</td>
                                                    </tr>
                                                    <tr ng-repeat="item in auctionItem.listRequirementItems">
                                                        <td style="border:1px groove;" colspan="2">{{$index + 1}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table style="width:100%;">
                                                    <tr style="background-color:#377ba0;color:#fff">
                                                        <td style="border:1px groove;min-width:200px;" colspan="2">Material Description</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border:1px groove;" colspan="2">&nbsp;</td>
                                                    </tr>
                                                    <tr ng-repeat="item in auctionItem.listRequirementItems">
                                                        <td style="border:1px groove;line-height:13px" colspan="2"><label class="prmellipsis" title="{{item.productIDorName}}">{{item.productIDorName}}</label></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table style="width:100%;">
                                                    <tr style="background-color:#377ba0;color:#fff">
                                                        <td style="border:1px groove;min-width:100px;" colspan="2">QTY</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border:1px groove;" colspan="2">&nbsp;</td>
                                                    </tr>
                                                    <tr ng-repeat="item in auctionItem.listRequirementItems">
                                                        <td style="border:1px groove;" colspan="2">{{item.productQuantity}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table style="width:100%;">
                                                    <tr style="background-color:#377ba0;color:#fff">
                                                        <td style="border:1px groove;min-width:100px;" colspan="2">UOM</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border:1px groove;" colspan="2">&nbsp;</td>
                                                    </tr>
                                                    <tr ng-repeat="item in auctionItem.listRequirementItems">
                                                        <td style="border:1px groove;" colspan="2">{{item.productQuantityIn}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td ng-repeat="vendor in auctionItem.auctionVendors">
                                                <table style="width:100%;">
                                                    <tr style="background-color:#377ba0;color:#fff">
                                                        <td class="text-center" style="border:1px groove;border-top:1px groove;" colspan="2">{{vendor.companyName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border:1px groove;min-width:100px;">Unit Price</td>
                                                        <td style="border:1px groove;min-width:150px;">Revised Unit Price</td>
                                                    </tr>
                                                    <tr ng-repeat="item in vendor.auctionItemVendor.listRequirementItems">
                                                        <td style="border:1px groove;font-weight:bold">{{item.unitPrice}}</td>
                                                        <td style="border:1px groove;font-weight:bold">{{item.revUnitPrice}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>-->

                        <br />

                        <!--<div class="white-box">
                            <div class="row">
                                <div class="col-md-12 m-b-20 padding0">
                                    <h4>Terms & Conditions</h4>
                                </div>
                                <table ng-table="tctrl.tableSorting" class="table table-responsive z-depth-1 clear-both" style="background-color:#FFF;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">Vendor Name</th>
                                            <th style="text-align:center">Warranty</th>
                                            <th style="text-align:center">Payment Terms</th>
                                            <th style="text-align:center">Delivery Terms</th>
                                            <th style="text-align:center">Price Validity</th>
                                            <th style="text-align:center">Other Properties</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="border:1px dotted" ng-repeat="vendor in auctionItem.auctionVendors">
                                            <td style="border:1px dotted">
                                                <strong>{{vendor.companyName}}</strong>
                                            </td>
                                            <td style="border:1px dotted">
                                                <strong>{{vendor.warranty}}</strong>
                                            </td>
                                            <td style="border:1px dotted">
                                                <strong>{{vendor.payment}}</strong>
                                            </td>
                                            <td style="border:1px dotted">
                                                <strong>{{vendor.duration}}</strong>
                                            </td>
                                            <td style="border:1px dotted">
                                                <strong>{{vendor.validity}}</strong>
                                            </td>
                                            <td style="border:1px dotted">
                                                <strong>{{vendor.otherProperties}}</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>-->

                        <!--<div class="white-box">
                            <div class="row">
                                <div class="col-md-12 m-b-20 padding0">
                                    <h4>Vendor Level Price Comparision</h4>
                                </div>

                                <table ng-table="tctrl.tableSorting" class="table table-vmiddle quotes_table" style="background-color:#FFF;">
                                    <thead>
                                        <tr>
                                            <th data-title="'Vendor city'" sortable="'City'">
                                                Company Name
                                            </th>
                                            <th data-title="'Vendor Name'" sortable="'Name'" class="vendorName">
                                                Vendor Name
                                            </th>

                                            <th data-title="'Rank'" sortable="'Rank'">
                                                Rank
                                            </th>
                                            <th ng-show="!auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'">
                                                Quotation Price
                                            </th>
                                            <th ng-show="auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'">
                                                Quotation Price
                                            </th>
                                            <th data-title="'View Quotations'">
                                                View Quotations
                                            </th>
                                            <th ng-hide="true" data-title="'Taxes (in %)'" sortable="'TaxPercent'">
                                                Taxes (in %)
                                            </th>
                                            <th data-title="'Price (incl. all Taxes)'" sortable="'TotalPriceIncl'">
                                                Closed Price
                                            </th>
                                            <th data-title="'Bid History'" sortable="'Bid History'">
                                                Previous Bids
                                            </th>
                                            <th ng-hide="auctionItem.status == 'STARTED' || auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED'" data-title="'Rev Quotation'" sortable="'Rev Quotation'">
                                                Rev.Quotation
                                            </th>
                                            <th ng-show="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED' )&& (auctionVendor.revquotationUrl == '' || auctionVendor.revquotationUrl == null)" data-title="'Quotation Aproovel'" sortable="'Quotation Aproovel'">
                                                Quotation Approval
                                            </th>
                                            <th data-title="'Price Reduction'" sortable="'Price Reduction'">
                                                Price Reduction %
                                            </th>
                                            <th data-title="'Tech. Evaluation'" sortable="'Tech. Evaluation'">
                                                Tech. Evaluation
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="auctionVendor in auctionItem.auctionVendors">
                                            <td data-title="'Vendor city'" sortable="'City'">                                                
                                                <span><strong><a target="_blank" href="prm360.html#/viewprofile/{{auctionVendor.vendorID}}">{{auctionVendor.companyName}}</a></strong></span>
                                            </td>
                                            <td data-title="'Vendor Name'" sortable="'Name'" class="vendorName">
                                                {{ auctionVendor.vendorName }}
                                            </td>

                                            <td data-title="'Rank'" sortable="'Rank'">
                                                {{(auctionVendor.runningPrice == 0 || auctionVendor.rank == 0)?'-':auctionVendor.rank}}
                                            </td>
                                            <td ng-show="!auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'" ng-bind-html="auctionVendor.initialPrice | numToCurrency:auctionItem.currency"></td>
                                            <td ng-show="auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'" ng-bind-html="auctionVendor.initialPrice | numToCurrency:auctionItem.currency"></td>
                                            <td data-title="'View Quotations'">
                                                <a target="_blank" href="FileDownload.aspx?attachid={{auctionVendor.quotationUrl}}&sessionid={{sessionid}}" ng-show="auctionVendor.quotationUrl!=''">View Quotation</a>
                                            </td>
                                            <td ng-hide="true" data-title="'Taxes (in %)'" sortable="'TaxPercent'">
                                                {{auctionVendor.taxes}}
                                            </td>
                                            <td data-title="'Price (incl. all Taxes)'" sortable="'TotalPriceIncl'" ng-bind-html="auctionVendor.totalRunningPrice | numToCurrency:auctionItem.currency"></td>
                                            <td data-title="'Bid History'" sortable="'Bid History'">
                                                <span><strong><a target="_blank" href="prm360.html#/bidhistory/{{auctionVendor.vendorID}}/{{auctionItem.requirementID}}/false">Previous Bids</a></strong></span>
                                            </td>

                                            <td ng-hide="auctionItem.status == 'STARTED' || auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED' || auctionVendor.revquotationUrl == '' || auctionVendor.revquotationUrl == null" data-title="'Rev Quotation'" sortable="'Rev Quotation'">
                                                <a target="_blank" href="FileDownload.aspx?attachid={{auctionVendor.revquotationUrl}}&sessionid={{sessionid}}" ng-show="auctionVendor.quotationUrl!=''">View Rev Quotation</a>
                                            </td>

                                            <td ng-show="auctionItem.status != 'STARTED' && auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && (auctionVendor.revquotationUrl == '' || auctionVendor.revquotationUrl == null)" data-title="'Rev Quotation'" sortable="'Rev Quotation'">
                                                Not Uploaded
                                            </td>

                                            <td data-title="'Price Reduction'" sortable="'Price Reduction'">
                                                {{(auctionVendor.reductionPercentage <= 0)?'NA':auctionVendor.reductionPercentage}}
                                            </td>
                                            <td data-title="'Tech. Evaluation'" sortable="'Tech. Evaluation'">
                                                {{auctionVendor.techEvalScore}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>