/*login styles */
.lc-block:not(.lcb-alt){
  /*padding:29px 70px 29px 26px;*/
      /*padding: 29px 45px 29px 15px;*/
      padding: 29px;
      margin: 12% 0%;
}
.lc-block{
  /*width: 350px;*/
}
.registerations{
  color: #00bcd4;
}
.block-header > h2{
  font-size: 20px;
  color: #000;
}
.block-header{
  padding: 0px;
}

.registerations:hover{
  color: #f00;
}
.forgotcolor{
  color: #f44336 !important;
  text-align: right;
  float: right;
}
.lc-block .checkbox{
  margin:5px 0 0 5px;
}
form.loginForm {
  margin-bottom: 10px !important;
}
.registrationDiv{
  margin-bottom: 0px;
  margin-top: 15px;
}
/*.forgotfielddiv{
  margin-top: 40px;
}*/
.auctionImage{
  height: 125px;
  width: 125px;
}
/*end login styels*/

/* tile styles */
h4.titlelink{
      position: relative;
    overflow: hidden;
    height: 35px;
    margin-bottom: 12px;
}

span.tileTitle {
  font-size: 14px;
}
/*end tile styles*/
.padding0{
  padding: 0px;
}
#sidebar,#chat{
	top: 100px;
}
#sidebar{
  top: 115px;
}
.logo{
	margin-bottom: 20px;
}
.lc-block{
  margin-top: 100px;
}
.pl0{
  padding-left: 0px;
}
.pr0{
  padding-right: 0px;
}
.vendorsLi{
  text-align: left;
  padding: 10px !important;
}
.header-inner {
    padding: 5px 0 0 0;
}
.form-group {
    margin-bottom: 30px;
}
  li.active-result,  li.result-selected{
    text-align: left !important;
  }
form.loginForm .input-group-addon,form.registerForm .input-group-addon,form.vendorregisterForm .input-group-addon,form.form.forgotForm .input-group-addon{
  /*min-width: 20px !important;*/
}

form.loginForm, form.registerForm, form.vendorregisterForm, form.forgotForm {
  margin-top: 20px;
}
div.alreadyregisterd{
  margin-bottom: 20px;
}
form.loginForm .alert{
  font-size: 13px;
    margin-left: 23px;
    margin-bottom: 32px;
}
.fltleft{
  float: left;
}
.clear-both{
  clear: both;
}
.error.logininput{
  color: #f00;
  text-align: left;
}
section#content{
	padding-top: 20px;
}
.card {
    position: relative;
    margin-bottom: 24px;
    background-color: #ffffff;
    color: #313534;
    border-radius: 2px;
    /*-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);*/
}
.card-body:last-child {
    border-radius: 0 0 2px 2px;
}
.alert.alert-callout {
    position: relative;
    padding-left: 20px;
    background: #ffffff;
    color: #313534;
    border-radius: 3px;
    border-color: rgba(83, 88, 88, 0.15);
}
.cardHeight{
  min-height: 120px;
  border-radius: 10px;
}
.vendorName {
    text-transform: capitalize;
}
/*Rating system styles*/
div.stars {
  width: 270px;
  display: inline-block;
}
.reduceseconds{
  margin-top: 10px;
  text-align: center;
}
.row.reduceseconds button {
    font-size: 10px;
}
input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
.icons .bids {
    color: #ccc;
}
.line1{border-bottom:1px solid #efefef;margin:5px 0 10px}
input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
/*form.loginForm {
  margin-bottom: 50px;
}*/
.top-buffer{
  margin-top:20px;
}

.bottom-buffer{
	margin-bottom:30px;
}

.left-buffer{
  margin-left:30px;
}
.ih-item.ih-material a:hover .info-content{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}.ih-item.ih-material a:hover .info-mask{opacity:.8;-webkit-transform:scale(1.21);-moz-transform:scale(1.21);-ms-transform:scale(1.21);-o-transform:scale(1.21);transform:scale(1.21)}
.ih-item.ih-material {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.ih-item a {
    color: #333;
}
.ih-item.ih-material .info-mask {
    content: '';
    position: absolute;
    top: -25%;
    left: 0;
    right: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
timer span{
  display: inline-block !important;
  padding: 3px;
  text-align: center;
}
timer span.countdown_amount{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.ih-item.ih-material .info-content {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ih-item.ih-material .info-content .info-inner h3 {
    margin: 50px 0 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
}
.ih-item.ih-material .info-content .info-inner p {
    font-style: italic;
    font-size: 12px;
    color: #eee;
}
.ih-item.ih-material .info-content .info-inner {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
.bg-primary {
    background-color: #009688;
    color: #fff;
}
.bg-white {
    background-color: #fff;
    color: #3D4051;
}
.card .card-title {
    font-size: 24px;
}
.card .card-image .card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
.card .card-content .card-profile-img img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.card .card-content p {
    margin: 0;
    color: inherit;
}
.card .card-action>a {
    margin-right: 20px;
    text-transform: uppercase;
}
.bg-white a {
    color: #3D4051;
}
.card .card-image {
    position: relative;
}
.card .card-content {
    padding: 10px;
    border-radius: 0 0 2px 2px;
}
.card .card-action {
    border-top: 1px solid rgba(0,0,0,0.05);
    padding: 10px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
  margin-bottom: 0px;
  height: 25px;
  line-height: 0px;
}

.help-block {
     margin-top: 0px;    
}
.error.logininput {
    position: absolute;
    white-space: nowrap;
}
/*vendors div*/
.addNewVendor,.selectVendors{
    padding: 0px;
}
.addNewVendor span{
  float: right;
}
.selectVendors span{
  float: left;
}
.vendorsDivA, .vendorsDivB{
  padding-bottom: 20px;
  padding-top: 20px;
}
.vendorsDivB .vendorBUl:last-child{
  padding-bottom: 20px; 
}
.p-r-0{
  padding-right: 0px ;
}
.p-l-0{
  padding-left: 0px;
}
/* Hot Auctions Styles */

.itemdata{
  float:left;
}

.hotauctions,.todayauctions,.scheduledauctions{
  min-height:170px;
}
.sectiontitle h2{
  font-size: 20px !important;
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.tilesBackground{
  margin-bottom: 30px;
  padding: 15px;
  background: #fff;
}
.noitems{
  padding-left: 15px;
}
.cardseemore{
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
    bottom: 10px;
    clear: both;
}

    .ellipsis {
      overflow: hidden;
      height: 180px;
      line-height: 25px;
      margin: 20px; 
    }

    .ellipsis:before {
      content:"";
      float: left;
      width: 5px; height: 180px; }

    .ellipsis > *:first-child {
      float: right;
      width: 100%;
      margin-left: -5px; }    

    .ellipsis:after {
      content: "\02026more";  

      box-sizing: content-box;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;

      float: right; position: relative;
      top: -25px; left: 100%; 
      width: 3em; margin-left: -3em;
      padding-right: 5px;
      
      text-align: right;

      background: -webkit-gradient(linear, left top, right top,
        from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
      background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);     
      background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
      background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
      background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); }

/* card flyping */

/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);*/

/*html {
    height: 100%;
}*/

/*body {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/111167/grad-bg.png") no-repeat center center/cover #F9D8AD;
    height: 100%;
}*/

button:focus {
    outline: none;
}

button:hover {
    opacity: .8;
}

/*.fa {
    font-size: 20px;
}*/

.fa-info {
    color: white;
}

#container_animation {
    height: 150px;
   /* width: 150px;*/
    background: white;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
   /* transform: translate3d(-50%, -50%, 0);*/
}

/*h2 {
    padding: 20px;
    color: white;
    background: #3E4FB2;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
  font-family: 'Roboto', sans-serif;
}*/

.detail {
    color: #777;
    font-size: 25px;
    line-height: 2;
    text-align: center;
  font-family: 'Roboto';
}

.img-wrapper {
    padding: 0;
    position: relative;
}

.img-wrapper:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(62, 79, 178, .25);
    width: 100%;
}

.img-wrapper img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0;
    display: block;
    position: relative;
}

.button-wrapper {
    width: 50px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    right: 20px;
    bottom: 20px;
}

#container_animation button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
    z-index: 9;
    position: absolute;
    right: 5px;
    top: 5px;
}
#container_animation h4{
  margin-top: 16px;
  text-align: center;
}

#container_animation .main-button {
    background:#2196f3;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: relative;
    right: -20px;
}
.mini-charts{
  margin-bottom: 30px;
      margin-left: -30px;
    margin-right: -30px;
}

#container_animation .ripple {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 50%;
    z-index: -9;
    background: transparent;
    border: 1px solid #2196f3;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 1;
}

.rippling {
    -webkit-animation: .3s rippling 1;
    animation: .3s rippling 1;
    -moz-animation: .3s rippling 1;
}

.fg-float .selectfield.fg-label{
	top : 15px !important;
}
.fg-float .fg-toggled .selectfield.fg-label{
	top : -14px !important;
}
@-webkit-keyframes rippling {

    25% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }

}

@-moz-keyframes rippling {

    25% {
        -moz-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        -moz-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }

}

@keyframes rippling {

    25% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }

}

.layer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: #2196f3;
    border-radius: 50%;
    z-index: -99;
    pointer-events: none;
}

.button-wrapper.clicked {
    -webkit-transform: rotate(90deg) translateY(-96px);
    -ms-transform: rotate(90deg) translateY(-96px);
    transform: rotate(90deg) translateY(-96px);
    right: 0;
    bottom: 0;
    -webkit-transition: .3s all ease .6s;
    transition: .3s all ease .6s;
}

.button-wrapper.clicked .main-button {
    opacity: 0;
    -webkit-transition: .3s all ease .3s;
    transition: .3s all ease .3s;
}

.button-wrapper.clicked .layer {
    -webkit-transform: scale(100);
    -ms-transform: scale(100);
    transform: scale(100);
    -webkit-transition: 2.25s all ease .9s;
    transition: 2.25s all ease .9s;
}

.layered-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
}

.content{
  font-size: 15px;
  color: #fff;
}

.layered-content.active {
    opacity: 1;
}

.close-button {
    background: white;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #2196f3;
}

.layered-content.active .close-button {
    -webkit-animation: .5s bounceIn;
    animation: .5s bounceIn;
}

.layered-content .content img {
    width: 80px;
    -webkit-shape-outside: 80px;
    shape-outside: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 15px;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

.content p {
    color: white;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}
p.detail i{
      font-size: 34px;
}
.content p a {
    font-size: 12px;
    background: white;
    padding: 2.5px 5px;
    color: #2196f3;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    margin-left: 1.5px;
}

.content img,
.content p {
    opacity: 0;
    position: relative;
    top: -7.5px;
}

.layered-content.active .content img {
    opacity: 1;
    top: 0;
    -webkit-transition: .5s all ease .5s;
    transition: .5s all ease .5s;
}

.layered-content.active .content p {
    opacity: 1;
    top: 0;
    -webkit-transition: .5s all ease 1s;
    transition: .5s all ease 1s;
}
/*
.modal.fade.in {
    margin-left: 30% !important;
}
.modal{
  background-color:transparent;
}*/

.otplogo{
  width: 130px;
}

.prmellipsis{
    display:inline-block;
    width:250px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.collapseableh2{
  cursor: pointer;
}

.angular-input-stars{
  white-space: nowrap;
}

.vendorviewprofile.card{
  width: 50%;
  margin: 0% 25%;
}

@media (max-width: 1023px) {

  .vendorviewprofile.card{
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
}

@media (max-width: 767px) {
  .pmbb-body.p-l-30{
    padding: 0px !important;
  }
  .m-p-0{
    padding: 0px;
  }
}


/*iPad in portrait & landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) { 
/* STYLES GO HERE */
  .detail {
      font-size: 35px;   
  }
  .vendorviewprofile.card{
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
}

/*iPad in landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
  .lc-block:not(.lcb-alt){
      margin: 20% 0%;
  }
}

/*iPad in portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 

/* STYLES GO HERE */ 
  .lc-block:not(.lcb-alt){
        margin: 44% 0%;
  }
}

/*iPhone 6 in portrait & landscape*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { 
/* STYLES GO HERE */
  .lc-block:not(.lcb-alt){
        margin: 50% 0%;
  }
}

/*iPhone 6 in landscape*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { 
/* STYLES GO HERE */
  .lc-block:not(.lcb-alt){
        margin: 2% 0%;
  }
}

/*iPhone 6 in portrait*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) { 
/* STYLES GO HERE */ 

}

/*iPhone 6 Plus in portrait & landscape*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) { 
/* STYLES GO HERE */

}
/*iPhone 6 Plus in landscape*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) { 
/* STYLES GO HERE */
  .lc-block:not(.lcb-alt){
        margin: 2% 0%;
  }
}
/*iPhone 6 Plus in portrait*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) { 
/* STYLES GO HERE */ 
  .lc-block:not(.lcb-alt){
        margin: 50% 0%;
  }
}

/*iPhone 5 & 5S in portrait & landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
/* STYLES GO HERE */

}
/*iPhone 5 & 5S in landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
/* STYLES GO HERE */
  .lc-block:not(.lcb-alt){
        margin: 0% 0%;
  }
}
/*iPhone 5 & 5S in portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { 
/* STYLES GO HERE */ 
  .lc-block:not(.lcb-alt){
        margin: 35% 0%;
  }
}

/*iPhone 2G-4S in portrait & landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 
/* STYLES GO HERE */

}
/*iPhone 2G-4S in landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) { 
/* STYLES GO HERE */

}
/*iPhone 2G-4S in portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) { 
/* STYLES GO HERE */ 

}