﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="approvalQCSListCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-4">
                            <!--<h4>Approved QCS</h4>-->
                            <h4>Approved PRs/QCS</h4>
                        </div>
                        <div class="col-md-4 ">
                            <div class="col-md-4"><strong>Filter By Module</strong></div>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="moduleName" ng-options="type.value as type.display for type in modules"
                                        ng-change="setFilters(moduleName,'',false)">
                                    <option value=''>Select</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="col-md-4">
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(moduleName,search,true);" ng-model="search" type="text" placeholder="Search Approved PRs/QCS">
                        </div>


                    </div>
                    
                    <div class="row">
                        <table class="table-striped table table-responsive z-depth-1 clear-both">
                            <thead>
                                <tr style="font-weight: bold">
                                    <!--<th style="width:10%">QCS No.</th>
                                    <th style="width:10%">QCS Type</th>
                                    <th style="width:10%">Req ID</th>
                                    <th style="width:10%">Req Title</th>
                                    <th style="width:10%">QCS Approved On</th>-->

                                    <th style="width:10%">PR/QCS ID</th>
                                    <th style="width:10%">PR/QCS Type</th>
                                    <th style="width:10%">Module</th>
                                    <th style="width:10%">REQ/PR Number</th>
                                    <th style="width:10%">REQ Title</th>
                                    <th style="width:10%">PR/QCS Approved On</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="qcs in qcsApprovalList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                    <td>
                                        <!--<a class="prmellipsis" style="cursor:pointer;" ng-click="navigateToQCS(qcs)">{{qcs.MODULE_ID}}</a>-->
                                        {{qcs.MODULE_ID}}
                                    </td>
                                    <td>
                                        {{qcs.MODULE_TYPE}}
                                    </td>
                                    <td>
                                        {{qcs.REFER_MODULE_NAME}}
                                    </td>
                                    <!--<td>
                                        <a class="prmellipsis" style="cursor:pointer;" data-ui-sref="view-requirement({Id:qcs.REFER_MODULE_LINK_ID})">{{qcs.REFER_MODULE_LINK_ID}}</a>
                                    </td>-->
                                <td>
                                    <!--<a title="View PR" role="button" ng-click="goToPrView(qcs.MODULE_ID,qcs.REFER_MODULE_NAME,qcs.REFER_MODULE_LINK_ID)">{{qcs.REFER_MODULE_LINK_NAME}}</a>-->
                                    <a title="View PR" role="button" ng-click="goToPrView(qcs.MODULE_ID,qcs)">{{ qcs.REFER_MODULE_NAME == 'QCS'?qcs.REFER_MODULE_LINK_NUMBER:qcs.REFER_MODULE_LINK_NAME}}</a>
                                </td>
                                <td>
                                    {{qcs.title}}
                                </td>
                                    <td>
                                        {{qcs.APPROVAL_DATE}}
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
