﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listQCSCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>QCS List</h4>
                        </div>
                        <div class="col-md-2 pull-right text-right" ng-if="enableQCSIfCreated && enableQCSDomestic">
                            <button class="btn btn-info" ng-click="goToSaveDomesticQCS(reqID, 0)">Create Domestic</button>
                        </div>
                        <div class="col-md-3 pull-right text-right" ng-if="enableQCSIfCreated">
                            <button class="btn btn-info" ng-click="goToSaveImportQCS(reqID, 0)">Create Import</button>
                        </div>
                        <!--<div class="col-md-1 pull-left">
            <button class="btn btn-info" ng-click="goToApprovalQCS()">Approved QCS List</button>
        </div>-->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="tablesaw table-striped table table-responsive z-depth-1 clear-both">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th style="width:10%">QCS NO</th>
                                        <th style="width:10%">REQ NO</th>
                                        <th style="width:10%">QCS TYPE</th>
                                        <th style="width:10%">PR NO</th>
                                        <th style="width:20%">PURCHASE GROUP</th>
                                        <th style="width:10%">PRIORITY</th>
                                        <!--<th style="width:10%">SAVINGS</th>
                                        <th style="width:10%">SAVINGS IN INR</th>
                                        <th style="width:10%">PROCUREMENT VALUE</th>
                                        <th style="width:10%">PROCUREMENT VALUE IN INR</th>-->
                                        <th style="width:10%">STATUS</th>
                                        <th style="width:15%; text-align:center">Actions</th>
                                        <th style="width:15%; text-align:center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="qcs in QCSList">
                                        <td>
                                            {{qcs.QCS_ID}}
                                        </td>
                                        <td>
                                            {{qcs.REQ_NUMBER}}
                                        </td>
                                        <td>
                                            {{qcs.QCS_TYPE}}
                                        </td>
                                        <td>
                                            {{requirementDetails.PR_NUMBER}}
                                        </td>
                                        <td>
                                            {{qcs.PURCHASE_GROUP}}
                                        </td>
                                        <td>
                                            {{qcs.isPrimary}}
                                        </td>
                                        <!--<td>
                                            {{qcs.SAVINGS | number : companyRoundingDecimalSetting}}
                                        </td>
                                        <td>
                                            {{qcs.SAVINGS_IN_REQUIRED_CURRENCY | number : companyRoundingDecimalSetting}}
                                        </td>
                                        <td>
                                            {{qcs.TOTAL_PROCUREMENT_VALUE | number : companyRoundingDecimalSetting}}
                                        </td>
                                        <td>
                                            {{qcs.TOTAL_PROCUREMENT_VALUE_IN_REQUIRED_CURRENCY | number : companyRoundingDecimalSetting}}
                                        </td>-->
                                        <td>
                                            {{qcs.STATUS}}
                                        </td>
                                        <td data-title="'Actions'" ng-if="qcs.QCS_TYPE === 'IMPORT'" sortable="'Actions'" style="text-align:center">
                                            <a class="fa fa-edit" role="button" ng-click="goToSaveImportQCS(reqID, qcs.QCS_ID)"></a>
                                        </td>
                                        <td data-title="'Actions'" ng-if="qcs.QCS_TYPE === 'DOMESTIC'" sortable="'Actions'" style="text-align:center">
                                            <a class="fa fa-edit" role="button" ng-click="goToSaveDomesticQCS(reqID, qcs.QCS_ID)"></a>
                                        </td>
                                        <td>
                                            <a ng-if="userID == requirementDetails.RFQ_CREATOR && qcs.IS_PRIMARY_ID != 1" class="fa fa-trash" title="Delete" role="button" ng-click="DeleteQcs(reqID, qcs.QCS_ID)"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row" ng-show="InActiveQCSList.length > 0">
                        <div class="col-md-6">
                            <h4>Deleted QCS History</h4>
                        </div>
                    </div>
                    <div class="row" ng-show="InActiveQCSList.length > 0">
                        <table class="tablesaw table-striped table table-responsive z-depth-1 clear-both">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th style="width:10%">QCS NO</th>
                                    <th style="width:10%">REQ ID</th>
                                    <th style="width:10%">QCS TYPE</th>
                                    <th style="width:10%">PR NO</th>
                                    <th style="width:10%">PURCHASE GROUP</th>
                                    <th style="width:10%">PRIORITY</th>
                                    <th style="width:10%">DELETED ON</th>
                                    <th style="width:10%">SAVINGS</th>
                                    <th style="width:10%">PROCUREMENT VALUE</th>
                                    <th style="width:10%">STATUS</th>
                                    <th style="width:15%; text-align:center">Actions</th>
                                    <th style="width:15%; text-align:center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="qcs in InActiveQCSList">
                                    <td>
                                        {{qcs.QCS_ID}}
                                    </td>
                                    <td>
                                        {{qcs.REQ_ID}}
                                    </td>
                                    <td>
                                        {{qcs.QCS_TYPE}}
                                    </td>
                                    <td>
                                        {{requirementDetails.PR_NUMBER}}
                                    </td>
                                    <td>
                                        {{requirementDetails.PURCHASE_GROUP}}
                                    </td>
                                    <td>
                                        {{qcs.isPrimary}}
                                    </td>
                                    <td>
                                        {{deletedOn(qcs.MODIFIED_DATE)}}
                                    </td>
                                    <td>
                                        {{qcs.SAVINGS | number : companyRoundingDecimalSetting}}
                                    </td>
                                    <td>
                                        {{qcs.TOTAL_PROCUREMENT_VALUE | number : companyRoundingDecimalSetting}}
                                    </td>
                                    <td>
                                        {{qcs.STATUS}}
                                    </td>
                                    <td data-title="'Actions'" ng-if="qcs.QCS_TYPE === 'IMPORT'" sortable="'Actions'" style="text-align:center">
                                        <a class="fa fa-edit" role="button" ng-click="goToSaveImportQCS(reqID, qcs.QCS_ID)"></a>
                                    </td>
                                    <td data-title="'Actions'" ng-if="qcs.QCS_TYPE === 'DOMESTIC'" sortable="'Actions'" style="text-align:center">
                                        <a class="fa fa-edit" role="button" ng-click="goToSaveDomesticQCS(reqID, qcs.QCS_ID)"></a>
                                    </td>
                                    <td>
                                        <a ng-if="userID == requirementDetails.RFQ_CREATOR" class="fa fa-check" title="Activate" role="button" ng-click="ActivateQcs(reqID, qcs.QCS_ID)"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
