<!--<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">-->

                <div ng-controller="companyDepartmentsCtrl">
                    <!--<div class="white-box">
                        <div class="row">

                            <div class="col-md-12">
                                <button data-ng-click="displayCard = 3" class="btn btn-info m-t-20  pull-right add-new-btn">Budget Codes</button>
                                <button data-ng-click="displayCard = 2" class="btn btn-info m-t-20  pull-right add-new-btn">Categories</button>
                                <button data-ng-click="displayCard = 1" class="btn btn-info m-t-20  pull-right add-new-btn">Departments</button>
                                <button data-ng-click="displayCard = 0" class="btn btn-info m-t-20  pull-right add-new-btn">All</button>
                            </div>
                        </div>
                    </div>-->
                        <div class="white-box" ng-show="displayCard == 1 || displayCard == 0">
                            <div class="box-title">
                                <div class="form-group fg-float col-md-4 m-b-30">
                                    <h3>Company Departments</h3>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchTable()" ng-model="searchKeyword" type="text" placeholder="Search">
                                </div>
                                <div class="form-group fg-float col-md-4 m-b-30">
                                    <button ng-if="!addnewdeptView" ng-click="editDepartment(department)" class="btn btn-info pull-right add-new-btn">Add New Department</button>
                                </div>
                            </div>
                            <div class="row">

                                <div ng-if="addnewdeptView">
                                    <div class="col-md-12">
                                        <div class="form-group fg-float col-md-3 m-b-30 top-half-buffer">
                                            <label class="fg-label">Department Name</label>
                                            <div class="fg-line" ng-class="{'fg-toggled': (department.deptCode)}">
                                                <input type="text" ng-model="department.deptCode" name="deptCode" id="deptCodeID" class="form-control fg-input" />

                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-md-3 m-b-30">
                                            <label class="fg-label">Department Desc</label>
                                            <div class="fg-line" ng-class="{'fg-toggled': (department.deptDesc)}">
                                                <textarea type="text" ng-model="department.deptDesc" name="deptDesc" id="deptDescID" rows="2" style="resize: vertical;" class="form-control fg-input" />

                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-md-3 m-b-30">
                                            <label>Branch </label>
                                            <select data-placeholder="Select Type" name="branch" ng-model="department.deptBranch" ng-options="branch.configValue as branch.configValue for branch in companyBranches" class="form-control"></select>
                                        </div>

                                        <div class="form-group fg-float col-md-3 m-b-30">
                                            <label>Department Type </label>
                                            <select data-placeholder="Select Type" name="currency" ng-model="department.selectedDeptType.typeID" ng-options="type.typeID as type.typeName for type in CompanyDeptDesigTypes" class="form-control"></select>
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group fg-float">
                                            <label class="col-md-1" for="PLANTS">Plants: </label>
                                            <div class="col-md-11">
                                                <label ng-repeat="plant in PlantsList">
                                                    <input type="checkbox" data-color="#4ad965" data-secondary-color="#057cb5" ng-model="plant.isValid" ng-value="true" ng-click="selectedPlants(plant,$index)" />
                                                    {{plant.FIELD_NAME}}&nbsp;&nbsp;&nbsp;&nbsp;
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-info btn-file btn-new-look" ng-click="SaveCompanyDepartment()">Save Dept</button>
                                        <button class="btn btn-link btn-file btn-new-look" ng-click="closeEditDepartment()">Cancel</button>
                                    </div>
                                </div>

                                <div class="col-md-12" ng-if="deptUsersView">
                                    <table ng-table="tctrl.tableSorting" class="" show-filter="false">
                                        <thead>
                                            <tr>
                                                <td>Department Users({{deptCode}})</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="users in departmentUsers">
                                                <td>
                                                    <input type="checkbox" ng-model="users.isValid" />&nbsp;&nbsp;{{users.user.firstName}}&nbsp;{{users.user.lastName}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <button class="btn btn-warning" ng-click="SaveUserDepartments()">Save dept</button>
                                    <button class="btn btn-warning" ng-click="cancelDeptUsersView()">Cancel</button>
                                </div>
                                <br />
                                <div class="col-md-12">&nbsp;</div>

                                <div class="col-md-12 table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr style="font-weight: bold">
                                                <th style="width:20%">Department Name</th>
                                                <th style="width:30%">Department Description</th>
                                                <!--<td style="width:20%">Dept Admin</td>-->
                                                <th style="width:20%">Department Type</th>
                                                <th style="width:20%">Branch</th>
                                                <th style="width:20%; text-align:center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="companyDepartment in companyDepartments.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                                <td>{{companyDepartment.deptCode}}</td>
                                                <td>{{companyDepartment.deptDesc}}</td>
                                                <!--<td>{{companyDepartment.deptAdminName}}</td>-->
                                                <td>{{companyDepartment.selectedDeptType.typeName}}</td>
                                                <td>{{companyDepartment.deptBranch}}</td>
                                                <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                    <a title="Edit Department" role="button" ng-click="editDepartment(companyDepartment)" class="fa-edit fa" style="width:30px; height:30px"></a>
                                                    <a title="Delete Department" role="button" ng-click="DeleteDepartment(companyDepartment)" class="fa fa-trash-alt" style="width:30px; height:30px"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                                </div>
                            </div>
                        </div>

                        <!--<div class="white-box" ng-show="displayCard == 2 || displayCard == 0">
                            <div class="col-md-12">
                                <div class="form-group fg-float col-md-6 m-b-30">
                                    <h3>Categories</h3>
                                </div>
                                <div class="form-group fg-float col-md-6 m-b-30">
                                    <button ng-click="AddCat()" class="btn btn-info pull-right add-new-btn">Add Category</button>

                                </div>
                            </div>
                            <div class="card-body card-padding">

                                <div class="row">
                                    <div ng-repeat="WC in WorkCategories" ng-show="WC.isNew" class="row">
                                        <div class="col-md-3">
                                            <div class="col-md-3">
                                                Dept
                                            </div>

                                            <div class="form-group col-md-9">
                                                <div class="fg-line input-field " ng-class="{'fg-toggled': isEdit===true}">
                                                    <select ng-model="WC.deptID" class="form-control" data-placeholder="Department" id="urgency">
                                                        <option ng-show="CD.selectedDeptType.typeID == 5" ng-repeat="CD in companyDepartments" value="{{CD.deptID}}">{{CD.deptCode}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="col-md-3">
                                            <div class="col-md-3">
                                                Category
                                            </div>
                                            <div class="col-md-9">
                                                <input ng-model="WC.workCatCode" class="form-control pull-left">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="col-md-3">
                                                Desc
                                            </div>
                                            <div class="col-md-9">
                                                <textarea ng-model="WC.workCatDesc" class="form-control pull-left" rows="2" />
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <button ng-click="DelCat($index)" class="btn btn-primary">X</button>
                                        </div>
                                    </div>

                                    <div class="row" ng-if="NewWorkCategoriesLength > 0">
                                        <br />
                                        <div class="col-md-6">
                                            <button class="btn btn-primary center-block" ng-click="SaveWorkCategories();">Save</button>
                                        </div>
                                        <br />
                                    </div>


                                    <br />
                                    <div class="col-md-12 table table-responsive z-depth-2">
                                        <table class="table table-vmiddle">
                                            <thead>
                                                <tr style="font-weight: bold">
                                                    <td>ID</td>
                                                    <td>Cat Code</td>
                                                    <td>Desc</td>
                                                    <td>Dept</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="WC in WorkCategories" ng-show="!WC.isNew">
                                                    <td>{{WC.workCatID}}</td>
                                                    <td>{{WC.workCatCode}}</td>
                                                    <td>{{WC.workCatDesc}}</td>
                                                    <td>{{WC.deptCode}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>-->


                        <!--<div class="white-box" ng-show="displayCard == 3 || displayCard == 0">
                            <div class="card-header col-md-12">
                                <div class="form-group fg-float col-md-6 m-b-30">
                                    <h3>Budget Codes</h3>
                                </div>
                                <div class="form-group fg-float col-md-6 m-b-30">
                                    <button ng-click="AddBudgetCode()" class="btn btn-info pull-right add-new-btn">Add Budget Code</button>
                                </div>
                            </div>
                            <div class="card-body card-padding">

                                <div class="row">
                                    <div ng-repeat="BC in BudgetCodes" ng-show="BC.isNew" class="row">




                                        <div class="form-group col-md-2">
                                            Department
                                            <div class="fg-line input-field " ng-class="{'fg-toggled': isEdit===true}">
                                                <select ng-model="BC.deptID" class="form-control" data-placeholder="Department" id="urgency">
                                                    <option ng-show="CD.selectedDeptType.typeID == 5" ng-repeat="CD in companyDepartments" value="{{CD.deptID}}">{{CD.deptCode}}</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group col-md-2">
                                            Category
                                            <div class="fg-line input-field " ng-class="{'fg-toggled': isEdit===true}">
                                                <select ng-model="BC.workCatID" class="form-control" data-placeholder="Work Category" id="urgency">
                                                    <option ng-show="WC.deptID == BC.deptID" ng-repeat="WC in WorkCategories" value="{{WC.workCatID}}">{{WC.workCatCode}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            Budget Code
                                            <input ng-model="BC.budgetCode" class="form-control pull-left">
                                        </div>

                                        <div class="col-md-2">
                                            Description
                                            <input ng-model="BC.budgetDesc" class="form-control pull-left">
                                        </div>
                                        <div class="col-md-4">
                                            <button ng-click="DelBudgetCode($index)" class="btn btn-primary">X</button>
                                        </div>
                                    </div>

                                    <div class="row" ng-if="NewBudgetCodesLength > 0">
                                        <br />
                                        <div class="col-md-6">
                                            <button class="btn btn-primary center-block" ng-click="SaveBudgetCode();">Save</button>
                                        </div>
                                        <br />
                                    </div>


                                    <br />
                                    <div class="row col-md-12 table table-responsive z-depth-2">
                                        <table class="table table-vmiddle">
                                            <thead>
                                                <tr style="font-weight: bold">
                                                    <td>ID</td>
                                                    <td>Budget Code</td>
                                                    <td>Desc</td>
                                                    <td>Dept</td>
                                                    <td>Cat Code</td>
                                                    <td>Cat Desc</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="BC in BudgetCodes" ng-show="!BC.isNew">
                                                    <td>{{BC.budgetID}}</td>
                                                    <td>{{BC.budgetCode}}</td>
                                                    <td>{{BC.budgetDesc}}</td>
                                                    <td>{{BC.deptCode}}</td>
                                                    <td>{{BC.workCatCode}}</td>
                                                    <td>{{BC.workCatDesc}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>-->



                    </div>

            <!--</div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>-->