﻿<div class="white-box" ng-controller="configurationCtrl">
    <div class="col-md-12">
        <button class="btn btn-info btn-file btn-new-look" ng-click="tableView('USER_LOCATION');showTable(1)">Locations</button>
        <button class="btn btn-info btn-file btn-new-look" ng-click="tableView('LOCATION_REGION');showTable(0)">Regions</button>
        <!--<button class="btn btn-info btn-file btn-new-look" ng-click="tableView('TAX_CODES')">Tax Code</button>-->
    </div>
    <hr />
    <div class="row" ng-if="showConfiguration">
        <div class="box-title col-md-12">
            <div class="col-md-4">
                <h3>{{type=='USER_LOCATION'?'Locations':''}}</h3>
            </div>
            <div class="col-md-4">
                <button ng-if="!addnewconfigView" ng-click="editConfiguration(configuration)" class="btn btn-info pull-right add-new-btn">{{type=='USER_LOCATION'?'Add New Location':'Add New Region'}}</button>
            </div>
        </div>
        <div class="row">

            <div ng-if="addnewconfigView">
                <div class="col-md-12">
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (configuration.configValue)}">
                            <label class="fg-label">{{type=='USER_LOCATION'?'Location':''}}</label>
                            <input type="text" ng-model="configuration.configText" name="location" id="location" class="form-control fg-input" autocomplete="off" />

                        </div>
                    </div>
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label class="fg-label">{{type=='USER_LOCATION'?'Region':''}}</label>
                        <select data-placeholder="Select Type" name="branch" ng-model="configuration.configValue" ng-options="Region.configText as Region.configText for Region in companyLocationRegions" class="form-control"></select>
                    </div>
                    <!--<div class="form-group fg-float col-md-6 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (configuration.configText)}">
                            
                            <textarea type="text" ng-model="configuration.configText" name="DocDesc" id="DocDesc" rows="2" style="resize: vertical;" class="form-control fg-input" />

                        </div>
                    </div>-->
                    <div class="col-md-4 text-center top-buffer">
                        <button class="btn btn-info btn-file btn-new-look" ng-click="SaveCompanyERPFieldMappings('LOCATION_MAPPTING');">Save</button>
                        <button class="btn btn-link btn-file btn-new-look" ng-click="closeEditConfiguration()">Cancel</button>
                    </div>
                </div>
               
            </div>
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold">
                            <th style="width:20%">{{type=='USER_LOCATION'?'Location':''}}</th>
                            <th style="width:40%">{{type=='USER_LOCATION'?'Region':''}}</th>
                           
                            <th style="width:20%; text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="companyConfiguration in locationMappings.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <td>{{companyConfiguration.configText}}</td>
                            <td>{{companyConfiguration.configValue}}</td>
                           
                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                <a title="Edit Configuration" role="button" ng-click="editConfiguration(companyConfiguration)" class="fa fa-edit" style="width:30px; height:30px"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
            </div>
        </div>
    </div>
    <div class="row" ng-if="showPlant">
        <div class="box-title col-md-12">
            <div class="col-md-4">
                <h3>Regions</h3>
            </div>
            <div class="col-md-4">
                <button ng-if="!addnewplantView" ng-click="editPlant(plant)" class="btn btn-info pull-right add-new-btn">Add New Regions</button>
            </div>
        </div>
        <div class="row">

            <div ng-if="addnewplantView">
                <div class="col-md-12">
                   
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (plant.fieldName)}">
                            <label class="fg-label">Region</label>
                            <input type="text" ng-disabled="disablefields" ng-model="plant.FIELD_NAME" name="plantID" id="plantID" class="form-control fg-input" />

                        </div>
                    </div>

                    <!--<div class="form-group fg-float col-md-6 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (plant.fieldValue)}">
                            <label class="fg-label">Plant Description</label>
                            <textarea type="text" ng-model="plant.FIELD_VALUE" name="plantDesc" id="plantDesc" rows="2" style="resize: vertical;" class="form-control fg-input" />

                        </div>
                    </div>-->
                     <div class="col-md-4 text-center top-buffer">
                    <button class="btn btn-info btn-file btn-new-look" ng-click="SaveCompanyConfigurations('LOCATION_REGION')">Save</button>
                    <button class="btn btn-link btn-file btn-new-look" ng-click="closeEditPlant()">Cancel</button>
                </div>
                </div>
               
            </div>
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold">
                            <th style="width:20%">Vertical Type</th>
                            <th style="width:40%">Plant Code</th>
                            <th style="width:20%">Plant Description</th>
                            <th style="width:20%; text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="companyPlant in companyPlants.slice(((currentPage1-1)*itemsPerPage1), ((currentPage1)*itemsPerPage1))">
                            <td>{{companyPlant.TYPE_OF_VERTICAL}}</td>
                            <td>{{companyPlant.FIELD_NAME}}</td>
                            <td>{{companyPlant.FIELD_VALUE}}</td>
                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                <a title="Edit Configuration" role="button" ng-click="editPlant(companyPlant)" class="fa fa-edit" style="width:30px; height:30px"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems1" ng-model="currentPage1" items-per-page="itemsPerPage1" max-size="maxSize1" ng-change="pageChanged1()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
            </div>
        </div>
    </div>
</div>