<div class="white-box" ng-controller="profileSubUserCtrl as pctrl">
    <div ng-class="{'pmb-block':pctrl.addUser==1}" ng-if="showAccess || showUserDepartments || pctrl.addUser == 1 || showUserDesignations || showUserDeptDesig">
        <div class="pmbb-body" data-ng-show="pctrl.addUser === 1">
            <div class="pmbb-header" ng-if="isEditUser == false" >
                <h2 ><i class="zmdi zmdi-plus m-r-5" ng-click=""></i> New User</h2>
            </div>
            <div class="pmbb-header" ng-if="isEditUser == true">
                <h2><i class="zmdi zmdi-plus m-r-5"></i> Edit User</h2>
            </div>

            <form name="vendorregisterForm" data-ng-submit="vendorregisterForm.$valid && pctrl.AddNewUser(1,addnewuserobj.userID)" class="pmbb-edit" novalidate>
                <div class="input-group col-sm-12">
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="addnewuserobj.firstName" name="firstName" type="text" class="form-control logininput" id="firstName" required />
                            <label class="fg-label" for="firstName">First Name <span class="text-danger">*</span></label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.firstName.$touched">
                            <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.firstName.$error.required">Please enter First Name</div>
                        </div>
                    </div>
                </div>
                <div class="input-group col-sm-12">
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="addnewuserobj.lastName" name="lastName" type="text" class="form-control logininput" id="lastName" required />
                            <label class="fg-label" for="lastName">Last Name <span class="text-danger">*</span></label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.lastName.$touched">
                            <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.lastName.$error.required">Please enter Last Name</div>
                        </div>
                    </div>
                </div>

                <div class="input-group col-sm-12">
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="addnewuserobj.email" ng-model-options="{debounce:100}" ng-change="checkUserUniqueResult('EMAIL',addnewuserobj.email);EmailValidateVendor()"
                                   name="email" type="email" class="form-control logininput" id="email"
                                   required />
                            <label class="fg-label" for="email">Email Address <span class="text-danger">*</span></label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.email.$touched">
                            <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.email.$error.required">Please enter Email</div>
                            <div class="help-block error logininput text-danger" ng-show="(!vendorregisterForm.email.$error.required && vendorregisterForm.email.$error.email) || emailregxvalidation">Please enter a valid Email</div>
                        </div>
                        <div class="help-block error logininput text-danger" ng-show="checkEmailUniqueResult && !vendorregisterForm.email.$error.required">Email already exists</div>
                    </div>
                </div>

                <div class="input-group col-sm-12">
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <!--/*Change Mobile Number from 10-15 digits*/-->
                            <input type="number" ng-model-options="{debounce:100}" ng-change="checkUserUniqueResult('PHONE',addnewuserobj.phoneNum)" ng-model="addnewuserobj.phoneNum" name="phoneNum"
                                   class="form-control logininput" id="phoneNum" minlength="10" maxlength="10" onKeyPress="if(this.value.length==10) return false;"
                                   required />
                            <label class="fg-label" for="phoneNum">Phone Number <span class="text-danger">*</span></label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$touched">
                            <!--/*Change Mobile Number from 10-15 digits*/-->
                            <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.phoneNum.$error.required">Please enter Phone Number</div>
                            <div class="help-block error logininput text-danger" ng-show="addnewuserobj.phoneNum.$error.number">Please enter a valid phonenumber</div>
                            <div class="help-block error logininput nowrap text-danger" ng-show="vendorregisterForm.phoneNum.$error.minlength">Phone Number must be 10 digits.</div>
                            <div class="help-block error logininput nowrap text-danger" ng-show="vendorregisterForm.phoneNum.$error.maxlength">Phone Number must be 10 digits.</div>
                        </div>
                        <div class="help-block error logininput text-danger" ng-show="checkPhoneUniqueResult && !vendorregisterForm.phoneNum.$error.minlength && !vendorregisterForm.phoneNum.$error.minlength && !vendorregisterForm.phoneNum.$error.required">Phone number already exists</div>
                    </div>
                </div>

                <div ng-hide="true" class="input-group col-sm-12">
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <select ng-model="addnewuserobj.category" name="category" class="form-control" ng-disabled="true" ng-options="category for category in addVendorCats" data-placeholder="Select a category...">
                                <option value="">All Categories</option>
                            </select>
                            <label class="fg-label" for="phoneNum">Category <span class="text-danger">*</span></label>
                        </div>
                    </div>
                </div>

                <!--<div class="input-group col-sm-12">
        <div class="form-group fg-float">
            <div class="fg-line input-field">
                <i class="mdi-social-person-outline prefix"></i>
                <select ng-model="addnewuserobj.currency" name="currency" class="form-control" ng-options="currency.value for currency in currencies" data-placeholder="Select a currency..." required>
                    <option value="">Select a Currency </option>
                </select>
                <label class="fg-label" for="phoneNum">Currency <span class="text-danger">*</span></label>
            </div>
            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.currency.$touched">
                <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.currency.$error.required">Please select Currency</div>
            </div>
        </div>
    </div>-->
                <!-- // SUB USER DEPARTMENT AND DESIGNATION SELECTION //-->
                <div class="input-group col-sm-12" ng-hide="userDepartment && isEditUser">
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <select ng-model="addnewuserobj.dept" name="department" class="form-control" ng-change="getDesignations(addnewuserobj.dept);" ng-options="dept.deptCode for dept in UserDeptDesig" data-placeholder="Select a Deparment..." required>
                                <option value="">Select a Department</option>
                            </select>
                            <label class="fg-label" for="phoneNum">Department <span class="text-danger">*</span></label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.department.$touched">
                            <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.department.$error.required">Please select Department</div>
                        </div>
                    </div>
                </div>

                <div class="input-group col-sm-12" ng-hide="userDesignation && isEditUser">
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <select ng-model="addnewuserobj.desig" name="designation" class="form-control" ng-options="desig.desigCode for desig in selectedDepartmentDesignations" data-placeholder="Select a Designation..." required>
                                <option value="">Select a Designation</option>
                            </select>
                            <label class="fg-label" for="phoneNum">Designation <span class="text-danger">*</span></label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.designation.$touched">
                            <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.designation.$error.required">Please select Designation</div>
                        </div>
                    </div>
                </div>

                <div class="input-group col-sm-12">
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <select ng-model="addnewuserobj.userBranch" name="branch" id="branch" class="form-control" ng-options="branch.value as branch.display for branch in companyBranches" data-placeholder="Select a Branch..." required>
                                <option value="">Select a Branch</option>
                            </select>
                            <label class="fg-label" for="branch">Branch <span class="text-danger">*</span></label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.branch.$touched">
                            <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.branch.$error.required">Please Select Branch</div>
                        </div>
                    </div>
                </div>

                <div class="input-group col-sm-12" ng-disabled="userLocation">
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <!--<select ng-model="addnewuserobj.userLocation" name="location" id="location" class="form-control" ng-options="location.configValue as location.configText for location in companyLocation | orderBy:'display'" data-placeholder="Select a Location..." required>
                                <option value="">Select a Location</option>
                            </select>-->
                            <div class="dropdown">
                                <input class="form-control" id="myInput" type="text" ng-change="searchTableLocation(searchKeyword,addnewuserobj.companyLocation);" ng-model="searchKeyword" placeholder="Please select location from dropdown" data-toggle="dropdown" autocomplete="off">
                                <ul class="dropdown-menu" style="width:100%;max-height:280px;overflow:auto;">
                                    <li class="col-md-12" style="padding-top:5px;padding-bottom:5px;" ng-repeat="location in addnewuserobj.companyLocation | orderBy:'display'">
                                        <div class="row" ng-click="fillValue(addnewuserobj.companyLocation,location,location.isChecked);"><div class="col-md-1"><input type="checkbox" ng-model="location.isChecked"></div><div class="col-md-10" style="color:black">{{location.configText}}</div></div>
                                    </li>

                                </ul>
                            </div>
                            <label class="fg-label" for="location">Location <span class="text-danger">*</span></label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.location.$touched">
                            <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.location.$error.required">Please Select Location</div>
                        </div>
                    </div>
                </div>
                <!-- // SUB USER DEPARTMENT AND DESIGNATION SELECTION //-->

                <div class="input-group col-sm-12">
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="addnewuserobj.sapUserId" name="sapUserId" type="text" class="form-control logininput" id="sapUserId" required />
                            <label class="fg-label" for="firstName">SAP User Id</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.sapUserId.$touched">
                            <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.sapUserId.$error.required">Please enter SAP User Id</div>
                        </div>
                    </div>
                </div>

                <div class="input-group col-sm-12">
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="addnewuserobj.loginid" ng-model-options="{debounce:100}" type="text"
                                   ng-change="checkUserUniqueResult('SUB_LOGIN_ID',addnewuserobj.loginid);checkpassword()" class="form-control logininput" id="loginid" name="loginid" required />
                            <label class="fg-label" for="loginid">Login ID <span class="text-danger">*</span></label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.loginid.$touched">
                            <!--ng-show="vendorregisterForm.$submitted || vendorregisterForm.loginid.$touched"-->
                            <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.loginid.$error.required">Please enter Login ID</div>
                            <div class="help-block error logininput text-danger" ng-show="!vendorregisterForm.loginid.$error.required && loginAndPassSame">Login ID and Password Are Same Please Change</div>

                        </div>
                        <div>
                            <div class="help-block error logininput text-danger" ng-show="addnewuserobj.loginid != '' && checkSUBLOGINUniqueResult">Login ID already exists</div>
                        </div>
                    </div>
                </div>

                <div class="input-group col-sm-12">
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input autocomplete="off" ng-model="addnewuserobj.password1" name="password1" ng-change="checkpassword()" ng-minlength="6" type="text" class="form-control logininput" id="password1" required />
                            <label class="fg-label" for="lastName">Password <span class="text-danger">*</span></label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.password1.$touched">
                            <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.password1.$error.required">Please enter Password</div>
                            <div class="help-block error logininput text-danger" ng-show="!vendorregisterForm.password1.$error.required && loginAndPassSame">Login ID and Password Are Same Please Change</div>
                            <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.password1.$error.minlength">Password must be at least 6 characters.</div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group fg-float">
                            <div class="fg-line input-field">
                                <i class="mdi-social-person-outline prefix"></i>
                                <div moment-picker="addnewuserobj.userValidityFrom" format="DD-MM-YYYY HH:mm">
                                    <input autocomplete="off" name="userValidityFromName" id="userValidityFrom" class="form-control" ng-disabled="userValidityFromDisabled" placeholder="Select a date"
                                           ng-model="addnewuserobj.userValidityFrom" ng-model-options="{ updateOn: 'blur' };" />
                                </div>
                                <label class="fg-label" for="Validity From">Validity From <span class="text-danger">*</span></label>
                                <div ng-show="userValidityFromValidation || FromValidation">
                                    <div class="help-block error logininput text-danger" ng-show="FromValidation">Please enter Validity From</div>
                                    <div class="help-block error logininput text-danger" ng-show="userValidityFromValidation">Please enter valid User Validity From</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label ng-if="isEditUser == false"><span style="color:orange"><strong>Warning!</strong> Once Validity From is saved you cannot change it again.Please verify Validity From before saving</span></label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group fg-float">
                            <div class="fg-line input-field">
                                <i class="mdi-social-person-outline prefix"></i>
                                <div moment-picker="addnewuserobj.userValidityTo" format="DD-MM-YYYY HH:mm">
                                    <input autocomplete="off" name="userValidityToName" id="userValidityTo" class="form-control"
                                           placeholder="Select a date"
                                           ng-model="addnewuserobj.userValidityTo" ng-model-options="{ updateOn: 'blur' };" />
                                </div>
                                <label class="fg-label" for="Validity To">Validity To <span class="text-danger">*</span></label>
                                <div ng-show="userValidityToValidation || ToValidation">
                                    <div class="help-block error logininput text-danger" ng-show="ToValidation">Please enter Validity To</div>
                                    <div class="help-block error logininput text-danger" ng-show="userValidityToValidation">User Validity To should be greater than User Validity From and current time & date</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="m-t-30">
                    <button type="submit" class="btn btn-info btn-sm btn-new-look" ng-disabled="loginAndPassSame || checkPhoneUniqueResult || checkEmailUniqueResult || isSaveDisabled">Save</button>
                    <button class="btn btn-link btn-sm" data-ng-click="pctrl.addUser = 0;cancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>


    <div class="pmb-block" ng-if="!showAccess && !showUserDepartments && !showUserDesignations && !showUserDeptDesig && pctrl.addUser == 0">
        <div class="row pmbb-header">
            <div class="col-md-4">
                <h2> <i class="zmdi zmdi-view-list"></i> Active Sub Users</h2>
            </div>
            <div class="col-md-4">
                <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchTable(searchKeyword)" ng-model="searchKeyword" type="text" placeholder="Search">
            </div>
            <div class="col-md-4">
                <button class="btn btn-info pull-right"
                        ng-click="pctrl.addUser = 1;GetUserDepartmentDesignations(true, currentUser, '', false);GetCompanyConfiguration()" data-ng-show="pctrl.addUser === 0">
                    <b><i class="zmdi zmdi-plus m-r-5"></i> New User</b>
                </button>
            </div>
            <!--<h2>-->
                <!--<i class="zmdi zmdi-view-list"></i> Active Sub Users-->
                <!-- // SUB USER DEPARTMENT AND DESIGNATION SELECTION //-->
                <!--<button class="btn btn-info pull-right"
                        ng-click="pctrl.addUser = 1;GetUserDepartmentDesignations(true, currentUser, '', false)" data-ng-show="pctrl.addUser === 0">
                    <b><i class="zmdi zmdi-plus m-r-5"></i> New User</b>
                </button>-->
                <!-- // SUB USER DEPARTMENT AND DESIGNATION SELECTION //-->
                <!--<label class="col-md-2 pull-right">
                        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Search">
                </label>-->


            <!--</h2>-->
        </div>

        <div class="table-responsive z-depth-2">
            <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                <tr ng-repeat="user in subUsers.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                    <td data-title="'User Name'" sortable="'Name'">
                        {{user.firstName + ' ' + user.lastName}}
                    </td>
                    <td data-title="'Email'">
                        {{ user.email}}
                    </td>
                    <td data-title="'Phone'">
                        {{ user.phoneNum}}
                    </td>
                    <td data-title="'De-Activate'" class="text-center">
                        <a ng-click="deleteUser(user.userID)" title="De-Activate"><i class="fas fa-trash-alt "></i></a>
                    </td>
                    <td data-title="'Access'" class="text-center">
                        <a ng-click="loadAccess(true, user.userID, user.firstName + ' ' + user.lastName)" title="Manage Access">
                            <i class="fas fa-universal-access "></i>
                        </a>
                    </td>


                    <td data-title="'Dept Designations'" class="text-center">
                        <!-- // SUB USER DEPARTMENT AND DESIGNATION SELECTION //-->
                        <a role="button" ng-click="GetUserDepartmentDesignations(true, user.userID, user.firstName + ' ' + user.lastName, true)" title="Manage Dept Designations">
                            <i class="fas fa-user-plus "></i>
                        </a>
                        <!-- // SUB USER DEPARTMENT AND DESIGNATION SELECTION //-->
                    </td>

                    <td data-title="'Valid From'" class="text-center">
                        {{user.dateFrom}}
                    </td>

                    <td data-title="'Valid To'" class="text-center">
                        {{user.dateTo}}
                    </td>

                    <td data-title="'Actions'" class="text-center">
                        <a ng-click="editUser(user);pctrl.addUser = 1;GetUserDepartmentDesignations(true, currentUser, '', false)" title="User Edit">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            </table>
            <div>
                Total Sub-User Count: {{totalItems}}
            </div>
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

        </div>
    </div>


    <div class="pmb-block" ng-if="!showAccess && !showUserDepartments && !showUserDesignations && !showUserDeptDesig && pctrl.addUser == 0">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-view-list"></i> Inactive Sub Users</h2>
        </div>
        <div class="table-responsive z-depth-2">
            <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                <tr ng-repeat="user in inactiveSubUsers">

                    <td data-title="'User Name'" sortable="'Name'">
                        {{user.firstName + ' ' + user.lastName}}
                    </td>

                    <td data-title="'Email'">
                        {{ user.email}}
                    </td>

                    <td data-title="'Phone'">
                        {{ user.phoneNum}}
                    </td>

                    <td data-title="'Activate'">
                        <a role="button" ng-click="activateUser(user.userID)" class="text-center" title="Activate"><i class="fas fa-check-circle"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="pmb-block" ng-if="showAccess">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-view-list"></i> Access Levels (<strong> {{UserName}}</strong> )</h2>
        </div>
        <div class="table-responsive z-depth-2">
            <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                <!--<tr ng-repeat="entitlement in subuserentitlements">
                    <td data-title="'User Name'" sortable="'Name'">
                        <input type="checkbox" ng-change="validateAccess(entitlement.isEntitled, entitlement.accessType)" ng-model="entitlement.isEntitled">&nbsp;&nbsp;{{entitlement.accessType}}
                    </td>
                </tr>-->
                <thead>
                    <tr>
                        <th>User Name</th>
                    </tr>
                </thead>
                <!--<tr>
                    <td><h3 class="text-warning">Purchase User</h3></td>
                </tr>-->
                <tr ng-repeat="entitlement in subuserentitlements">
                    <td><input type="checkbox" ng-change="validateAccess(entitlement.isEntitled, entitlement.accessType, entitlement.acsID)" ng-model="entitlement.isEntitled" ng-disabled="entitlement.isDisable">&nbsp;&nbsp;{{entitlement.accessType}}</td>
                </tr>
                <!--<tr>
                    <td><h3 class="text-danger">Plant User</h3></td>
                </tr>
                <tr ng-repeat="entitlement1 in subuserentitlementsonlytscbsc">
                    <td><input type="checkbox" ng-change="validateAccess(entitlement1.isEntitled, entitlement1.accessType, entitlement1.acsID)" ng-model="entitlement1.isEntitled" ng-disabled="entitlement1.isDisable">&nbsp;&nbsp;{{entitlement1.accessType}}</td>
                </tr>-->
            </table>
        </div>
        <br />
        <button class="btn btn-info" ng-click="saveUserAccess()">Save</button>
        <button class="btn btn-link" ng-click="loadAccess(false, 0, '')">Cancel</button>
    </div>


    <div class="pmb-block" ng-if="showValidity">
        <div class="pmbb-header">
            <h2>User Validity (<strong> {{UserName}}</strong> )</h2>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 form-group">
                <strong>Validity From</strong>
                <div moment-picker="subuservalidityParams.userValidityFrom" format="DD-MM-YYYY HH:mm">
                    <input autocomplete="off" name="userValidityFromName" id="userValidityFrom" class="form-control" ng-disabled="userValidityFromDisabled" placeholder="Select a date"
                           ng-model="subuservalidityParams.userValidityFrom" ng-model-options="{ updateOn: 'blur' };" />
                </div>

                <div ng-show="userValidityFromValidation">
                    <div class="help-block error logininput text-danger" ng-show="userValidityFromValidation">Please enter valid User Validity From</div>
                </div>


            </div>
            <div class="col-md-2 form-group">
                <strong>Validity To</strong>
                <div moment-picker="subuservalidityParams.userValidityTo" format="DD-MM-YYYY HH:mm">
                    <input autocomplete="off" name="userValidityToName" id="userValidityTo" class="form-control"
                           placeholder="Select a date"
                           ng-model="subuservalidityParams.userValidityTo" ng-model-options="{ updateOn: 'blur' };" />
                </div>

                <div ng-show="userValidityToValidation">
                    <div class="help-block error logininput text-danger" ng-show="userValidityToValidation">User Validity To should be greater than User Validity From and current time & date</div>
                </div>


            </div>
        </div>

        <br />

        <!--/*
        ng-click="updateUserValidity()"
        */-->

        <button class="btn btn-info" ng-click="saveUserValidity()">Save</button>
        <!--<button class="btn btn-info" ng-if="subuservalidityParams.userValidityFrom != null || subuservalidityParams.userValidityTo != null" ng-click="saveUserValidity(1)">Update</button>-->
        <button class="btn btn-link" ng-click="validateUser(false, 0, '')">Cancel</button>
        <button class="btn btn-info pull-right" onclick="tableToExcel('testTable', 'validity')" value="Export to Excel"><i class="fa fa-download" aria-hidden="true"></i> Export to Excel</button>



        <div class="col-md-12">&nbsp; </div>
        <div class="pmb-block" ng-if="showValidity">
            <table id="testTable" ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                <tr ng-repeat="user in subuservalidity">

                    <td data-title="'USER NAME'" sortable="'Name'">
                        {{user.firstName + ' ' + user.lastName}}
                    </td>
                    <td data-title="'COMPANY'">
                        {{ user.userCompany}}
                    </td>
                    <td data-title="'EMAIL'">
                        {{ user.email}}
                    </td>

                    <td data-title="'PHONE'">
                        {{ user.phoneNum}}
                    </td>

                    <td data-title="'VALID FROM'">
                        {{ user.userValidityFrom}}
                    </td>
                    <td data-title="'VALID TO'">
                        {{ user.userValidityTo}}
                    </td>



                </tr>
            </table>
        </div>

    </div>


    <div class="pmb-block" ng-if="showUserDepartments">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-view-list"></i> User Deparments (<strong> {{UserName}}</strong> )</h2>
        </div>
        <div class="table-responsive z-depth-2">
            <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                <tr ng-repeat="UserDepartment in subUserDepartments">
                    <td data-title="'Dept Name'" sortable="'Name'">
                        <input type="checkbox" ng-model="UserDepartment.isValid">&nbsp;&nbsp;{{UserDepartment.companyDepartments.deptCode}}</input>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <button class="btn btn-info" ng-click="SaveUserDepartments()">Save dept</button>
        <button class="btn btn-link" ng-click="loadUserDepartments(false, 0, '')">Cancel</button>
    </div>


    <div class="pmb-block" ng-if="showUserDesignations">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-view-list"></i> User Designations (<strong> {{UserName}}</strong> )</h2>
        </div>
        <div class="table-responsive z-depth-2">
            <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                <tr ng-repeat="UserDesignation in subUserDesignations">
                    <td data-title="'Designation'" sortable="'Name'">
                        <input type="checkbox" ng-model="UserDesignation.isValid">&nbsp;&nbsp;{{UserDesignation.companyDesignations.desigCode}}
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <button class="btn btn-info" ng-click="SaveUserDesignations()">Save Designation</button>
        <button class="btn btn-link" ng-click="loadUserDesignations(false, 0, '')">Cancel</button>
    </div>

    <!-- // SUB USER DEPARTMENT AND DESIGNATION SELECTION //-->
    <div class="pmb-block" ng-if="showUserDeptDesig && !pctrl.addUser">
        <!-- // SUB USER DEPARTMENT AND DESIGNATION SELECTION //-->
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-view-list"></i> User Department & Designations (<strong> {{UserName}}</strong> )</h2>
        </div>
        <div class="table-responsive z-depth-2">
            <!--<table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                <tr ng-repeat="dept in UserDeptDesig">
                    <td data-title="'Department'" sortable="'Name'">
                        <input type="checkbox" ng-model="dept.isValid">&nbsp;&nbsp;{{dept.companyDepartments.deptCode}}
                    </td>
                    <td data-title="'Designations'" sortable="'Name'">
                        <div ng-repeat="desig in dept.listUserDesignations">
                            <input type="checkbox" ng-model="desig.isValid">&nbsp;&nbsp;{{desig.companyDesignations.desigCode}}
                        </div>
                    </td>

                </tr>
            </table>-->

            <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                <tr ng-repeat="dept in UserDeptDesig">
                    <td data-title="'Department'" sortable="'Name'">
                        <input type="checkbox" ng-model="dept.isValid" ng-disabled="true">&nbsp;&nbsp;{{dept.deptCode}}
                    </td>
                    <td data-title="'Designations'" sortable="'Name'">
                        <div ng-repeat="desig in dept.listDesignation">
                            <input type="checkbox" ng-model="desig.isValid" ng-change="selectDeptDesig($parent.$index, $index);">&nbsp;&nbsp;{{desig.desigCode}}
                        </div>
                    </td>
                </tr>
            </table>


        </div>
        <br />
        <!--<button class="btn btn-info" ng-click="SaveUserDeptDesig(UserDeptDesig)">Save</button>-->
        <!-- // SUB USER DEPARTMENT AND DESIGNATION SELECTION //-->
        <button class="btn btn-warning" ng-click="AssignUserDepartmentDesignation(UserDeptDesig, true)">Save</button>
        <!-- // SUB USER DEPARTMENT AND DESIGNATION SELECTION //-->
        <button class="btn btn-link" ng-click="loadUserDeptDesig(false, 0, '')">Cancel</button>
    </div>
</div>