﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">

            <style>
                .box
                {
                    width: 10px;
                    height: 10px;
                }
                .bisque {
                    background: bisque;
                }
            </style>

            <div class="container-fluid" ng-controller="listprCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-offset-6">
                            <input type="radio" ng-model="prDet.prLevel" ng-value="true" name="prCheck" />PR Level
                            <input type="radio" ng-model="prDet.prLevel" ng-value="false" name="prCheck" ng-click="getPRSBasedOnItem()" />Item Level
                        </div>
                    </div>
                    <div class="row" ng-if="prDet.prLevel">
                        <div class="col-md-2 top-buffer pull-right" style="margin-top:30px" >
                            <button role="button" class="btn btn-info" ng-click="goToPrEdit(0)" title="Create new PR"> Create New PR </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h5><strong>Type</strong></h5>
                            <!--<select class="form-control" ng-model="filters1.prType" ng-options="type.FIELD_VALUE as type.FIELD_NAME for type in prTypes1"
                                    ng-change="setFilters()"></select>-->
                            <select ng-model="PRDetails.PR_TYPE" class="form-control p-0" data-placeholder="PR_TYPE" id="PR_TYPE" required="">
                                <option value="REGULAR_PURCHASE">Regular Purchase</option>
                                <option value="PHARMACY_PURCHASE">Pharmacy Purchase</option>
                                <option value="IMPLANT_PURCHASE">Implant Purchase</option>
                                <option value="LAB_MATERIAL_PURCHASE">Lab Material Purchase</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <h5><strong>Location</strong></h5>
                            <select class="form-control" ng-model="filters1.location" ng-options="type.FIELD_VALUE as type.FIELD_NAME for type in companyLocation1"
                                    ng-change="setFilters()"></select>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Department</strong></h5>
                            <select class="form-control" ng-model="filters1.department" ng-options="type.FIELD_VALUE as type.FIELD_NAME for type in departmentList1"
                                    ng-change="setFilters()"></select>
                        </div>
                        <div class="col-md-3">
                            <h5><strong>Search PR'S</strong></h5>
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters();" ng-model-options="{debounce:500}" ng-model="filters1.searchKeyword" type="text" placeholder="Search with Purchase Request No.">
                        </div>
                        <div class="col-md-2" ng-if="deptTypeID === 2 && desigTypeID === 3000">
                            <h5><strong>Assigned/UnAssigned</strong></h5>
                            <select class="form-control" ng-model="filters1.isAssigned" ng-options="type.FIELD_VALUE as type.FIELD_NAME for type in populateValues"
                                    ng-change="setFilters()"></select>
                        </div>
                    </div>
                    <div class="row" ng-if="!prDet.prLevel">
                        <div class="col-md-2">
                            <h5><strong>Type</strong></h5>
                            <select class="form-control" ng-model="filters.prType" ng-options="type.FIELD_VALUE as type.FIELD_NAME for type in prTypes"
                                    ng-change="setFilters()"></select>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Location</strong></h5>
                            <select class="form-control" ng-model="filters.location" ng-options="type.FIELD_VALUE as type.FIELD_NAME for type in companyLocation"
                                    ng-change="setFilters()"></select>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Category</strong></h5>
                            <select class="form-control" ng-model="filters.category" ng-options="type.FIELD_VALUE as type.FIELD_NAME for type in categoryList | orderBy:'FIELD_NAME'"
                                    ng-change="setFilters()"></select>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Department</strong></h5>
                            <select class="form-control" ng-model="filters.department" ng-options="type.FIELD_VALUE as type.FIELD_NAME for type in departmentList"
                                    ng-change="setFilters()"></select>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Search Items</strong></h5>
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters();" ng-model-options="{debounce:500}" ng-model="filters.searchKeyword" type="text" placeholder="Search Items">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" ng-if="!prDet.prLevel && isUserEntitled(582258)">
                            <button class="btn btn-info btn-sm dropdown-toggle" type="button" ng-click="createRFQWithConsolidatedItems(filters.department,filters.prType)" data-target="#requirementSelectionPopUp" data-toggle="modal">
                                <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; &nbsp; Post Requirement
                            </button>
                        </div>
                        <div class="col-md-2" ng-if="(deptTypeID === 2 || deptTypeID === 8) && (desigTypeID === 3000 || desigTypeID === 5000) && prDet.prLevel">
                            <button class="btn btn-info btn-sm dropdown-toggle" type="button"
                                    data-target="#bulkUsersPopup" data-toggle="modal"
                                    ng-click="LoadAssigners()">
                                <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; &nbsp; Bulk Assign PR
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top:25px;" ng-if="prDet.prLevel">
                        <div class="col-md-12">
                            <div class="pull-right"><label style="width: 8px;height: 8px;background-color: red;margin-bottom: 2px;"></label><label>&nbsp;<small>Color Indicates PR is Cancelled</small></label></div>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th>
                                            <label ng-if="(deptTypeID === 2 || deptTypeID === 8) && (desigTypeID === 3000 || desigTypeID === 5000)">
                                                <input type="checkbox" class="top-buffer" ng-model="assignPRBulk.bulk" ng-click="SelectBulkPRs('ALL',assignPRBulk.bulk,'ALL');" />
                                            </label>
                                        </th>
                                        <th>Purchase Request No.</th>
                                        <th>Urgency</th>
                                        <th>Department</th>
                                        <th>Requested By</th>
                                        <th>Date Created</th>
                                        <th>Items</th>
                                        <th ng-if="deptTypeID === 2 && (desigTypeID === 3000 || desigTypeID === 5000)">Assign</th>
                                        <th style="width:10%;text-align:center" ng-if="deptTypeID === 8">Convert As</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat-start="prDetails in filteredPRList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" ng-style="prDetails.PR_STATUS === 'CLOSED' && {'color' : 'Red'}">
                                        <td>
                                            <a role="button" ng-hide="prDetails.expanded"
                                               ng-click="prDetails.expanded = true;getPrItems(prDetails)"
                                               title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                            <a role="button" ng-hide="!prDetails.expanded"
                                               ng-click="prDetails.expanded = false"
                                               title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                            <label ng-if="(deptTypeID === 2 || deptTypeID === 8) && (desigTypeID === 3000 || desigTypeID === 5000)">
                                                <input type="checkbox" class="top-buffer" ng-if="prDetails.PR_STATUS !== 'CLOSED'" ng-model="prDetails.IS_BULK_ASSIGNED" ng-click="SelectBulkPRs(prDetails,prDetails.IS_BULK_ASSIGNED,'PR');" />
                                            </label>
                                        </td>
                                        <td>
                                            {{prDetails.PR_NUMBER}}
                                        </td>
                                        <td>
                                            {{prDetails.URGENCY}}
                                        </td>
                                        <td>
                                            {{prDetails.DEPARTMENT_NAME}}
                                        </td>
                                        <td>
                                            {{prDetails.CREATED_BY_NAME}}
                                        </td>
                                        <td>
                                            {{prDetails.CREATED_DATE}}
                                        </td>
                                        <td>
                                            {{prDetails.COMPLETED_ITEMS}} / {{prDetails.TOTAL_ITEMS}}
                                        </td>
                                        <td ng-if="deptTypeID === 2 && (desigTypeID === 3000 || desigTypeID === 5000)" style="width:10%">
                                            <a title="Assign" role="button" data-target="#assignPopup" ng-if="prDetails.PR_STATUS !== 'CLOSED'" data-toggle="modal" ng-click="getPRID(prDetails,'OVERALL');showPRAccessUsers(1)">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td style="width:10%;text-align:center" ng-if="deptTypeID === 8">
                                            <a title="Internal Request" role="button" data-target="" data-toggle="modal" ng-if="prDetails.PR_STATUS !== 'CLOSED'" ng-click="" style="color:forestgreen">
                                                <i class="fa fa-users" aria-hidden="true"></i>
                                                IR
                                            </a>
                                            <span style="border-left:1px solid #000;height:500px"></span>&nbsp;
                                            <a title="Purchase" role="button" data-target="#assignPopup" ng-if="prDetails.PR_STATUS !== 'CLOSED'" data-toggle="modal" ng-click="getPRID(prDetails,'OVERALL');showPRAccessUsers(1)" style="color:tomato">
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                Purchase
                                            </a>
                                        </td>
                                        <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                            <a ng-if="deptTypeID != 8 && +userID === prDetails.CREATED_BY && (!prDetails.IS_PR_SUBMITTED || prDetails.WORKFLOW_STATUS === 'REJECTED') && prDetails.PR_STATUS !== 'CLOSED'" title="Edit PR" class="fa fa-edit text-success" role="button" ng-click="goToPrEdit(prDetails.PR_ID)"></a>
                                            <a ng-if="(deptTypeID === 2 && desigTypeID === 3000) || (+userID === prDetails.CREATED_BY && !prDetails.IS_PR_SUBMITTED) && prDetails.PR_STATUS !== 'CLOSED'" title="Close PR"
                                               data-target="#closePRPopup" class="fa fa-ban text-danger"
                                               data-toggle="modal" role="button" ng-click="closePR(prDetails,'OVERALL')"></a>
                                            <a class="fas fa-eye" title="View PR" role="button" ng-click="goToPrView(prDetails.PR_ID)"></a>
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end ng-if="prDetails.expanded">
                                        <td colspan="11">
                                            <div ng-if="(deptTypeID === 2 && desigTypeID === 3000) || (prDetails.CREATED_BY === +userID)" class="pull-right"><label class="box bisque"></label><small>&nbsp;Color Indicates Item Converted To Cash</small></div>
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th> Material No. </th>
                                                        <th style="width:13%"> Qty </th>
                                                        <th> Qty Units</th>
                                                        <th> Item Text</th>
                                                        <th style="text-align:center" ng-if="deptTypeID === 2"> Item Category</th>
                                                        <th style="text-align:center"> Item Status</th>
                                                        <th style="text-align:center"> Assigned To</th>
                                                        <th style="text-align:center"> Req Id</th>
                                                        <th style="width:10%;text-align:center" ng-if="deptTypeID === 8">Convert As</th>
                                                        <th ng-if="deptTypeID === 2 && (desigTypeID === 3000 || desigTypeID === 5000)"> Assign</th>
                                                        <th ng-if="(deptTypeID === 2 && desigTypeID === 3000) || (prDetails.CREATED_BY === +userID || isCashPurchaseUser())">
                                                            <label ng-if="(prDetails.CREATED_BY === +userID || isCashPurchaseUser())">Converted to Cash</label>
                                                            <label ng-if="deptTypeID === 2 && desigTypeID === 3000">Convert to Cash</label>
                                                        </th>
                                                        <th ng-if="(deptTypeID === 2 && desigTypeID === 3000) || (+userID === prDetails.CREATED_BY && !prDetails.IS_PR_SUBMITTED)"> Actions </th>
                                                    </tr>
                                                </thead>
                                                <tr ng-repeat="item in prDetails.PRItems" style="{{populateColor(item)}}">
                                                    <td>
                                                        {{item.ITEM_CODE}}
                                                    </td>
                                                    <td style="width:13%">
                                                        <label ng-if="prDetails.CREATED_BY === +userID">{{item.REQUIRED_QUANTITY}}</label>
                                                        <small style="word-break:break-all;color:red" ng-if="item.storeErr">{{item.storeErr}}</small>
                                                        <table ng-if="prDetails.CREATED_BY != +userID">
                                                            <tr>
                                                                <td style="padding-right: 10px" colspan="2">
                                                                    <a ng-if="deptTypeID === 8" style="color:red" title="Actual Qty : {{item.REQUIRED_QUANTITY}}">{{item.REQUIRED_QUANTITY}} </a> <label ng-if="deptTypeID === 8">/</label> <a style="color:forestgreen" title="Required Qty : {{item.STORE_QUANTITY}}"> {{item.STORE_QUANTITY}} <label ng-if="deptTypeID === 8"><img src="js/resources/images/editpencil.png" ng-if="prDetails.PR_STATUS !== 'CLOSED'" style="height:15px;cursor:pointer" ng-click="displayBox(true,item)"></label></a>
                                                                </td>
                                                                <td ng-if="deptTypeID === 8 && item.showQtyEdit" style="padding-right: 10px">
                                                                    <input type="text" class="form-control" style="width: 60px;height: 25px;" ng-model="item.STORE_QTY" title="{{item.STORE_QTY}}"
                                                                           valid-number allow-decimal="true" allow-negative="false" ng-if="item.showQtyEdit" ng-change="validateStoreQty(item)" />
                                                                </td>
                                                                <td ng-if="deptTypeID === 8 && item.STORE_QTY > 0 && !item.storeErr">
                                                                    <a role="button" ng-if="item.STORE_QTY > 0 && !item.storeErr && prDetails.PR_STATUS !== 'CLOSED'" ng-click="saveStoreQty(item)" class="fa fa-check-circle p-t-10" style="color:green"></a>
                                                                    <a role="button" ng-if="item.STORE_QTY > 0 && !item.storeErr && prDetails.PR_STATUS !== 'CLOSED'" ng-click="item.showQtyEdit = false;item.STORE_QTY = 0" class="fa fa-times p-t-10" style="color:red"></a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td>
                                                        {{item.UNITS}}
                                                    </td>
                                                    <td>
                                                        {{item.ITEM_NAME}}
                                                    </td>
                                                    <td ng-if="deptTypeID === 2">
                                                        {{item.CATEGORY_NAME}}
                                                    </td>
                                                    <td style="text-align:center">
                                                        {{item.WF_STATUS1}} by {{item.CURRENT_APPROVER_NAME1}}
                                                    </td>
                                                    <td style="text-align:center">
                                                        {{item.ASSIGNED_TO_NAME}}
                                                    </td>
                                                    <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                        <a ng-if="item.REQ_ID" target="_blank" data-ui-sref="view-requirement({Id:item.REQ_ID})">{{item.REQ_ID}}</a>
                                                    </td>
                                                    <td style="width:10%;text-align:center" ng-if="deptTypeID === 8">
                                                        <a title="Internal Request" role="button" ng-if="prDetails.PR_STATUS !== 'CLOSED'" data-target="" data-toggle="modal" ng-click="" style="color:forestgreen">
                                                            <i class="fa fa-users" aria-hidden="true"></i>
                                                            IR
                                                        </a>
                                                        <span style="border-left:1px solid #000;height:500px"></span>&nbsp;
                                                        <a title="Purchase" role="button" data-target="#assignPopup" ng-if="prDetails.PR_STATUS !== 'CLOSED'" data-toggle="modal" ng-click="getPRID(item,'ITEM')" style="color:tomato">
                                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                            Purchase
                                                        </a>
                                                    </td>
                                                    <td ng-if="deptTypeID === 2 && (desigTypeID === 3000 || desigTypeID === 5000)">
                                                        <a title="Assign" role="button" data-target="#assignPopup" ng-if="prDetails.PR_STATUS !== 'CLOSED'" data-toggle="modal" ng-click="showValidRFQItem(item);">
                                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                    <td ng-if="!isSuperUser">
                                                        <a ng-if="prDetails.PR_STATUS !== 'CLOSED' && ((deptTypeID === 2 && desigTypeID === 3000) || (isConvertedToCash(prDetails.CREATED_BY,item) || isCashPurchaseUser()))" class="fa fa-money-bill-alt" style="margin-left:10px;" title="New Cash Purchase" role="button"
                                                           ng-click="createCashPurchase(item)">
                                                        </a>
                                                    </td>
                                                    <td ng-if="(deptTypeID === 2 && desigTypeID === 3000) || (+userID === prDetails.CREATED_BY && !prDetails.IS_PR_SUBMITTED) && prDetails.PR_STATUS !== 'CLOSED'">
                                                        <a title="Close PR Item"
                                                           data-target="#closePRPopup" class="fa fa-ban text-danger"
                                                           data-toggle="modal" role="button" ng-click="item.isClosed= true;closePR(prDetails,'ITEM',item)"></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>
                    <div class="row" style="margin-top:25px;" ng-if="!prDet.prLevel">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th style="width:1%;text-align:center">Post RFQ</th>
                                        <th style="width:10%;text-align:center">Item Name</th>
                                        <th style="width:5%;text-align:center">Item code</th>
                                        <th style="width:25%;text-align:center">Item Description</th>
                                        <th style="width:5%;text-align:center">Category</th>
                                        <th style="width:3%;text-align:center">Qty</th>
                                        <th style="width:3%;text-align:center">UOM</th>
                                        <th style="width:2%;text-align:center">No. of PR's</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat-start="prItem in itemsList.slice(((currentPage1-1)*itemsPerPage1), ((currentPage1)*itemsPerPage1))">
                                        <td style="width:1%;text-align:center">
                                            <a role="button" ng-hide="prItem.expanded" ng-click="prItem.expanded = true;GetPRSbyItem(prItem)" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                            <a role="button" ng-hide="!prItem.expanded" ng-click="prItem.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                            <input type="checkbox" class="top-buffer" ng-disabled="prItem.IsDisabled" ng-model="prItem.selectForRFQ" ng-click="PostRequirement(prItem);prItem.expanded = true;" />
                                        </td>
                                        <td style="width:10%;text-align:center">
                                            {{prItem.ITEM_NAME}}
                                        </td>
                                        <td style="width:5%;text-align:center">
                                            {{prItem.ITEM_CODE}}
                                        </td>
                                        <td style="width:25%;text-align:center">
                                            {{prItem.ITEM_DESCRIPTION}}
                                        </td>
                                        <td style="width:5%;text-align:center">
                                            {{prItem.CategoryName}}
                                        </td>
                                        <td style="width:3%;text-align:center">
                                            <a style="color:tomato" title="RFQ Quantity:{{prItem.RFQ_QUANTITY}}">
                                                {{prItem.RFQ_QUANTITY}}
                                            </a>
                                            /
                                            <a style="color:forestgreen" title="Selected Quantity:{{prItem.SELECTED_QUANTITY}}">
                                                {{prItem.SELECTED_QUANTITY}}
                                            </a>
                                            /
                                            <a style="color:firebrick" title="Total Quantity:{{prItem.OVERALL_ITEM_QUANTITY}}">
                                                {{prItem.OVERALL_ITEM_QUANTITY}}
                                            </a>
                                        </td>
                                        <td style="width:3%;text-align:center">
                                            {{prItem.UNITS}}
                                        </td>
                                        <td style="width:2%;text-align:center">
                                            <a style="color:tomato" title="RFQ PR's:{{prItem.FILTERED_RFQ_PR_COUNT}}">
                                                {{prItem.FILTERED_RFQ_PR_COUNT}}
                                            </a>
                                            /
                                            <a style="color:forestgreen" title="Available PR's:{{prItem.FILTERED_PR_COUNT}}">
                                                {{prItem.FILTERED_PR_COUNT}}
                                            </a>
                                            /
                                            <a style="color:firebrick" title="Total PR's:{{prItem.TOTAL_PR_COUNT}}">
                                                {{prItem.TOTAL_PR_COUNT}}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end ng-if="prItem.expanded">
                                        <td colspan="11">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive" style="height:300px;max-height: 400px;overflow-y: auto">
                                                        <!--set-height-->
                                                        <small><strong style="color:red" ng-if="prItem.isOverallItemError">Please Select Atleast One PR</strong></small>
                                                        <table class="table-striped table table-fixed table-bordered table-sm">
                                                            <thead>
                                                                <tr style="font-weight: bold">
                                                                    <th>
                                                                        <!--<input type="checkbox" ng-model="prItem.isExpanded1" ng-click="unSelectAll(prItem,searchKeyword);prItem.selectForRFQ = false" />-->
                                                                        <input ng-change="searchPR(prItem.searchKeyword,prItem);" style="width:200px" ng-model="prItem.searchKeyword" type="text" placeholder=" Search Purchase Request No." />
                                                                    </th>
                                                                    <th> Quantity </th>
                                                                    <th> RFQ ID </th>
                                                                    <th> Department </th>
                                                                    <th> Items </th>
                                                                    <th> Requested By </th>
                                                                    <th> Location</th>
                                                                    <th> PR Type</th>
                                                                    <th> Branch</th>
                                                                    <th> Date Created</th>
                                                                </tr>
                                                            </thead>
                                                            <tr ng-repeat="pr in prItem.ItemPRS" ng-style="pr.REQ_ID>0 && {'color':'tomato'}" ng-init="pr.isValidtoDisplay = true;">
                                                                <td> <input type="checkbox" ng-model="pr.isChecked" ng-if="pr.isValidtoDisplay" ng-disabled="pr.REQ_ID>0" 
                                                                            ng-click="consolidate(prItem,prItem.searchKeyword,pr.isChecked,'ITEM');prItem.selectForRFQ = false;" /> &nbsp;&nbsp;{{pr.PR_NUMBER}} </td>
                                                                <td> {{pr.TOTAL_PR_ITEM_QUANTITY}}</td>
                                                                <td> {{pr.REQ_ID}} </td>
                                                                <td> {{pr.DEPT_CODE}} </td>
                                                                <td> {{pr.TOTAL_ITEMS}} </td>
                                                                <td> {{pr.CREATED_BY_NAME}} </td>
                                                                <td> {{pr.USER_LOCATION}} </td>
                                                                <td> {{pr.PR_TYPE == 1 ?'Medical':'Non Medical'}} </td>
                                                                <td> {{pr.PLANT_NAME}} </td>
                                                                <td> {{pr.CREATED_DATE}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems1" ng-model="currentPage1" items-per-page="itemsPerPage1" max-size="maxSize1" ng-change="pageChanged1()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>
                </div>
                <!-- #region PR Assign Pop-Up -->
                <div class="modal" id="assignPopup" ng-if="showPopUp" tabindex="-1">
                    <div class="modal-dialog" style="width: 50%;height:50%">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h3 style="text-align:center">PR Access Users</h3>
                            </div>
                            <div class="modal-body">
                                <div class="pmbb-view table-responsive">
                                    <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                                        <tr ng-repeat="user in CompanySuperVisors">
                                            <td data-title="'S.N.o'">
                                                {{$index+1}}
                                            </td>
                                            <td data-title="'User Name'" sortable="'Name'">
                                                {{user.U_NAME}}
                                            </td>
                                            <td data-title="'EMAIL'">
                                                {{ user.U_EMAIL}}
                                            </td>
                                            <td data-title="'PHONE'">
                                                {{ user.U_PHONE}}
                                            </td>
                                            <td data-title="'Assign PR'">
                                                <a role="button" ng-if="user.isValid1" ng-click="SaveCompanyRFQCreators(true,user.U_ID)" class="fa fa-check-circle p-t-10" style="color:green"></a>
                                                <a role="button" ng-if="user.isValid2" ng-click="SaveCompanyRFQCreators(false,user.U_ID)" class="fa fa-times p-t-10" style="color:red"></a>
                                            </td>
                                            <td>
                                                <label style="color:red">{{user.errorMessage}}</label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" ng-click="clearForm();" data-dismiss="modal" class="btn btn-info">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #endregion PR Assign Pop-Up -->
                <!-- #region Bulk Users Pop-Up -->
                <div class="modal" id="bulkUsersPopup" tabindex="-1">
                    <div class="modal-dialog" style="width: 50%;height:50%">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h3 style="text-align:center">PR Access Users</h3>
                            </div>
                            <div class="modal-body">
                                <div class="pmbb-view table-responsive" ng-if="bulkUsers.length > 0 && bulkUsersErr === ''">
                                    <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                                        <tr ng-repeat="user in bulkUsers">
                                            <td data-title="'S.N.o'">
                                                {{$index+1}}
                                            </td>
                                            <td data-title="'User Name'" sortable="'Name'">
                                                {{user.U_NAME}}
                                            </td>
                                            <td data-title="'EMAIL'">
                                                {{ user.U_EMAIL}}
                                            </td>
                                            <td data-title="'PHONE'">
                                                {{ user.U_PHONE}}
                                            </td>
                                            <td data-title="'Assign'">
                                                <a role="button" ng-if="user.isValid1" ng-click="AssignBulkPRS(user.U_ID)" class="fa fa-check-circle p-t-10" style="color:green"></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row text-center" ng-if="bulkUsersErr">
                                    <div class="col-md-12">
                                        <strong style="color:red">
                                            {{bulkUsersErr}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" ng-click="clearForm();" data-dismiss="modal" class="btn btn-info">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #endregion Bulk Users Pop-Up -->
                <div class="modal" id="requirementSelectionPopUp" ng-if="showItemLevelPRPopup">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Auction Types</h4>
                            </div>
                            <div class="modal-body">
                                <p ng-repeat="auction in RouteAuctions">
                                    {{$index+1}}
                                    &nbsp;
                                    {{auction.display}}
                                    &nbsp;
                                    <a class="fa fa-plus" style="margin-left:10px;" title="New Requirement" role="button" ng-click="createRFQWithConsolidatedItems(filters.department,filters.prType,auction.value)"></a>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #region Approval Pop-Up -->
                <div class="modal" id="approvalPopup" tabindex="-1">
                    <div class="modal-dialog" style="width: 50%;height:50%">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h3 style="text-align:center">Approvers Pending</h3>
                            </div>
                            <div class="modal-body">
                                <div class="pmbb-view" style="overflow-wrap: break-word; max-height:50%">
                                    <div class="white-box">
                                        <div class="box-title">
                                            <h2 class="bold-font-prm text-center">Pending Approvals</h2>
                                        </div>
                                        <div class="row" ng-disabled="isSuperUser">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-12 hoverTransition04" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                                                <br />
                                                                <br />
                                                                <div class="row text-center approvalRowHeight">
                                                                    <div class="col-md-12">
                                                                        <P ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                                            <strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode }} {{getBranchName(step.U_BRANCH)}}</strong>
                                                                            <!--step.approverDetails.firstName+' '+step.approverDetails.lastName+'/'-->
                                                                        </P>
                                                                        <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                                            <strong>{{step.status + ' By '+' - ' + step.approverDetails.approvedBy}}</strong>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12 list-group-item" href="#"
                                                                         ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                                         style="min-height:90px;">
                                                                        <div class="row">
                                                                            <div class="col-md-1 col-xs-1">
                                                                                <h5>{{$index + 1}}. </h5>
                                                                            </div>
                                                                            <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                                                <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                                                <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                                            </div>
                                                                            <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                                                <div class="row">
                                                                                    <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                                        <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                                        <small>Hold</small>
                                                                                    </div>
                                                                                    <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                                        <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                                        <small>Approve</small>
                                                                                    </div>
                                                                                    <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                                        <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                                        <small>Reject</small>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            &nbsp;
                                                                        </div>
                                                                        <div class="row" style="margin-top:0px;text-align:center">
                                                                            <div>
                                                                                <b ng-if="$index == 0">Received On: {{dateFormat(step.dateCreated)}}</b>
                                                                                <b class="" ng-if="$index == 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / {{step.status}} On: {{dateFormat(step.dateModified)}}</b>
                                                                                <b class="" ng-if="$index > 0 && itemWorkflow[0].WorkflowTracks[$index-1].status == 'APPROVED'">Received On: {{dateFormat(itemWorkflow[0].WorkflowTracks[$index-1].dateModified)}}</b>
                                                                                <b class="" ng-if="$index > 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / {{step.status}} On: {{dateFormat(step.dateModified)}}</b>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div style='border-bottom:1px solid #ccc;'></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    &nbsp;

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #endregion Approval Pop-Up -->
                <!-- #region PR Close Pop-Up -->
                <div class="modal" id="closePRPopup" tabindex="-1">
                    <div class="modal-dialog" style="width: 50%;height:50%">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h3 style="text-align:center">Close PR</h3>
                            </div>
                            <div class="modal-body">
                                <div class="pmbb-view">
                                    <div class="row white-box">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>PR NUMBER</label>
                                                        <input ng-disabled="true" type="text" ng-model="PRCloseDetails.PR_NUMBER" name="prno" id="prno" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4" ng-if="PRCloseDetails.PR_ITEM_NAME">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>ITEM NAME</label>
                                                        <input ng-disabled="true" type="text" ng-model="PRCloseDetails.PR_ITEM_NAME" name="prno" id="prno" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>Status</label>
                                                        <input class="form-control" ng-model="PRCloseDetails.PR_STATUS" ng-disabled="true" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>Comments</label>
                                                        <textarea ng-model="PRCloseDetails.COMMENTS" name="prno" ng-disabled="PRDetails.PR_STATUS === 'CLOSED' ? true : false" id="prno" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-offset-5">
                                            <label style="color:red" ng-show="showPRItemCancelErrMessage">{{showPRItemCancelErrMessage}}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        &nbsp;
                                    </div>
                                    <div class="row text-center">
                                        <button type="submit" class="btn btn-success" ng-if="PRDetails.PR_STATUS !== 'CLOSED'" ng-click="savePr()">Submit</button>
                                        <button type="submit" class="btn btn-warning" ng-click="closepopup()">Cancel</button>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #endregion PR Close Pop-Up -->

            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>
