﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ng-controller="viewPRCtrl">

                    <h4 ng-show="PRDetails.PRSHOW">Purchase Requisition</h4>
                    <h4 ng-show="!PRDetails.PRSHOW">Work Order Requisition</h4>

                    <fieldset>

                        <fieldset ng-disabled="true">

                            <div class="row white-box" ng-show="PRDetails.PRSHOW">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>PR NO<span class="text-danger">*</span></label>
                                            <!--<input type="text" class="form-control" ng-model="PRDetails.PR_NUMBER">-->
                                            <input ng-disabled="true" type="text" ng-model="PRDetails.PR_NUMBER" name="prno" id="prno" class="form-control" />
                                            <div ng-show="isValidPRNO">
                                                <div class="help-block error logininput text-danger" ng-show="isValidPRNO">Please enter PR NO</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Expenditure Type<span class="text-danger">*</span></label>
                                            <select class="form-control" ng-model="PRDetails.ASSET_TYPE" ng-options="type.value as type.display for type in typesOfExpenditure"></select>
                                            <!--<input type="text" class="form-control" ng-model="PRDetails.ASSET_TYPE">-->
                                            <div ng-show="isValidConsumables">
                                                <div class="help-block error logininput text-danger" ng-show="isValidConsumables">Please Select Expenditure Type</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-hide="true">
                                    <div class="row">
                                        <div moment-picker="PRDetails.REQUEST_DATE" format="DD-MM-YYYY HH:mm" class="col-md-12">
                                            <label>Date<span class="text-danger">*</span></label>
                                            <input ng-disabled="true" class="form-control" placeholder="Select a date" ng-model="PRDetails.REQUEST_DATE" ng-model-options="{ updateOn: 'blur' }">
                                            <div ng-show="isValidDate">
                                                <div class="help-block error logininput text-danger" ng-show="isValidDate">Please Select Date</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label> PR Type <span class="text-danger">*</span></label>&nbsp;&nbsp;
                                            <select ng-model="PRDetails.PR_TYPE" class="form-control p-0" data-placeholder="PR_TYPE" id="PR_TYPE" required="">
                                                <option value="REGULAR_PURCHASE">Regular Purchase</option>
                                                <option value="PHARMACY_PURCHASE">Pharmacy Purchase</option>
                                                <option value="IMPLANT_PURCHASE">Implant Purchase</option>
                                                <option value="LAB_MATERIAL_PURCHASE">Lab Material Purchase</option>
                                            </select>
                                            <div ng-show="prTypeValidation">
                                                <div class="help-block error logininput text-danger" ng-show="prTypeValidation">Please select PR Type</div>
                                            </div>
                                            <!--<label for="yes" role="button">
                                <input type="radio" id="yes"
                                       ng-model="PRDetails.PR_TYPE" ng-click="isMedical(PRDetails.PR_TYPE)"
                                       ng-value='true' />
                            </label>
                            <label>Medical</label>
                            <label for="no" role="button">
                                <input type="radio" id="no"
                                       ng-model="PRDetails.PR_TYPE" ng-click="isMedical(PRDetails.PR_TYPE)"
                                       ng-value='false' />
                            </label>
                            <label>Non-Medical</label>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    &nbsp;
                                </div>
                                <div class="col-md-4" ng-hide="true">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Nature Of Requirement<span class="text-danger">*</span></label>
                                            <!--<input type="text" class="form-control" ng-model="PRDetails.PRIORITY">-->
                                            <select class="form-control" ng-model="PRDetails.PRIORITY" ng-options="type.value as type.display for type in natureOfRequirement"></select>
                                            <div ng-show="isValidNatureOfRequirement">
                                                <div class="help-block error logininput text-danger" ng-show="isValidNatureOfRequirement">Please Select Nature Of Requirement</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Department<span class="text-danger">*</span></label>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input ng-disabled="true" type="text" class="form-control" ng-model="PRDetails.DEPARTMENT_CODE">
                                                </div>
                                            </div>
                                            <div ng-show="isValidIndentDept">
                                                <div class="help-block error logininput text-danger" ng-show="isValidIndentDept">Please Select Indent Dept.</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="urgency">Urgency<span class="text-danger">*</span></label>
                                    <select ng-model="PRDetails.URGENCY" class="form-control p-0" data-placeholder="Urgency" id="urgency" required="">
                                        <option value="Critical (Will be Closed Today)">Critical (Will be Closed Today)</option>
                                        <option value="High (Will be Closed in 2 Days)">High (Will be Closed in 2 Days)</option>
                                        <option value="Medium (Will be Closed in 5 Days)">Medium (Will be Closed in 5 Days)</option>
                                        <option value="Low (Will Take 10-15 Days Time)">Low (Will Take 10-15 Days)</option>
                                    </select>
                                    <div ng-show="urgencyValidation">
                                        <div class="help-block error logininput text-danger" ng-show="urgencyValidation">Please select URGENCY</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Location<span class="text-danger">*</span></label>
                                            <!--<input type="text" class="form-control" ng-model="PRDetails.USER_LOCATION" ng-disabled="true" />-->
                                            <select ng-model="PRDetails.USER_LOCATION" name="location" id="location" class="form-control" ng-options="location.configValue as location.configText for location in PRDetails.companyLocation | orderBy:'display'" data-placeholder="Select a Location..." required>
                                                <option value="">Select a Location</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12" ng-show="userlocationvalidation">
                                            <div class="help-block error logininput text-danger" ng-show="userlocationvalidation">Please enter Location</div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Indent Dept<span class="text-danger">*</span></label>
                            <div class="row">
                                <div class="col-md-12">
                                    <input ng-disabled="true" type="text" class="form-control" ng-model="PRDetails.DEPARTMENT_NAME">
                                </div>
                            </div>
                            <div ng-show="isValidIndentDept">
                                <div class="help-block error logininput text-danger" ng-show="isValidIndentDept">Please Select Indent Dept.</div>
                            </div>
                        </div>
                    </div>
                </div>-->
                                <div class="col-md-4" ng-hide="true">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Project<span class="text-danger">*</span></label>
                                            <select ng-model="PRDetails.PROJECT" class="form-control p-0" data-placeholder="PROJECT" id="PROJECT" required="">
                                                <option value="REGULAR">REGULAR</option>
                                            </select>
                                            <div ng-show="isValidProject">
                                                <div class="help-block error logininput text-danger" ng-show="isValidProject">Please Select Project</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    &nbsp;
                                </div>

                                <!--<div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Creator Name</label>
                            <input type="text" class="form-control" ng-model="PRDetails.REQUESTOR_INFO" disabled />
                        </div>
                    </div>
                </div>-->



                                <div class="col-md-12">
                                    &nbsp;
                                </div>

                            </div>
                        </fieldset>

                        <div class="row white-box" ng-show="!PRDetails.PRSHOW">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Requisition Ref No<span class="text-danger">*</span></label>
                                        <!--<input type="text" class="form-control" ng-model="PRDetails.PR_NUMBER">-->
                                        <input ng-disabled="true" type="text" ng-model="PRDetails.PR_NUMBER" name="prno" id="prno" class="form-control" />
                                        <!--<div ng-show="isValidPRNO">
                            <div class="help-block error logininput text-danger" ng-show="isValidPRNO">Please enter Requisition Ref NO</div>
                        </div>-->
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Project<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" ng-model="PRDetails.ASSET_TYPE">
                                        <!--<div ng-show="isValidConsumables">
                            <div class="help-block error logininput text-danger" ng-show="isValidConsumables">Please enter Project</div>
                        </div>-->
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <!--<div moment-picker="PRDetails.REQUEST_DATE" format="YYYY-MM-DD HH:mm" class="col-md-12">
                        <label>Date*</label>
                        <input class="form-control" placeholder="Select a date" ng-model="PRDetails.REQUEST_DATE" ng-model-options="{ updateOn: 'blur' }">
                    </div>-->

                                </div>
                            </div>
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Location<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" ng-model="PRDetails.PRIORITY">
                                        <!--<div ng-show="isValidNatureOfRequirement">
                            <div class="help-block error logininput text-danger" ng-show="isValidNatureOfRequirement">Please enter Location</div>
                        </div>-->
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Work Order Duration<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" ng-model="PRDetails.WORK_ORDER_DURATION" valid-number allow-decimal="false" allow-negative="false">
                                        <!--<div ng-show="isValidConsumables">
                            <div class="help-block error logininput text-danger" ng-show="isValidConsumables">Please enter Work Order Duration</div>
                        </div>-->
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                &nbsp;
                            </div>

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Purpose in Brief<span class="text-danger">*</span></label>
                                        <!--<input type="text" class="form-control" ng-model="PRDetails.PR_NUMBER">-->
                                        <input type="text" ng-model="PRDetails.PURPOSE_IN_BRIEF" name="prno" id="prno" class="form-control" />
                                        <!--<div ng-show="isValidPRNO">
                            <div class="help-block error logininput text-danger" ng-show="isValidPRNO">Please enter Requisition Ref NO</div>
                        </div>-->
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>


                        <div class="row white-box ">
                            <h5 ng-show="tableValidation" style="color:red;">{{tableValidationMsg}}</h5>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" ng-show="PRDetails.PRSHOW">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="min-width:100px;">
                                                SNO
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                ITEM NAME<span class="text-danger">*</span>
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Code<span class="text-danger">*</span>
                                            </th>
                                            <!--<th class="text-center" style="min-width:150px;">
                                Manufacturer
                            </th>
                            <th class="text-center" style="min-width:150px;">
                                Suggested Source
                            </th>
                            <th class="text-center" style="min-width:150px;">
                                Catalog N.o.
                            </th>-->
                                            <th class="text-center" style="min-width:150px;">
                                                Item Delivery Date<span class="text-danger">*</span>
                                            </th>
                                            <!--<th class="text-center" style="min-width:150px;">
                                Justification<span class="text-danger">*</span>
                            </th>-->
                                            <th class="text-center" style="min-width:150px;">
                                                Expected Unit Price
                                            </th>
                                            <th class="text-center" style="min-width:100px;">
                                                Quantity<span class="text-danger">*</span>
                                            </th>
                                            <th class="text-center" style="min-width:100px;">
                                                UOM<span class="text-danger">*</span>
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Total Estimated Cost
                                            </th>
                                            <!--<th class="text-center" style="min-width:150px;">
                                Duration
                            </th>-->
                                            <!--<th class="text-center" style="min-width:150px;" ng-if="prID > 0">
                                Approvals
                            </th>-->
                                            <th class="text-center" style="min-width:150px;">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="pr in PRDetails.PRItemsList" ng-init="parentIdx = $index">
                                        <tr>
                                            <td class="text-center" style="min-width:100px;" ng-disabled="true">
                                                {{$index+1}}
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <textarea type="text" class="form-control" ng-model="pr.ITEM_NAME"
                                                          ng-keyup="autofillProduct(pr.ITEM_NAME, $index)"
                                                          ng-blur="onBlurProduct($index)"
                                                          style="resize:vertical" rows="2" ng-disabled="true"></textarea>
                                                <ul class="list-group col-md-2" ng-if="['filterProducts_'+$index]" style="position:absolute;z-index:99;min-width:150px;">
                                                    <li class="list-group-item form-control" style="cursor:pointer;" ng-repeat="prod_$index in this['filterProducts_'+$index]" ng-click="fillTextbox(prod_$index, $parent.$index)"><small>{{prod_$index.prodName}}</small></li>
                                                </ul>
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <textarea type="text" class="form-control" ng-model="pr.ITEM_CODE" ng-disabled="true" style="resize:vertical" rows="2"></textarea>
                                            </td>
                                            <!--<td class="text-center" style="min-width:150px;">
                                <textarea type="text" class="form-control" ng-model="pr.BRAND" ng-disabled="true" style="resize:vertical" rows="2"></textarea>
                            </td>
                            <td class="text-center" style="min-width:150px;">
                                <textarea type="text" class="form-control" ng-model="pr.SUGGESTED_SOURCE" style="resize:vertical" rows="2" ng-disabled="true"></textarea>
                            </td>
                            <td class="text-center" style="min-width:150px;">
                                <textarea type="text" class="form-control" ng-model="pr.CATALOG_NO" style="resize:vertical" rows="2" ng-disabled="true"></textarea>
                            </td>-->
                                            <td class="text-center" style="min-width:150px;">
                                                <div moment-picker="pr.ITEM_DELV_DATE1" format="DD-MM-YYYY" min-date="minDateMoment">
                                                    <textarea type="text" class="form-control" ng-model="pr.ITEM_DELV_DATE1" style="resize:vertical" rows="2" ng-disabled="true" ng-model-options="{ updateOn: 'blur' }" placeholder="Select a date"></textarea>
                                                </div>
                                            </td>
                                            <!--<td class="text-center" style="min-width:150px;">
                                <textarea type="text" class="form-control" ng-model="pr.JUSTIFICATION" style="resize:vertical" rows="2" ng-disabled="true"></textarea>
                            </td>-->
                                            <td class="text-center" style="min-width:80px;">
                                                <input type="text" class="form-control" ng-model="pr.UNIT_PRICE" ng-disabled="true" ng-change="prUnitPriceCalculation()" valid-number allow-decimal="true" allow-negative="false">
                                            </td>
                                            <td class="text-center" style="min-width:100px;">
                                                <input type="text" class="form-control" ng-model="pr.REQUIRED_QUANTITY" ng-disabled="true" ng-change="prUnitPriceCalculation()" valid-number allow-decimal="true" allow-negative="false">
                                            </td>
                                            <td class="text-center" style="min-width:100px;">
                                                <select data-placeholder="Select Type" ng-model="pr.UNITS" ng-disabled="true" ng-options="BC.configValue as BC.configValue for BC in companyItemUnits" class="form-control valid"></select>
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <input type="number" class="form-control" ng-model="pr.TOTAL_PRICE" ng-disabled="true">
                                            </td>
                                            <!--<td class="text-center" style="min-width:250px;">
                                <div class="col-sm-6">
                                    <input class="form-control center-block" title="{{pr.DURATION_DAYS}}" ng-model="pr.DURATION_DAYS" valid-number allow-decimal="false" allow-negative="false" ng-disabled="true" />
                                </div>
                                <div class="col-sm-6">
                                    <select data-placeholder="Select Type" ng-model="pr.COMMENTS" class="form-control valid" ng-disabled="true">
                                        <option value="Days">Days</option>
                                        <option value="Weeks">Weeks</option>
                                        <option value="Months">Months</option>
                                    </select>
                                </div>
                            </td>-->
                                            <!--<td class="text-center" style="min-width:150px;" ng-if="prID > 0">
                                <a title="Approvals" role="button" data-target="#approvalPopup" data-toggle="modal" ng-click="showPendingApprovals(pr)">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </a>
                            </td>-->
                                            <td class="text-center" style="min-width:150px;">
                                                <div class="button-box" data-provides="fileinput" ng-if="!isFormdisabled && false">
                                                    <div class="fileupload btn btn-sm btn-info btn-sm waves-effect waves-light">
                                                        <span><i class="fa fa-upload"></i></span>
                                                        <input type="file" class="upload" ng-disabled="true" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{parentIdx}}" itemid="{{parentIdx}}" ng-file-select-items="onFileSelect($files)">
                                                    </div>
                                                    <label> {{pr.attachmentName}}  </label>
                                                </div>
                                                <button class="btn btn-sm btn-danger" ng-disabled="true" ng-click="deletePrItem($index)" title="Delete Item">
                                                    <i class="fa fa-trash-alt "></i>
                                                </button>
                                                <small>
                                                    <a target="_blank" ng-show="pr && pr.ATTACHMENTS && pr.ATTACHMENTS.length > 0" href="FileDownload.aspx?attachid={{pr.ATTACHMENTS}}&sessionid={{sessionID}}">Download</a>
                                                </small>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table table-bordered table-hover" ng-show="!PRDetails.PRSHOW">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="min-width:100px;">
                                                SNO
                                            </th>
                                            <th class="text-center" style="min-width:300px;">
                                                ITEM NAME*
                                            </th>
                                            <th class="text-center" style="min-width:250px;">
                                                Description*
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Manufacturer
                                            </th>
                                            <th class="text-center" style="min-width:100px;">
                                                UOM*
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Expected Unit Price
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Quantity*
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Total <br /> Estimated <br /> Cost
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Duration*
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Approvals
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="pr in PRDetails.PRItemsList" ng-init="parentIdx = $index">
                                        <tr>
                                            <td class="text-center" style="min-width:100px;">
                                                {{$index+1}}
                                            </td>
                                            <td class="text-center" style="min-width:300px;">
                                                <textarea type="text" class="form-control" ng-model="pr.ITEM_NAME"
                                                          ng-keyup="autofillProduct(pr.ITEM_NAME, $index)"
                                                          ng-blur="onBlurProduct($index)"
                                                          style="resize:vertical" rows="2></textarea>
                                                <ul class="list-group" ng-if="['filterProducts_'+$index]" style="position:absolute;z-index:99">
                                                    <li class="list-group-item form-control" style="cursor:pointer;" ng-repeat="prod_$index in this['filterProducts_'+$index]" ng-click="fillTextbox(prod_$index, $parent.$index)"><small>{{prod_$index.prodName}}</small></li>
                                                </ul>
                                            </td>
                                            <td class="text-center" style="min-width:250px;">
                                                <textarea type="text" class="form-control" ng-model="pr.ITEM_DESCRIPTION" style="resize:vertical" rows="2"></textarea>
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <textarea type="text" class="form-control" ng-model="pr.BRAND" style="resize:vertical" rows="2"></textarea>
                                            </td>
                                            <td class="text-center" style="min-width:100px;">
                                                <select data-placeholder="Select Type" ng-model="pr.UNITS" ng-options="BC.configValue as BC.configValue for BC in companyItemUnits" class="form-control valid"></select>
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <input type="text" class="form-control" ng-model="pr.UNIT_PRICE" ng-change="prUnitPriceCalculation()" valid-number allow-decimal="true" allow-negative="false">
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <input type="text" class="form-control" ng-model="pr.REQUIRED_QUANTITY" ng-change="prUnitPriceCalculation()" valid-number allow-decimal="true" allow-negative="false">
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <input type="number" class="form-control" ng-model="pr.TOTAL_PRICE" ng-disabled="true">
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <textarea type="text" class="form-control" ng-model="pr.COMMENTS" style="resize:vertical" rows="2"></textarea>
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <textarea type="text" class="form-control" ng-model="pr.COMMENTS" style="resize:vertical" rows="2"></textarea>
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <div class="button-box" data-provides="fileinput" ng-if="!isFormdisabled && false">
                                                    <div class="fileupload btn btn-info btn-sm waves-effect waves-light">
                                                        <span><i class="fa fa-upload"></i></span>
                                                        <input type="file" ng-disabled="true" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{parentIdx}}" itemid="{{parentIdx}}" ng-file-select-items="onFileSelect($files)">
                                                    </div>
                                                    <label> {{pr.attachmentName}}  </label>
                                                </div>
                                                <button class="btn btn-danger" ng-disabled="true" ng-click="deletePrItem($index)" title="Delete Item">
                                                    <i class="fa fa-trash-alt "></i>
                                                </button>
                                                <small>
                                                    <a target="_blank" ng-show="pr && pr.ATTACHMENTS && pr.ATTACHMENTS.length > 0" href="FileDownload.aspx?attachid={{pr.ATTACHMENTS}}&sessionid={{sessionID}}">Download</a>
                                                </small>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row top-buffer" ng-show="false">
                                <div class="col-md-1 pull-right text-center">
                                    <button id="AddNewLineItem" class="add_new_line_item uppercase" ng-disabled="true" ng-click="addPrItem()" title="Add new line Item">
                                        <i class="fa fa-plus" aria-hidden="true"></i> Item
                                    </button>
                                </div>
                            </div>

                            <div class="form-section" ng-show="PRDetails.PRSHOW" ng-disabled="true">

                                <div class="col8 colxs16 column">
                                    <div class="fieldgroup">
                                        <label class="uppercase">Justification</label>
                                        <textarea class="form-control" name="notes_for_vendor" rows="4" ng-model="PRDetails.COMMENTS" ng-disabled="true"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </fieldset>
                    <div class="row text-center">
                        <button type="submit" class="btn btn-info btn-file btn-new-look" ng-click="submitPr()" ng-if="1==2">Submit</button>
                        <button class="btn btn-info btn-file btn-new-look" ng-click="goToPrList();" ng-disabled="false">Cancel</button>
                        <br />
                    </div>
                    <fieldset ng-disabled="isSuperUser">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                        <br />
                                        <br />
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <!--<strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode }}</strong>
                                    </br>-->
                                                    <strong> <label style="color:darkorange">{{step.status + ' By ' + ' - ' + step.approverDetails.firstName}}</label>({{step.approver.desigCode + ' ' + step.department.deptCode}}) </strong>
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>{{step.status + ' By '+' - ' + step.approverDetails.approvedBy}}</strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                 style="min-height:90px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                        <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                <small>Hold</small>
                                                            </div>
                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>
                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    &nbsp;
                                                </div>
                                                <div class="row" style="margin-top:0px;text-align:center">
                                                    <div>
                                                        <b ng-if="$index == 0">Received On: {{dateFormat(step.dateCreated)}}</b>
                                                        <b class="" ng-if="$index == 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / {{step.status}} On: {{dateFormat(step.dateModified)}}</b>
                                                        <b class="" ng-if="$index > 0 && itemWorkflow[0].WorkflowTracks[$index-1].status == 'APPROVED'">Received On: {{dateFormat(itemWorkflow[0].WorkflowTracks[$index-1].dateModified)}}</b>
                                                        <b class="" ng-if="$index > 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / {{step.status}} On: {{dateFormat(step.dateModified)}}</b>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </fieldset>

                    <!-- #region Approval Pop-Up -->
                    <div class="modal" id="approvalPopup" tabindex="-1">
                        <div class="modal-dialog" style="width: 50%;height:50%">
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <h3 style="text-align:center">Approvers Pending</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="pmbb-view" style="overflow-wrap: break-word; max-height:50%">
                                        <div class="white-box">
                                            <div class="box-title">
                                                <h2 class="bold-font-prm text-center">Pending Approvals</h2>
                                            </div>
                                            <div class="row" ng-disabled="isSuperUser">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-12 hoverTransition04" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                                                    <br />
                                                                    <br />
                                                                    <div class="row text-center approvalRowHeight">
                                                                        <div class="col-md-12">
                                                                            <P ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                                                <strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode }} {{getBranchName(step.U_BRANCH)}}</strong>
                                                                                <!--step.approverDetails.firstName+' '+step.approverDetails.lastName+'/'-->
                                                                            </P>
                                                                            <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                                                <strong>{{step.status + ' By '+' - ' + step.approverDetails.approvedBy}}</strong>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12 list-group-item" href="#"
                                                                             ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                                             style="min-height:90px;">
                                                                            <div class="row">
                                                                                <div class="col-md-1 col-xs-1">
                                                                                    <h5>{{$index + 1}}. </h5>
                                                                                </div>
                                                                                <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                                                    <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="true" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                                                    <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                                                </div>
                                                                                <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index); ">
                                                                                    <div class="row" ng-if="1==2">
                                                                                        <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                                            <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                                            <small>Hold</small>
                                                                                        </div>
                                                                                        <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                                            <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                                            <small>Approve</small>
                                                                                        </div>
                                                                                        <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                                            <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                                            <small>Reject</small>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row">
                                                                                &nbsp;
                                                                            </div>

                                                                            <div class="row" style="margin-top:0px;text-align:center">
                                                                                <div>
                                                                                    <b ng-if="$index == 0">Received On: {{dateFormat(step.dateCreated)}}</b>
                                                                                    <b class="" ng-if="$index == 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / {{step.status}} On: {{dateFormat(step.dateModified)}}</b>

                                                                                    <b class="" ng-if="$index > 0 && itemWorkflow[0].WorkflowTracks[$index-1].status == 'APPROVED'">Received On: {{dateFormat(itemWorkflow[0].WorkflowTracks[$index-1].dateModified)}}</b>
                                                                                    <b class="" ng-if="$index > 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / {{step.status}} On: {{dateFormat(step.dateModified)}}</b>
                                                                                </div>
                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div style='border-bottom:1px solid #ccc;'></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        &nbsp;

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #endregion Approval Pop-Up -->



                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>