﻿<style>
    .header-details-row .col-md-2 {
        width:14.2%;
    }

    .item-details-row .col-md-2 {
        width: 14.2%;
    }

    .errspan {
        float: right;
        margin-right: 6px;
        margin-top: -30px;
        position: relative;
        z-index: 2;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ng-controller="poDomesticZSDMCtrl">
                    <div class="col-sm-12">
                        <!--<div class="row"><strong>Domestic</strong></div>

                        <div class="row white-box">
                            <div class="col-md-6">
                                <label>Select Plant</label>
                                <select data-placeholder="Select a Plant..." name="selectPlant" ng-model="currentUIPlant"
                                        ng-options="value.PLANT_NAME for value in requirementPlants" ng-change="filterSelectionChange()"
                                        class="form-control p-0"></select>
                            </div>
                            <div class="col-md-6" ng-show="currentUIPlant.PLANT_CODE">
                                <label>Select Vendor</label>
                                <select data-placeholder="Select a vendor..." name="selectVendor" ng-model="currentUIVendor"
                                        ng-options="value.vendorCompany for value in selectedVendors"
                                        ng-change="filterSelectionChange()" class="form-control p-0"></select>
                            </div>
                            
                        </div>-->

                        

                        <!--<div class="row white-box header-details-row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Vendor</label>
                                        <input type="text" ng-model="formDetails.VENDOR_CODE" name="prno" id="prno" class="form-control" maxlength="10" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Purchase Organization</label>
                                        <input ng-disabled="true" type="text" value="5100" name="prno" id="prno" class="form-control" maxlength="4" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Company Code</label>
                                        <input ng-disabled="true" type="text" value="5100" name="prno" id="prno" class="form-control" maxlength="4" />
                                    </div>

                                    <div class="col-md-2">
                                        <label>Payment Terms</label>
                                        <input ng-disabled="false" type="text" ng-model="formDetails.PAYMENT_TERMS" name="prno" id="prno" class="form-control" maxlength="4" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Document Type</label>
                                        <input ng-disabled="true" type="text" ng-model="formDetails.DOC_TYPE" name="DOC_TYPE" id="prno" class="form-control" required maxlength="4" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Currency</label>
                                        <input ng-disabled="false" type="text" ng-model="formDetails.PO_CURRENCY" name="prno" id="prno" class="form-control" maxlength="5" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Item Special Instruction</label>
                                        <input ng-disabled="false" type="text" ng-model="formDetails.ITEM_SPECIAL_INST" name="prno" id="prno" class="form-control" maxlength="100" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Creator Name</label>
                                        <input ng-disabled="true" type="text" ng-model="formDetails.PO_CREATOR" name="prno" id="prno" class="form-control" maxlength="12" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Inco Terms</label>
                                        <input ng-disabled="false" type="text" ng-model="formDetails.INCO_TERMS1" name="prno" id="prno" class="form-control" maxlength="3" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Inco Terms Description</label>
                                        <input ng-disabled="false" type="text" ng-model="formDetails.INCO_TERMS2" name="INCO_TERMS2" id="prno" class="form-control" maxlength="28" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Purchase Group</label>
                                        <input ng-disabled="false" type="text" ng-model="formDetails.PURCHASE_GROUP_CODE" name="prno" id="prno" class="form-control" maxlength="3" />
                                    </div>

                                    <div class="col-md-2">
                                        <label>Vendor Quotation Num</label>
                                        <a target="_blank" href="{{formDetails.VENDOR_QUOTATION}}" style="cursor:pointer">
                                            <u><input ng-disabled="true" style="cursor:pointer" type="text" ng-model="formDetails.VENDOR_QUOTATION1" name="prno" id="prno" class="form-control" maxlength="120" /></u>
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Delivery Mode </label>
                                        <input ng-disabled="false" type="text" ng-model="formDetails.Delivery_MODE" name="prno" id="prno" class="form-control" maxlength="4" />
                                    </div>
                                    <div class="col-md-2 form-check" style="margin-top: 20px;">
                                        <label class="form-check-label pull-left">
                                            <input ng-disabled="(formDetails.PR_NUMBER)?true:false" class="form-check-input" name="{{$index+1}}" type="radio" ng-model="formDetails.GMP_TYPE" ng-value="true" />GMP
                                            <input ng-disabled="(formDetails.PR_NUMBER)?true:false" class="form-check-input" name="{{$index+1}}" type="radio" ng-model="formDetails.GMP_TYPE" ng-value="false" />NON-GMP
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Insurance No </label>
                                        <input ng-disabled="false" type="text" ng-model="formDetails.INSURANCE_NUMBER" name="INSURANCE_NUMBER" id="prno" class="form-control" required />
                                        <span style="color:red" ng-show="myForm.INSURANCE_NUMBER.$touched && myForm.INSURANCE_NUMBER.$invalid">
                                            Insurance number is required.
                                        </span>
                                    </div>
                                    <div class="col-md-2">
                                        <label>%Penality Per Week</label>
                                        <input ng-disabled="false" type="number" ng-model="formDetails.PENALITY_PER_WEEK" name="PENALITY_PER_WEEK" id="prno" class="form-control" required />
                                        <span style="color:red" ng-show="myForm.PENALITY_PER_WEEK.$touched && myForm.PENALITY_PER_WEEK.$invalid">
                                            Penality per week is required.
                                        </span>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Number of Weeks </label>
                                        <input ng-disabled="false" type="number" ng-model="formDetails.NUMBER_WEEKS" name="NUMBER_WEEKS" id="prno" class="form-control" required />
                                        <span style="color:red" ng-show="myForm.NUMBER_WEEKS.$touched && myForm.NUMBER_WEEKS.$invalid">
                                            Number of weeks is required.
                                        </span>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Max % of Penality</label>
                                        <input ng-disabled="false" type="number" ng-model="formDetails.MAX_PENALITY" name="MAX_PENALITY" id="prno" class="form-control" required />
                                        <span style="color:red" ng-show="myForm.MAX_PENALITY.$touched && myForm.MAX_PENALITY.$invalid">
                                            Max % of penality is required.
                                        </span>
                                    </div>

                                    <div class="col-md-2">
                                        <label>Max Number of Weeks </label>
                                        <input ng-disabled="false" type="number" ng-model="formDetails.MAX_WEEKS" name="MAX_WEEKS" id="prno" class="form-control" required />
                                        <span style="color:red" ng-show="myForm.MAX_WEEKS.$touched && myForm.MAX_WEEKS.$invalid">
                                            Max Number of weeks is required.
                                        </span>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Held Status </label>
                                        <input ng-disabled="false" type="text" ng-model="formDetails.MEMORY_TYPE" name="prno" id="prno" class="form-control" maxlength="1" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>ZZBONGING</label>
                                        <select ng-model="formDetails.ZZBONGING" class="form-control"
                                                data-placeholder="Select a Value" id="ZZBONGING">
                                            <option value="YES">YES</option>
                                            <option value="NO">NO</option>
                                        </select>
                                    </div>
                                </div>
                               
                            </div>
                        </div>-->
                        <div class="row white-box item-details-row" ng-repeat="item in formDetails.items" ng-if="!item.isDeleted">
                            <div class="col-md-12">
                                <a class="btn btn-primary" data-toggle="collapse" data-target="#multiCollapseExample{{$index+1}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample{{$index+1}}">Item {{$index+1}}</a>
                                <div class="col-md-1 pull-right">
                                    <a class="btn btn-sm btn-danger waves-effect waves-light" ng-click="deleteItem(item);"> <i class="fa fa-trash-alt m-r-5"></i> <span></span></a>
                                </div>
                                <div class="collapse" id="multiCollapseExample{{$index+1}}">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>PR Number</label>
                                            <input ng-disabled="false" type="text" ng-model="item.PR_NUMBER" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>PR Line Item</label>
                                            <input ng-disabled="false" type="text" ng-model="item.ITEM_OF_REQUESITION" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Material Type</label>
                                            <input ng-disabled="false" type="text" ng-model="item.MATERIAL_TYPE" name="prno" id="prno" class="form-control" maxlength="4" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Material Code</label>
                                            <input ng-disabled="(item.PR_NUMBER)?true:false" type="text" ng-model="item.MATERIAL_CODE" name="prno" id="prno" class="form-control" maxlength="18" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>MPN Code </label>
                                            <input ng-disabled="false" type="text" ng-model="item.MPN_CODE" name="prno" id="prno" class="form-control" maxlength="18" />
                                        </div>

                                        <div class="col-md-2">
                                            <label>Plant</label>
                                            <input ng-disabled="false" type="text" ng-model="item.PLANT" name="prno" id="prno" class="form-control" maxlength="4" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Quantity</label>
                                            <input valid-number allow-decimal="true" allow-negative="false" type="text" onKeyPress="if (!((/^\d{0,12}(\.\d{0,2})?$/).test(this.value))) return false;" 
                                                   ng-model="item.QUANTITY" ng-disabled="true"  name="Quantity" id="Quantity" class="form-control" required />
                                            <span style="color:red" ng-show="item.quantityError == true">
                                                Quantity is required.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-2">
                                            <label>PO Price</label>
                                            <input valid-number allow-decimal="true" allow-negative="false" type="text" onKeyPress="if (!((/^\d{0,12}(\.\d{0,1})?$/).test(this.value))) return false;"
                                                   ng-model="item.PO_PRICE" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Discount Value </label>
                                            <input valid-number allow-decimal="true" allow-negative="false" type="text" ng-model="item.DISCOUNT_VALUE" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Tax Code</label>
                                            <!--<input ng-disabled="false" type="text" ng-model="item.TAX_CODE" name="prno" id="prno" class="form-control" />-->
                                            <select ng-model="item.TAX_CODE" class="form-control"
                                                    data-placeholder="Select a Tax Code" id="reqType">
                                                <option value="">Select</option>
                                                <option value="G2">G2</option>
                                                <option value="G0">G0</option>
                                                <option value="I0">I0</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Pack&Forward% </label>
                                            <input ng-disabled="false" type="number" onKeyPress="if (!((/^\d{0,12}(\.\d{0,1})?$/).test(this.value))) return false;" ng-model="item.PACK_FORWARD_PER" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Pack&Forward-Val</label>
                                            <input ng-disabled="false" type="number" onKeyPress="if (!((/^\d{0,12}(\.\d{0,1})?$/).test(this.value))) return false;" ng-model="item.PACK_VALUE" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Freight Non Taxable-%Val </label>
                                            <input ng-disabled="false" type="number" onKeyPress="if (!((/^\d{0,12}(\.\d{0,1})?$/).test(this.value))) return false;" ng-model="item.FRIEGHT_NON_TAX_PER" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Freight Taxable%</label>
                                            <input ng-disabled="false" type="number" onKeyPress="if (!((/^\d{0,12}(\.\d{0,1})?$/).test(this.value))) return false;" ng-model="item.FREIGHT_TAXABLE_PER" name="prno" id="prno" class="form-control" />
                                        </div>


                                    </div>
                                    <div class="row">

                                        <div class="col-md-2">
                                            <label>Freight-Val</label>
                                            <input ng-disabled="false" type="number" onKeyPress="if (!((/^\d{0,12}(\.\d{0,1})?$/).test(this.value))) return false;" ng-model="item.FREIGHT_VALUE" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Freight val Non Tax</label>
                                            <input ng-disabled="false" type="number" onKeyPress="if (!((/^\d{0,12}(\.\d{0,1})?$/).test(this.value))) return false;" ng-model="item.FREIGHT_NON_TAX_PER" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>MISC(%) Taxable </label>
                                            <input ng-disabled="false" type="number" onKeyPress="if (!((/^\d{0,12}(\.\d{0,1})?$/).test(this.value))) return false;" ng-model="item.MISC_TAXABLE_PER" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>MISC Value Taxable</label>
                                            <input ng-disabled="false" type="number" onKeyPress="if (!((/^\d{0,12}(\.\d{0,1})?$/).test(this.value))) return false;" ng-model="item.MISC_TAXABLE_VAL" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>MISC%Non-Tax </label>
                                            <input ng-disabled="false" type="number" onKeyPress="if (!((/^\d{0,12}(\.\d{0,1})?$/).test(this.value))) return false;" ng-model="item.MISC_NONTAX_PER" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>MISC Value Non Tax</label>
                                            <input ng-disabled="false" type="number" onKeyPress="if (!((/^\d{0,12}(\.\d{0,1})?$/).test(this.value))) return false;" ng-model="item.MISC_VALUE_NONTAX" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Pack Size </label>
                                            <input ng-disabled="false" type="number" ng-model="item.PRICE_UNIT" name="prno" id="prno" class="form-control" onkeypress="return this.value.length < 5 && event.charCode >= 48 && event.charCode <= 57" />
                                        </div>


                                    </div>
                                    <div class="row">

                                        <div class="col-md-2">
                                            <label>PO UOM</label>
                                            <input ng-disabled="false" type="text" ng-model="item.PO_UOM" name="prno" id="prno" class="form-control" maxlength="3" />
                                        </div>

                                        <div class="col-md-2">
                                            <label>Order Price Unit(Purchasing)</label>
                                            <input ng-disabled="false" type="text" ng-model="item.ORDER_PRICE_UNIT" name="prno" id="prno" class="form-control" maxlength="3" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Delivery Date </label>
                                            <!--<input ng-disabled="false" type="text" ng-model="item.Deliver_SCHEDULE" name="prno" id="prno" class="form-control" />-->
                                            <div moment-picker="item.Deliver_SCHEDULE" format="YYYY-MM-DD">
                                                <input name="Deliver_SCHEDULE" id="Deliver_SCHEDULE" class="form-control" placeholder="Select a date" ng-model="item.Deliver_SCHEDULE" ng-model-options="{ updateOn: 'blur' }">
                                                <i class="fa fa-calendar fa-2x errspan" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Vendor Catalog </label>
                                            <input ng-disabled="false" type="text" ng-model="item.Vendor_CATALOG" name="prno" id="prno" class="form-control" maxlength="35" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Net Price</label>
                                            <input valid-number allow-decimal="true" allow-negative="false" type="text" onKeyPress="if (!((/^\d{0,10}(\.\d{0,1})?$/).test(this.value))) return false;" 
                                                   ng-model="item.PO_NETPRICE" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Net Price in PO </label>
                                            <input valid-number allow-decimal="true" allow-negative="false" type="text" onKeyPress="if (!((/^\d{0,10}(\.\d{0,1})?$/).test(this.value))) return false;" 
                                                   ng-model="item.NET_PRICE_PUR_DOC" name="prno" id="prno" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                          <div class="col-md-6">
                                                <label>Vendor </label>
                                                <input ng-disabled="true" type="text" ng-model="item.VENDOR_COMPANY" name="VENDOR_COMPANY" id="VENDOR_COMPANY" class="form-control" maxlength="250" />
                                            </div>

                                        <!--<div class="col-md-2">
                        <label>Pack Size </label>
                        <input ng-disabled="false" type="text" ng-model="item.PACK_SIZE" name="prno" id="prno" class="form-control" maxlength="5" />
                    </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row white-box item-details-row">
                            <div class="col-md-3 pull-right">
                                <button class="btn btn-info btn-sm waves-effect waves-light" ng-click="cancel()" type="button"><span>Cancel</span></button>
                                <button class="btn btn-info btn-sm waves-effect waves-light" ng-click="submitPOToSAP(false)" type="button"><span>Generate PO</span></button>
                                <!--<button class="btn btn-info btn-sm waves-effect waves-light" ng-click="submitPOToSAP(true)" type="button"><span>Save PO As Draft</span></button>-->
                            </div>
                        </div>
                        <div class="row white-box item-details-row" ng-if="POServiceStatusText">
                            <div class="col-md-12 text-center">
                                <p class="text-primary font-weight-bold"><strong>PO Generation Status: {{POServiceStatusText}}</strong></p>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>