﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper" data-ng-controller="auctionsCtrl">


            <!--<a class="btn btn-info waves-effect waves-light add-btn visible-xs"><span>Create Requirment</span> <i class="fa fa-plus-circle m-l-5"></i></a>-->
            <div class="container-fluid">
                <div ng-controller="addNewLogisticCtrl">
                    <div class="container-fluid">
                        <!--<h3 class="page-heading">Requirement Specifications <i class="far fa-question-circle"></i></h3>-->
                        <div class="col-md-10 col-md-offset-1">
                            <ul id="eliteregister">
                                <li class="active">
                                    <h3><strong>STEP 1</strong></h3>
                                    <span><strong>Requirement Specifications</strong></span>
                                </li>
                                <li class="active">
                                    <h3><strong>STEP 2</strong></h3>
                                    <span><strong>Delivery & Payment Terms</strong></span>
                                </li>
                                <li class="active">
                                    <h3><strong>STEP 3</strong></h3>
                                    <span><strong>Transaction Configuration</strong></span>
                                </li>
                                <li class="active">
                                    <h3><strong>STEP 4</strong></h3>
                                    <span><strong>Choose vendors</strong></span>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="white-box">
                                    <h3 class="box-title m-b-30">Choose the right vendors for better price competitiveness</h3>
                                    <form class="req-form">

                                        <div class="row">
                                            <div class="col-md-3 form-group">
                                                <label for="category">Select a category...</label>
                                                <select class="form-control p-0" id="category" required="" ng-model="formRequest.category" ng-change="changeCategory()" ng-options="category for category in categories"></select>
                                            </div>

                                            <div class="col-md-3 form-group">
                                                <label>Select Subcategory</label>
                                                <div style="padding: 0px;"
                                                     isteven-multi-select
                                                     disable-property="true"
                                                     class="col-md-12"
                                                     input-model="subcategories"
                                                     output-model="sub.selectedSubcategories"
                                                     button-label="subcategory"
                                                     item-label="subcategory"
                                                     tick-property="ticked"
                                                     max-labels="1"
                                                     max-height="150px"
                                                     on-item-click="selectSubcat(data)"
                                                     on-select-none="changeCategory()"
                                                     on-reset="selectSubcat(data)"
                                                     on-select-all="selectSubcat(data)">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divder"></div>
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>You can Add Your Vendor by clicking here: <button ng-click="selectVendorShow=false;addVendorShow=true;" class="btn btn-success waves-effect waves-light">Add Vendor</button></label>
                                                <div class="row">
                                                    <div ng-show="addVendorShow">
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Vendor First Name</label>
                                                                <input type="text" ng-model="newVendor.firstName" class="form-control fg-input" />
                                                            </div>
                                                            <div ng-show="addVendorShow && firstvalidation">
                                                                <div class="help-block error logininput" ng-show="addVendorShow && firstvalidation">Please enter Vendor First Name</div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Vendor Last Name</label>
                                                                <input type="text" ng-model="newVendor.lastName" class="form-control fg-input">
                                                            </div>
                                                            <div ng-show="addVendorShow && lastvalidation">
                                                                <div class="help-block error logininput" ng-show="addVendorShow && lastvalidation">Please enter Vendor Last Name</div>
                                                            </div>
                                                        </div>
                                                        <!--</div>-->
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Contact No.</label>
                                                                <input type="text" ng-model="newVendor.contactNum" class="form-control fg-input">
                                                            </div>
                                                            <div ng-show="(addVendorShow && contactvalidation) || (addVendorShow && checkVendorPhoneUniqueResult) || (addVendorShow && contactvalidationlength)">
                                                                <div class="help-block error logininput" ng-show="addVendorShow && contactvalidation">Please enter a valid Contact No.</div>
                                                                <div class="help-block error logininput nowrap" ng-show="addVendorShow && contactvalidationlength">Phone Number must be exactly 10 digits.</div>
                                                                <div class="help-block error logininput" ng-show="addVendorShow && checkVendorPhoneUniqueResult">Contanct No. has been already taken.</div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Email Address</label>
                                                                <input type="text" ng-model="newVendor.email" class="form-control fg-input">
                                                            </div>
                                                            <div ng-show="(addVendorShow && emailvalidation) || (addVendorShow && emailregxvalidation) || (addVendorShow && checkVendorEmailUniqueResult)">
                                                                <div class="help-block error logininput" ng-show="addVendorShow && emailvalidation">Please enter Email Address</div>
                                                                <div class="help-block error logininput" ng-show="addVendorShow && emailregxvalidation">Please enter a valid Email Address</div>
                                                                <div class="help-block error logininput" ng-show="addVendorShow && checkVendorEmailUniqueResult">Email Address has been already taken.</div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Vendor Company Name</label>
                                                                <input type="text" ng-model="newVendor.companyName" class="form-control fg-input">
                                                            </div>
                                                            <div ng-show="addVendorShow && companyvalidation">
                                                                <div class="help-block error logininput" ng-show="addVendorShow && companyvalidation">Please enter Vendor Company Name</div>
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <div>
                                                                <select data-placeholder="Select a Currency..." name="vendorcurrency" ng-model="newVendor.vendorcurrency" class="form-control" ng-options="currency.value for currency in currencies"></select>
                                                                <label>Vendor Currency</label>
                                                            </div>
                                                            <div ng-show="addVendorShow && vendorcurrencyvalidation">
                                                                <div class="help-block error logininput" ng-show="addVendorShow && vendorcurrencyvalidation">Please Select Vendor Currency</div>
                                                            </div>
                                                        </div>


                                                        <div class="col-xs-12 text-center m-b-10">
                                                            <button class="btn btn-info waves-effect waves-light" ng-disabled="checkVendorPhoneUniqueResult || checkVendorEmailUniqueResult" ng-click="addVendor();">Add</button>
                                                            <button class="btn btn-error waves-effect waves-light" ng-click="selectVendorShow=true;addVendorShow=false;">Cancel</button>
                                                        </div>

                                                        <div ng-show="addVendorShow && (checkVendorPhoneUniqueResult || checkVendorEmailUniqueResult)" class="col-xs-12 text-center m-b-10">
                                                            User with the Same mobile number alredy exists Do you whan to Assign this vendor to Your company? <a role="button" ng-click="selectVendorShow=true;addVendorShow=false;AssignVendorToCompany(newVendor.contactNum, newVendor.email);"> Assign Vendor To company</a>
                                                        </div>

                                                    </div>
                                                    <div>
                                                        <div class="row">
                                                            
                                                            <div class="col-md-2">
                                                                <h3 class="box-title">Choose Vendor</h3>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <input type="text" ng-change="searchVendors(searchvendorstring)" ng-model="searchvendorstring" class="form-control input-sm m-b-10" placeholder="Search Vendor">
                                                            </div>
                                                        </div>
                                                        <div style="height:400px;max-height: 400px;overflow-y: auto;">
                                                            <div class="table-responsive">
                                                                <!-- <table class="table table-striped table-bordered"> -->
                                                                <table class="table color-bordered-table muted-bordered-table max-height-400" style="border-color:#3b384f;">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="background-color:#3b384f;width:6px"></th>
                                                                            <th style="background-color:#3b384f;">Vendor</th>
                                                                            <th style="background-color:#3b384f;">Vendor Name</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="vendor in formRequest.auctionVendors" class="selected-row">
                                                                            <td style="text-align:center">
                                                                                <div>
                                                                                    <input type="checkbox" id="{{vendor.vendorID}}" ng-click="selectForB(vendor)" value="{{vendor.vendorID}}" checked>
                                                                                    <label for="checkbox"></label>
                                                                                </div>
                                                                            </td>
                                                                            <td><a target="_blank" href="prm360.html#/viewprofile/{{vendor.vendorID}}"><span class="selected-row">{{vendor.companyName}}</span></a></td>
                                                                            <td>{{vendor.vendorName}}</td>
                                                                        </tr>
                                                                        <tr ng-repeat="vendor in Vendors">
                                                                            <td style="background-color:lightgray;text-align:center">
                                                                                <div class="checkbox m-t-0 m-b-0">
                                                                                    <input style="height:100px;width:200px;" type="checkbox" id="{{vendor.vendorID}}" ng-click="selectForA(vendor)" value="{{vendor.vendorID}}">
                                                                                    <label for="checkbox"></label>
                                                                                </div>
                                                                            </td>
                                                                            <td><a target="_blank" href="prm360.html#/viewprofile/{{vendor.vendorID}}">{{vendor.companyName}}</a></td>
                                                                            <td>{{vendor.vendorName}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="">
                                                <label>
                                                    <input type="checkbox" value="" ng-click="formRequest.checkBoxEmail = !formRequest.checkBoxEmail" ng-model="formRequest.checkBoxEmail" checked>
                                                     Send Email to All the Vendors
                                                </label>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <label>
                                                    <input type="checkbox" value="" ng-click="formRequest.checkBoxSms = !formRequest.checkBoxSms" ng-model="formRequest.checkBoxSms" checked>
                                                     Send SMS to All the Vendors
                                                </label>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <label ng-if="isEdit == true">
                                                    <input type="checkbox" value="" ng-model="formRequest.deleteQuotations" checked>
                                                     Request New Quotations <span ng-if="formRequest.deleteQuotations" class="text-danger"><strong>(This will delete all the vendor Quotations)</strong></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row m-t-20">
                                            <div class="col-xs-2 text-center">
                                                <button class="btn btn-success btn-lg btn-block ctn-btn waves-effect waves-light" ng-click="goToStage(3, 4)" type="button">Back</button>
                                            </div>
                                           <div class="col-xs-7 text-center"></div>
                                            <div class="col-xs-3 text-center">
                                                <button class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light" type="button" ng-click="postRequest(1, 4, true)">
                                                    Post Requirement
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    // Switchery
                    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                    $('.js-switch').each(function () {
                        new Switchery($(this)[0], $(this).data());
                    });
                });
            </script>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>