﻿<div class="white-box">
    <div class="row">
        <div ng-controller="MasterContactDetailController as _masterContactDetailCtrl" ng-init="_masterContactDetailCtrl.getByPage()">
            <div class="pmb-block" st-pipe="_masterContactDetailCtrl.getByPage" st-table="_masterContactDetailCtrl.gridOpitions.data">
                <div class="pmbb-header">
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-md-4">
                            <h2 style="display:inline-block;margin:0">
                                <i class="zmdi zmdi-view-list"></i> Contact details
                            </h2>

                        </div>
                        <div class="col-md-8 text-right">
                            <button class="btn btn-sm btn-primary" type="button" ng-click="_masterContactDetailCtrl.add()">
                                Add
                            </button>



                        </div>
                    </div>
                    <!--<div class="row" style="margin-bottom:10px">

                        <div class="col-md-12 text-left" ng-init="_masterContactDetailCtrl.getfilterData()">
                            <div style="margin-right:10px;display:inline-block">
                                <span>
                                    Product :
                                </span>
                                <select style="display:inline-block;width:auto;margin-left:15px" st-search="Product" ng-model="ProductFilter" class="form-control">
                                    <option value="">All</option>
                                    <option value="{{p}}" ng-repeat="p in  _masterContactDetailCtrl.FilterData.Products track by $index">{{p}}</option>
                                </select>
                            </div>

                            <div style="margin-right:10px;display:inline-block">
                                <span>
                                    Market :
                                </span>

                                <select style="display:inline-block;width:auto;margin-left:15px" st-search="Market" ng-model="MarketFilter" class="form-control">
                                    <option value="">All</option>
                                    <option value="{{m}}" ng-repeat="m in  _masterContactDetailCtrl.FilterData.Markets">{{m}}</option>
                                </select>
                            </div>

                            <div style="margin-right:10px;display:inline-block">
                                <span>
                                    Category :
                                </span>

                                <select style="display:inline-block;width:auto;margin-left:15px" st-search="Category" ng-model="CategorytFilter" class="form-control">
                                    <option value="">All</option>
                                    <option value="{{c}}" ng-repeat="c in  _masterContactDetailCtrl.FilterData.Categories">{{c}}</option>
                                </select>
                            </div>
                            <div style="margin-right:10px;display:inline-block">
                                <span>
                                    From Date :
                                </span>

                                <input st-search="FromDate" type="date" style="display:inline-block;width:auto;margin-left:15px" class="form-control"
                                       ng-model="_masterContactDetailCtrl.FilterModel.FromDate"
                                       ng-model-options="{ updateOn: 'blur' }"
                                       placeholder="Select a date...">
                            </div>
                            <div style="margin-right:10px;display:inline-block">
                                <span>
                                    To Date :
                                </span>

                                <input st-search="ToDate" type="date" style="display:inline-block;width:auto;margin-left:15px" class="form-control"
                                       ng-model="_masterContactDetailCtrl.FilterModel.ToDate"
                                       ng-model-options="{ updateOn: 'blur' }"
                                       placeholder="Select a date...">
                            </div>
                            <div style="margin-right:10px;display:inline-block">
                              <button class="btn btn-primary btn-sm">
                                  Apply
                              </button>
                                <button class="btn btn-default btn-sm">
                                    Clear
                                </button>
                            </div>

                        </div>
                    </div>-->

                </div>
                <div class="pm-body">
                    <div class="table-responsive z-depth-2">
                        <table class="table table-striped table-vmiddle" show-filter="false">
                            <thead>
                                <tr>
                                    <th st-sort="Id" class="header">Id</th>
                                    <th st-sort="Title" class="header">Title</th>

                                    <th st-sort="Detail" class="header">Detail</th>
                                    <th st-sort="AllowEdit" class="header">Allow edit</th>

                                    <th st-sort="TradingMode" class="header">Active</th>
                                    <th class="header"></th>
                                    <!--<th class="header">Change</th>-->


                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in _masterContactDetailCtrl.gridOpitions.data">
                                    <td>
                                        {{row.Id}}
                                    </td>
                                    <td>
                                        {{row.Title }}
                                    </td>
                                    <td>
                                        {{row.Details }}
                                    </td>
                                    <td>
                                        <i class="" ng-class="{ 'fas fa-check-square' : row.AllowEdit  , 'far fa-square' :  !row.AllowEdit}"></i>
                                    </td>
                                    <td>
                                        <i class="" ng-class="{ 'fas fa-check-square' : row.Active  , 'far fa-square' :  !row.Active}"></i>
                                    </td>

                                    <td>
                                        <span class="pull-right">
                                            <button class="btn-primary btn btn-sm" ng-click="_masterContactDetailCtrl.edit(row)"><i class="fa fa-edit"></i></button>
                                            <button class="btn btn-danger btn-sm" ng-click="_masterContactDetailCtrl.Delete(row)" style="margin-left:15px"><i class="fa fa-trash"></i></button>

                                        </span>
                                    </td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8" class="text-right">
                                        <div style="display:inline-block;margin-right:auto;float:left">
                                            <strong>
                                                Total : <span>{{ _masterContactDetailCtrl.gridOpitions.totalItems}}</span>
                                            </strong>
                                        </div>
                                        <div style="display:inline-block;margin-left:auto">
                                            <div st-pagination="" st-items-by-page="_masterContactDetailCtrl.gridOpitions.itemsByPage" st-displayed-pages="_masterContactDetailCtrl.gridOpitions.displayedPages"></div>

                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>