﻿<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
<div id="page-wrapper">
    <div class="container-fluid">
        <div ng-controller="workflowCtrl">
            <div class="row ">
            </div>
            <div class="white-box top-half-buffer">
                <div class="row">
                    <div class="card-header col-md-12">
                        <div class="col-md-6 pull-left">
                            <h3>Workflow  <label ng-if="editWorkflowFlag && workflowTitle != ''">({{workflowTitle}})</label></h3>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a title="Add New Workflow" ng-click="addWorkflow()" class="btn btn-primary pull-right add-new-btn">Add New Workflow</a>
                        </div>
                    </div>
                </div>
                <fieldset ng-disabled="viewDisable">
                    <div ng-if="editWorkflowFlag">
                        <div class="white-box">
                            <div class="card-body card-padding">
                                <div class="row">
                                    <div class="form-group fg-float col-md-5 m-b-30">
                                        <div class="form-group fg-float m-b-30">
                                            <div class="fg-line fg-toggled">
                                                <label>Title</label>
                                                <input type="text" ng-model="currentWorkflow.workflowTitle" name="title" id="title" class="form-control fg-input titleinput" required />
                                                <label ng-show="workflowTitleValidation">
                                                    <label class="help-block error titleinput text-danger">Workflow Name Already Exists</label>
                                                </label>
                                            </div>
                                            <div ng-show="workflowForm.$submitted || workflowForm.title.$touched && !workflowTitleValidation">
                                                <div class="help-block error titleinput" ng-show="workflowForm.title.$error.required">Please enter Title</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group fg-float col-md-5 m-b-30">
                                        <div class="form-group fg-float m-b-30">
                                            <div class="fg-line fg-toggled">
                                                <label>Description</label>
                                                <input type="text" ng-model="currentWorkflow.WorkflowDetails" name="description" id="description" class="form-control fg-input titleinput" required />
                                            </div>
                                            <label ng-show="workflowForm.$submitted || workflowForm.description.$touched">
                                                <label class="help-block error titleinput text-danger" ng-show="workflowForm.description.$error.required">Please enter Description</label>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>

                                    <div class="form-group fg-float col-md-5 m-b-30">
                                        <div class="form-group fg-float m-b-30">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="selectfield" for="module">Select a Module</label>
                                                <select ng-model="currentWorkflow.WorkflowModule" name="module" class="form-control"
                                                        ng-options="module.value as module.display for module in modules" data-placeholder="Select a module..."></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group fg-float col-md-5 m-b-30">
                                        <div class="form-group fg-float m-b-30">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="selectfield" for="module">Select a Department</label>
                                                <select ng-model="currentWorkflow.deptIDObj" name="module" class="form-control" ng-options="Department.companyDepartments.deptCode for Department in DepartmentsArray" data-placeholder="Select a Department"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 table table-responsive z-depth-2">
                                        <table class="table table-vmiddle table-striped">
                                            <thead>
                                                <tr style="font-weight: bold">
                                                    <th style="width:14%">Approver</th>
                                                    <th style="width:14%">Department</th>
                                                    <th style="width:20%">Order</th>
                                                    <th style="width:15%">Approver Min Range</th>
                                                    <th style="width:12%">No. of Days for deadline</th>
                                                    <th style="width:15%; text-align:center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="step in currentWorkflow.WorkflowStages">
                                                    <td>{{step.approver.desigCode}}</td>
                                                    <td>{{step.department.deptCode}}</td>
                                                    <td>{{step.order}}</td>
                                                    <td>{{step.approverRange>0?step.approverRange:'NA'}}</td>
                                                    <td>{{step.time}}</td>
                                                    <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                        <a title="Delete Step" ng-click="deleteStep(step, $index)" class="btn btn-primary pull-right add-new-btn">Delete Step</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="card-header">
                                        <h4>Add Step to Workflow</h4>
                                    </div>
                                    <div class="table-responsive z-depth-2">
                                        <table ng-table="true" class="table table-striped table-vmiddle" show-filter="false">
                                            <tr ng-repeat="dept in Departments">
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h4>
                                                                <i class="fa fa-plus" ng-if="!dept.isChecked" ng-click="dept.isChecked=true;minimizeOthers(dept);" aria-hidden="true" style="cursor:pointer;">&nbsp;&nbsp;&nbsp;<b>{{dept.companyDepartments.deptCode}}</b></i>
                                                                <i class="fa fa-minus" ng-if="dept.isChecked" ng-click="dept.isChecked=false;" aria-hidden="true" style="cursor:pointer;">&nbsp;&nbsp;&nbsp;<b>{{dept.companyDepartments.deptCode}}</b></i>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="border-bottom:1px solid black; padding:4px; margin-left:10px;" ng-if="dept.isChecked" ng-repeat="approver in dept.listUserDesignations">
                                                        <div class="col-md-6 top-buffer">
                                                            <input type="radio" name="approver" ng-click="addApprover(dept, approver, $parent.$index, $index)" />
                                                            &nbsp;&nbsp;{{approver.companyDesignations.desigCode}}
                                                        </div>

                                                        <div class="col-md-3 text-right top-buffer" ng-if="deptIndex == $parent.$index && approverIndex == $index">
                                                            <label>APPROVAL RANGE MIN VALUE</label><br>
                                                            <small class="text-warning" ng-if="approver.companyDesignations.approverRange>0">This approver cannot approve less than {{approver.companyDesignations.approverRange}}</small>
                                                        </div>

                                                        <div class="col-md-3" ng-if="deptIndex == $parent.$index && approverIndex == $index">
                                                            <input type="text" ng-model="approver.companyDesignations.approverRange" ng-change="addApprover(dept, approver, $parent.$index, $index)" class="form-control" valid-number allow-decimal="false" allow-negative="false">
                                                        </div>

                                                    </div>


                                                </td>
                                            </tr>
                                            <tr></tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <input type="button" ng-disabled="!enableAddStep" class="btn btn-primary btn-file btn-new-look" ng-click="addStep()" value="Add Step" />
                                </div>
                            </div>
                            <div class="row text-center">
                                <button class="btn btn-primary btn-file btn-new-look"
                                        ng-disabled="!(currentWorkflow.WorkflowModule && currentWorkflow.deptIDObj && currentWorkflow.workflowTitle && currentWorkflow.WorkflowStages.length > 0)"
                                        ng-click="updateWorkflow()">Save Workflow
                                </button>
                                <button class="btn btn-primary btn-file btn-new-look" ng-click="cancelWorkflow()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!--<div ng-if="editWorkflowFlag && viewDisable">{{editWorkflowFlag}} -- {{viewDisable}}
        <div class="white-box">
            <div class="card-body card-padding">
                <div class="row">
                    <div class="form-group fg-float col-md-5 m-b-30 top-half-buffer ">
                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line fg-toggled">
                                <label>Title</label>
                                <input type="text" ng-model="currentWorkflow.workflowTitle" name="title" id="title" class="form-control fg-input titleinput" required />
                            </div>
                            <div ng-show="workflowForm.$submitted || workflowForm.title.$touched">
                                <div class="help-block error titleinput" ng-show="workflowForm.title.$error.required">Please enter Title</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group fg-float col-md-5 m-b-30 top-half-buffer ">
                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line fg-toggled">
                                <label>Description</label>
                                <input type="text" ng-model="currentWorkflow.WorkflowDetails" name="description" id="description" class="form-control fg-input titleinput" required />
                            </div>
                            <div ng-show="workflowForm.$submitted || workflowForm.description.$touched">
                                <div class="help-block error titleinput" ng-show="workflowForm.description.$error.required">Please enter Description</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group fg-float col-md-5 m-b-30 top-half-buffer ">
                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line input-field fg-toggled">
                                <label class="selectfield" for="module">Select a module...</label>
                                <select ng-model="currentWorkflow.WorkflowModule" name="module" class="form-control"
                                        ng-options="module.value as module.display for module in modules" data-placeholder="Select a module..."></select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group fg-float col-md-5 m-b-30 top-half-buffer ">
                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line input-field fg-toggled">
                                <label class="selectfield" for="module">Select a Department</label>
                                <select ng-model="currentWorkflow.deptIDObj" name="module" class="form-control" ng-options="Department.companyDepartments.deptCode for Department in DepartmentsArray" data-placeholder="Select a Department"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 table table-responsive z-depth-2">
                        <table class="table table-vmiddle table-striped">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th style="width:14%">Approver</th>
                                    <th style="width:14%">Department</th>
                                    <th style="width:20%">Order</th>
                                    <th style="width:15%">Approver Min Range</th>
                                    <th style="width:12%">No. of Days for deadline</th>
                                    <th style="width:15%; text-align:center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="step in currentWorkflow.WorkflowStages">
                                    <td>{{step.approver.desigCode}}</td>
                                    <td>{{step.department.deptCode}}</td>
                                    <td>{{step.order}}</td>
                                    <td>{{step.approverRange>0?step.approverRange:'NA'}}</td>
                                    <td>{{step.time}}</td>
                                    <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                        <a title="Delete Step" ng-click="deleteStep(step, $index)" class="btn btn-primary pull-right add-new-btn">Delete Step</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="card-header">
                        <h4>Add Step to Workflow</h4>
                    </div>
                    <div class="table-responsive z-depth-2">
                        <table ng-table="true" class="table table-striped table-vmiddle" show-filter="false">
                            <tr ng-repeat="dept in Departments">
                                <td>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>
                                                <i class="fa fa-plus" ng-if="!dept.isChecked" ng-click="dept.isChecked=true;minimizeOthers(dept);" aria-hidden="true" style="cursor:pointer;">&nbsp;&nbsp;&nbsp;<b>{{dept.companyDepartments.deptCode}}</b></i>
                                                <i class="fa fa-minus" ng-if="dept.isChecked" ng-click="dept.isChecked=false;" aria-hidden="true" style="cursor:pointer;">&nbsp;&nbsp;&nbsp;<b>{{dept.companyDepartments.deptCode}}</b></i>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row" style="border-bottom:1px solid black; padding:4px; margin-left:10px;" ng-if="dept.isChecked" ng-repeat="approver in dept.listUserDesignations">
                                        <div class="col-md-6 top-buffer">
                                            <input type="radio" name="approver" ng-click="addApprover(dept, approver, $parent.$index, $index)" />
                                            &nbsp;&nbsp;{{approver.companyDesignations.desigCode}}
                                        </div>

                                        <div class="col-md-3 text-right top-buffer" ng-if="deptIndex == $parent.$index && approverIndex == $index">
                                            <label>APPROVAL RANGE MIN VALUE</label><br>
                                            <small class="text-warning" ng-if="approver.companyDesignations.approverRange>0">This approver cannot approve less than {{approver.companyDesignations.approverRange}}</small>
                                        </div>

                                        <div class="col-md-3" ng-if="deptIndex == $parent.$index && approverIndex == $index">
                                            <input type="text" ng-model="approver.companyDesignations.approverRange" ng-change="addApprover(dept, approver, $parent.$index, $index)" class="form-control" valid-number allow-decimal="false" allow-negative="false">
                                        </div>

                                    </div>


                                </td>
                            </tr>
                            <tr></tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <input type="button" ng-disabled="!enableAddStep" class="btn btn-primary btn-file btn-new-look" ng-click="addStep()" value="Add Step" />
                </div>
            </div>
            <div class="row text-center">
                <button class="btn btn-primary btn-file btn-new-look" ng-disabled="!(currentWorkflow.WorkflowModule && currentWorkflow.deptIDObj && currentWorkflow.workflowTitle && currentWorkflow.WorkflowStages.length > 0)" ng-click="updateWorkflow()">Save Workflow</button>
                <button class="btn btn-primary btn-file btn-new-look" ng-click="cancelWorkflow()">Cancel</button>
            </div>
        </div>
    </div>-->

                <div class="card-body card-padding">
                    <table class="table table-hover table-responsive z-depth-1 clear-both table-striped">
                        <thead>
                            <tr style="font-weight: bold">
                                <th style="width:14%">Title</th>
                                <th style="width:25%">Description</th>
                                <th style="width:12%">Module</th>
                                <th style="width:10%; text-align:left">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="workflow in workflowList">
                                <td>
                                    {{workflow.workflowTitle}}
                                </td>
                                <td>{{workflow.WorkflowDetails}}</td>
                                <td>{{workflow.WorkflowModule}}</td>
                                <td data-title="'Actions'" sortable="'Actions'">
                                    <!--{{workflow.trackWfId}}-->
                                    <a title="View Details" ng-click="editWorkflow(workflow,'VIEW')"  class="btn btn-linkedin add-new-btn">View</a>
                                    <a title="Edit Details" ng-click="editWorkflow(workflow,'EDIT')" ng-show="workflow.trackWfId == 0" class="btn btn-primary add-new-btn">Edit</a>
                                    <a title="Delete Details" ng-click="deleteWorkflow(workflow)" ng-show="workflow.trackWfId == 0" class="btn btn-danger  add-new-btn">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>