<a href="" class="btn btn-new-look pull-right  add-new-btn" ng-if="userObj.isSuperUser && userObj.credentialsVerified && userDetails.role === 'CUSTOMER' && isOTPVerified && isEmailOTPVerified" ng-click="addVendor = 1;addVendorShow=true;" class="" data-ng-show="addVendor === 0"><b> <i class="zmdi zmdi-plus m-r-5"></i> New Vendor</b></a>
<div ng-class="{'pmb-block':addVendor==1}" ng-if="userObj.isSuperUser && userObj.credentialsVerified && userDetails.role === 'CUSTOMER' && isOTPVerified && isEmailOTPVerified">
    <div class="pmbb-header col-md-12" data-ng-show="addVendor === 1">
        <div class="col-md-4"><h2><i class="zmdi zmdi-plus m-r-5"></i> New Vendor</h2></div>
        <div class="col-md-8 text-right">            
            <div class="fileinput fileinput-new" data-provides="fileinput">
                Add Multiple Vendors via Excel(only xlsx):
                <span class="btn btn-primary btn-file btn-new-look">
                    <span class="fileinput-new">Choose a file</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" accept=".xlsx" id="vendorsAttachment" doctype="vendorsAttachment" ng-file-select-docs="onFileSelect($files)" />
                </span>
                <span class="fileinput-filename" data-ng-model="ImportEntity.attachmentFileName"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                <!--<small><a target="_blank " class="" href="https://prm360.com/services/templateattachments/AddVendor.xlsx?sessionid={{sessionid}}"><strong>Download Excel Template</strong></a></small>-->
                <small><a target="_blank " class="" ng-click="downloadTemplate()" ><strong>Download Excel Template</strong></a></small>
            </div>
        </div>
    </div>
    <div class="pmbb-body" data-ng-show="addVendor === 1">
        <form name="vendorregisterForm" data-ng-submit="addVendor()" class="pmbb-edit">
            <div class="form-group fg-float col-sm-6 m-b-30">
                <div class="fg-line">
                    <input type="text" ng-model="newVendor.firstName" ng-change="addVendorValidation()" class="form-control fg-input" name="firstName" id="lastName">
                    <label class="fg-label">Vendor First Name</label>
                </div>
                <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.firstName.$touched">
                    <div class="help-block error logininput" ng-show="firstvalidation">Please enter First Name</div>
                </div>
            </div>
            <div class="form-group fg-float  col-md-6 m-b-30">
                <div class="fg-line">
                    <input type="text" ng-model="newVendor.lastName" ng-change="addVendorValidation()" class="form-control fg-input" name="lastName" id="lastName">
                    <label class="fg-label">Vendor Last Name</label>
                </div>
                <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.lastName.$touched">
                    <div class="help-block error logininput" ng-show="lastvalidation">Please enter Last Name</div>
                </div>
            </div>
            <div class="form-group fg-float col-sm-6 m-b-30">
                <div class="fg-line">
                    <input type="number" ng-model="newVendor.contactNum" ng-change="addVendorValidation()" ng-blur="checkVendorUniqueResult('PHONE',newVendor.contactNum)" class="form-control fg-input" name="phoneNum" id="phoneNum">
                    <label class="fg-label">Contact No.</label>
                </div>
                <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$touched">
                    <div class="help-block error logininput" ng-show="contactvalidation">Please enter valid Phone Number</div>
                    <div class="help-block error logininput" ng-show="contactvalidationlength">Phone Number must be exactly 10 digits.</div>
                    <!--<div class="help-block error logininput nowrap" ng-show="vendorregisterForm.phoneNum.$error.minlength">Phone Number must be exactly 10 digits.</div>
                    <div class="help-block error logininput nowrap" ng-show="vendorregisterForm.phoneNum.$error.maxlength">Phone Number must be exactly 10 digits.</div>-->
                    <div class="help-block error logininput" ng-show="checkVendorPhoneUniqueResult && !contactvalidation">Phone number already exists</div>
                </div>
            </div>
            <div class="form-group fg-float col-sm-6 m-b-30">
                <div class="fg-line">
                    <input type="email" ng-blur="checkVendorUniqueResult('EMAIL',newVendor.email)" ng-model="newVendor.email" ng-change="addVendorValidation()" class="form-control fg-input" name="email" id="email">
                    <label class="fg-label">Email Address</label>
                </div>
                <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.email.$touched">
                    <div class="help-block error logininput" ng-show="emailvalidation">Please enter Email</div>
                    <div class="help-block error logininput" ng-show="!emailvalidation && (vendorregisterForm.email.$error.email || emailregxvalidation)">Please enter a valid Email</div>
                    <div class="help-block error logininput" ng-show="checkVendorEmailUniqueResult && !emailvalidation && !vendorregisterForm.email.$error.email">Email already exists</div>
                </div>
            </div>
            <div class="form-group fg-float col-sm-6 m-b-30">
                <div class="fg-line">
                    <input type="text" ng-model="newVendor.knownSince" ng-change="addVendorValidation()" class="form-control fg-input" name="knownSince" id="knownSince">
                    <label class="fg-label">Vendor known since:</label>
                </div>
                <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.knownSince.$touched">
                    <div class="help-block error logininput" ng-show="knownSincevalidation">Please enter Vendor Known Since</div>
                </div>
            </div>
            <div class="form-group fg-float col-sm-6 m-b-30">
                <div class="fg-line">
                    <input type="text" ng-model="newVendor.companyName" ng-change="addVendorValidation()" class="form-control fg-input" id="companyName" name="companyName">
                    <label class="fg-label">Vendor Company Name</label>
                </div>
                <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.companyName.$touched">
                    <div class="help-block error logininput" ng-show="companyvalidation">Please enter Vendor Company Name</div>
                </div>
            </div>
            <div class="form-group fg-float col-sm-6 m-b-30" style="margin-top: 2px;">
                <div class="fg-line input-field">
                    <select ng-model="newVendor.category" ng-change="addVendorValidation()" chosen data-placeholder="Select a category..." class="form-control" ng-options="category for category in addVendorCats" name="category" id="category"></select>
                    <label class="fg-label" for="category">Select a Category...</label>
                </div>
                <!--Category: <span ng-bind="formRequest.category" />-->
                <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.category.$touched">
                    <div class="help-block error logininput" ng-show="categoryvalidation">Please Select Vendor Category</div>
                </div>
            </div>
            <div class="form-group fg-float col-sm-6 m-b-30" style="margin-top: 2px;">
                <div class="fg-line input-field">
                    <select ng-model="newVendor.currency" ng-change="addVendorValidation()" name="currency" id="currency" class="form-control" ng-options="currency.value for currency in currencies"></select>
                    <label class="fg-label" for="category">Select a Currency...</label>
                </div>
                <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.currency.$touched">
                    <div class="help-block error logininput" ng-show="currencyvalidation">Please Select Vendor Currency</div>
                </div>
            </div>
            <div class="m-t-30">
                <button type="submit" class="btn btn-primary btn-sm btn-new-look">Save</button>
                <button class="btn btn-link btn-sm" data-ng-click="addVendor = 0">Cancel</button>
            </div>
        </form>
    </div>
</div>
<!--<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-view-list"></i> Vendors List</h2>
    </div>
    <div class="table-responsive z-depth-2">
        <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
            <tr ng-repeat="vendor in vendorsList">
                <td data-title="'Vendor Name'" sortable="'Name'">
                    {{vendor.firstName + ' ' + user.lastName}}</a>
                </td>
                <td data-title="'COMPANY NAME'">
                    {{ vendor.companyName}}
                </td>
                <td data-title="'PHONE'">
                    {{ vendor.phoneNum}}
                </td>
                <td data-title="'CATEGORY'">
                    {{ vendor.category}}
                </td>
                <td data-title="'SUB CATEGORY'">
                    {{ vendor.subcategories[0].subcategory}}
                </td>
            </tr>
        </table>
    </div>
</div>-->





<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-view-list"></i> Active Vendors</h2>
    </div>
    <div class="table-responsive z-depth-2">
        <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
            <tr ng-repeat="vendor in vendorsList">
                <td data-title="'Vendor Name'" sortable="'Name'">
                    {{vendor.firstName + ' ' + user.lastName}}</a>
                </td>
                <td data-title="'COMPANY NAME'">
                    {{ vendor.companyName}}
                </td>
                <td data-title="'PHONE'">
                    {{ vendor.phoneNum}}
                </td>
                <td data-title="'CATEGORY'">
                    {{ vendor.category}}
                </td>
                <td data-title="'SUB CATEGORY'">
                    {{ vendor.subcategories[0].subcategory}}
                </td>
                <td data-title="'ACTIONS'">
                    <button class="btn btn-warning" ng-click="activatecompanyvendor(vendor.userID, 0)">Delete Vendor</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-view-list"></i> Deleted Vendors</h2>
    </div>
    <div class="table-responsive z-depth-2">
        <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
            <tr ng-repeat="vendor in inactiveVendorsList">
                <td data-title="'Vendor Name'" sortable="'Name'">
                    {{vendor.firstName + ' ' + user.lastName}}</a>
                </td>
                <td data-title="'COMPANY NAME'">
                    {{ vendor.companyName}}
                </td>
                <td data-title="'PHONE'">
                    {{ vendor.phoneNum}}
                </td>
                <td data-title="'CATEGORY'">
                    {{ vendor.category}}
                </td>
                <td data-title="'SUB CATEGORY'">
                    {{ vendor.subcategories[0].subcategory}}
                </td>
                <td data-title="'ACTIONS'">
                    <button class="btn btn-success" ng-click="activatecompanyvendor(vendor.userID, 1)">Activate</button>
                </td>
            </tr>
        </table>
    </div>
</div>
