<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-view-list"></i> My Requirements List    </h2>
    </div>
    <div class="table-responsive z-depth-2">
        <table ng-table="tctrl.tableSorting"  class="table table-striped table-vmiddle" show-filter="false">
            <tr ng-repeat="auction in myAuctions.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                <td data-title="'Req ID'" sortable="'ID'">
                    {{ auction.requirementID}}
                </td>
                <td data-title="'Title'" sortable="'Name'" >
                    <a class="prmellipsis" data-ui-sref="view-requirement({Id:auction.requirementID})">{{auction.title}}</a>
                </td>
                <td data-title="'Category'" sortable="'Category'">
                    {{ auction.category[0]}}
                </td>
                <td data-title="'Price'" sortable="'Budget'">
                    <span style="white-space: nowrap;" ng-bind-html="auction.price | numToCurrency:auction.currency"></span>
                </td>
                <td data-title="'STATUS'" sortable="'Is Closed'">
                    {{ auction.status}}
                </td>                         
            </tr>
        </table>
        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
    </div>
    <div class="clearfix" style="margin-bottom:150px;"></div>
</div>
