<div class="ResetPassword" data-ng-controller="loginCtrl" >
    <!-- Login -->
    <div class="lc-block" id="l-login" data-ng-class="{ 'toggled': login === 1 }" data-ng-if="login === 1">

        <img class="logo text-center" src="img/images/logo.png">
        <form ng-submit="loginForm.$valid && loginSubmit()" class="loginForm" name="loginForm" novalidate>
            <div class="input-group">
                <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                <div class="form-group fg-float">
                    <div class="fg-line input-field">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input ng-model="user.username" name="username" type="text" class="form-control logininput" id="exampleInputEmail1"
                        ng-change="change()" required />
                        <label class="fg-label" for="username">Email</label>
                    </div>
                    <div ng-show="loginForm.$submitted || loginForm.username.$touched">
                        <div class="help-block error logininput" ng-show="loginForm.username.$error.required">Please enter Email</div>
                    </div>
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><!-- <i class="zmdi zmdi-male"></i> --></span>
                <div class="form-group fg-float">
                    <div class="fg-line input-field">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input ng-model="user.password" name="password" type="password" class="form-control logininput" id="exampleInputPassword1"
                         ng-change="change()" required />
                        <label class="fg-label" for="password">Password</label>
                    </div>
                    <div ng-show="loginForm.$submitted || loginForm.password.$touched">
                        <div class="help-block error logininput" ng-show="loginForm.password.$error.required">Please enter Password</div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward">Submit</i></button>
            </div>
        </form>
    </div>
</div>   