﻿
/*---start 21/4/2018 ----*/
.cardfixed {
    z-index:900;
}

/*---- end 21/4/2018 ---*/
.flexDiv {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.top-buffer {
    margin-top: 15px;
}

.top-half-buffer {
    margin-top: 10px;
}

#main1 {
    position: relative;
    padding-bottom: 65px;
    padding-top: 30px;
    margin-left: 45px;
}

.white-boxCIJ {
    background: #fff;
    padding: 25px;
    margin-bottom: 10px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1)
}
.form-groupCIJ {
    margin-bottom: 5px;
}


