﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">


            <!--<a class="btn btn-info waves-effect waves-light add-btn visible-xs"><span>Create Requirment</span> <i class="fa fa-plus-circle m-l-5"></i></a>-->
            <div class="container-fluid">
                <div ng-controller="formCtrl">
                    <div>
                        <!--<h3 class="page-heading">Requirement Specifications <i class="far fa-question-circle" ng-hide="true"></i></h3>-->

                        <div class="col-md-10 col-md-offset-1">
                            <ul id="eliteregister">
                                <li class="active">
                                    <h3><strong>STEP 1</strong></h3>
                                    <span><strong>Requirement Specifications</strong></span>
                                </li>
                                <li>
                                    <h3><strong>STEP 2</strong></h3>
                                    <span><strong>Delivery & Payment Terms</strong></span>
                                </li>
                                <li>
                                    <h3><strong>STEP 3</strong></h3>
                                    <span><strong>Transaction Configuration</strong></span>
                                </li>
                                <li>
                                    <h3><strong>STEP 4</strong></h3>
                                    <span><strong>Choose vendors</strong></span>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="white-box">

                                    <form class="req-form" ng-submit="goToStage(2, 1)">
                                        <div class="row">

                                            <div class="col-md-9 form-group">
                                                <strong for="title">Title</strong>
                                                <input type="text" class="form-control" ng-model="formRequest.title" ng-change="GetCompanyLeads(formRequest.title)" id="title" required>
                                                <div ng-show="titleValidation">
                                                    <div class="help-block error logininput text-danger" ng-show="titleValidation">Please enter Title</div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row pull-right">
                                                    <label class="switch">
                                                        <input type="checkbox" ng-click="showSimilarNegotiationsButton(showSimilarNegotiations, formRequest.title)" ng-model="showSimilarNegotiations" value="true" />
                                                        <span class="slider round"></span>
                                                    </label><br />
                                                    <small>Similar Negotiation</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" ng-if="CompanyLeads && CompanyLeads.length > 0">
                                            <div class="panel-body">
                                                <table class="table table-striped table-vmiddle " data-tablesaw-mode="swipe">
                                                    <thead>
                                                        <tr>
                                                            <th>ReqID</th>
                                                            <th>Title</th>
                                                            <th>Category</th>
                                                            <th>L1 Price</th>
                                                            <th>Posted</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in CompanyLeads">
                                                            <td>
                                                                {{item.requirementID}}
                                                            </td>
                                                            <td>
                                                                {{item.title}}
                                                            </td>
                                                            <td>
                                                                {{item.stringCategory}}
                                                            </td>
                                                            <td>
                                                                <b ng-bind-html="item.leastVendorPrice | numToCurrency"></b>
                                                            </td>
                                                            <td>
                                                                {{item.postedOn}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <!--<mini-items-company-leads ng-repeat="item in CompanyLeads" item="item" timeleft="item.title"></mini-items-company-leads>-->
                                                </table>

                                            </div>
                                            <br />
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input ng-click="exportItemsToExcel()" type="button" value="Template" class='btn-info' />
                                                Upload Multiple item via Excel(only xlsx):
                                            </div>
                                            <div class="col-md-6">
                                                <div class="fileupload btn btn-info waves-effect waves-light">
                                                    <span class="fileinput-new"><i class="fa fa-plus m-r-5"></i>Upload Excel</span>
                                                    <input type="file" class="upload" accept=".xlsx" id="itemsAttachment" itemid="itemsAttachment" ng-file-select-items="onFileSelect($files)">
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <h5 ng-show="tableValidation" style="color:red;">Quantity should be greater than 0 for every item.</h5>
                                        <div class="row add-row add-req-items-border" ng-repeat="product in formRequest.listRequirementItems">
                                            <div class="col-md-12">

                                            </div>
                                            <div class="col-md-3">
                                                <label><strong>Product Name</strong></label>
                                                <input type="text" ng-model="product.productIDorName" required name="productIDorName" id="productIDorName" class="form-control">
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>HSN Code/Product No.</strong></label>
                                                <input type="text" ng-model="product.productNo" name="productNo" id="productNo" class="form-control">
                                            </div>
                                            <div class="col-md-1">
                                                <label><strong>Qty</strong></label>
                                                <input type="number" step="any" ng-model="product.productQuantity"  name="productQuantity" id="productQuantity" class="form-control" />
                                            </div>
                                            <div class="col-md-1">
                                                <label><strong>Qty Units</strong></label>
                                                <input type="text" ng-model="product.productQuantityIn" required name="productQuantityIn" id="productQuantityIn" class="form-control">
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>Preferred Brand</strong></label>
                                                <input type="text" ng-model="product.productBrand" name="productBrand" id="productBrand" class="form-control">
                                            </div>
                                            <div class="col-md-3">
                                                <label><strong>Other Brand</strong></label>
                                                <input type="text" ng-model="product.othersBrands" name="othersBrands" id="othersBrands" class="form-control">
                                            </div>
                                            <div class="col-md-4">
                                                <label><strong>Item Description</strong></label>
                                                <textarea class="form-control" ng-model="product.productDescription" name="productDescription" rows="2" id="productDescription"></textarea>
                                            </div>
                                            <div class="col-md-8">
                                                <h5 ng-if="product.productImageID"><a target="_blank" href="FileDownload.aspx?attachid={{product.productImageID}}&sessionid={{sessionid}}">Download</a></h5>
                                                <div class="button-box m-t-30" data-provides="fileinput">
                                                    <div class="fileupload btn btn-info waves-effect waves-light">
                                                        <span><i class="fa fa-plus  m-r-5"></i>Attachment</span>
                                                        <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{product.productSNo}}" itemid="{{product.productSNo}}" ng-file-select-items="onFileSelect($files)">
                                                        
                                                        
                                                     </div>
                                                    <button class="btn btn-danger waves-effect waves-light" ng-click="deleteItem(product.productSNo)"> <i class="fa fa-trash-alt m-r-5"></i> <span>Delete item</span></button>
                                                    <label> {{product.attachmentName}}  </label>
                                                   
                                                   
                                                   
                                                   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divder"></div>
                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <button class="btn btn-info waves-effect waves-light" ng-click="AddItem()" type="button"> <i class="fa fa-plus-square m-r-5"></i> <span>Add item</span></button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <strong>Comment</strong>
                                                <textarea ng-model="formRequest.reqComments" id="reqComments" name="reqComments" class="form-control"></textarea>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <strong>Requirement Attachments <!--<i class="far fa-question-circle"></i>--></strong><br>
                                                <div class="fileupload btn btn-info waves-effect waves-light">
                                                    <span><i class="fa fa-upload  m-r-5"></i>Attachment</span>
                                                    <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="attachement" ng-file-select="onFileSelect($files)">
                                                </div>
                                                <label ng-show="formRequest.attachmentName != formRequest.attFile">{{formRequest.attachmentName}}</label>
                                                <span class="btn btn-danger" ng-click="deleteAttachment(formRequest.requirementID)" ng-if="formRequest.attFile!=''"><i class="fa fa-trash-alt"></i></span>
                                                <h5 ng-if="formRequest.attFile > 0"><a target="_blank" href="FileDownload.aspx?attachid={{formRequest.attFile}}&sessionid={{sessionid}}">Download</a></h5>
                                            </div>
                                        </div>
                                        <div class="row m-t-20">
                                            <div class="col-xs-8">
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <button ng-disabled="postRequestLoding" class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light"><span ng-if="SelectedVendorsCount > 0">Post & </span><span ng-if="SelectedVendorsCount <= 0">Save & </span>Next</button>
                                                <br />
                                                <small ng-if="SelectedVendorsCount > 0" class="text-danger">On click the data will be updated to vendors immidiatly.</small>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    // Switchery
                    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                    $('.js-switch').each(function () {
                        new Switchery($(this)[0], $(this).data());
                    });
                });
            </script>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>