﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ng-controller="catalogProductAddCtrl">
                    <div class="row">
                        <ul style="padding-left:30px" class="tab-nav " data-ng-include="'template/catalogProfile-menu.html'"></ul>
                    </div>
                    <div class="white-box">
                        <div class="pmb-block">
                            <div class="container-fluid" style="padding-left:20px">
                                <div class="row col-md-12 col-xs-12">
                                    <div class="clearfix">
                                        <div class="pull-right">
                                        </div>
                                        <h3>
                                            New product
                                        </h3>
                                    </div>
                                </div>
                                <div class="row col-md-12 col-xs-12">
                                    <form name="addnewform" ng-model="product">
                                        <div class="pmb-block">
                                            <div class="col-md-12 add-row add-req-items-border ng-scope" style="padding:20px">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || ProductName)}">
                                                            <label style="color:#606261"><strong>Product Name <span class="text-danger">*</span></strong></label>
                                                            <div>
                                                                <input type="text" placeholder="Product Name" class="form-control" name="ProductName" ng-model="product.productName" required />
                                                            </div>
                                                            <div ng-show="addnewform.$submitted || addnewform.ProductName.$touched">
                                                                <div class="help-block error logininput text-danger" ng-show="addnewform.ProductName.$error.required">please enter Product Name</div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || productCode)}">
                                                            <label style="color:#606261"><strong>Product Code <span class="text-danger">*</span></strong></label>
                                                            <div>
                                                                <input type="text" placeholder="Product Code" class="form-control" name="productCode" ng-model="product.productCode" required />
                                                            </div>
                                                            <div ng-show="addnewform.$submitted || addnewform.productCode.$touched">
                                                                <div class="help-block error logininput text-danger" ng-show="addnewform.productCode.$error.required">please enter Product Name</div>
                                                            </div>
                                                            <a style="cursor:pointer;" ng-if="product.productCode" ng-click="retrieveProductFromSAP(product.productCode)"><strong>Retrieve Details From SAP </strong></a>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label style="color:#606261"><strong>HSN Code</strong></label>
                                                            <div>
                                                                <input type="text" placeholder="HSN Code" class="form-control" name="productHSNCode" ng-model="product.productHSNCode" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:-20px">

                                                    <div class="col-xs-12 col-md-4" ng-hide="true">
                                                        <div class="form-group">
                                                            <label style="color:#606261"><strong>Conversion of Units</strong></label>
                                                            <div>
                                                                <input type="text" placeholder="Conversion of units" class="form-control" name="unitConversion" ng-model="product.unitConversion" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || productNo)}">
                                                            <label style="color:#606261"><strong>Product No </strong></label>
                                                            <div>
                                                                <input type="text" placeholder="Product No" class="form-control" name="productNo" ng-model="product.productNo" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--<div class="col-xs-12 col-md-1">
            <div class="form-group">
                <label style="color:#606261"><strong>GST</strong></label>
                <div>
                    <input type="number" placeholder="GST" class="form-control" name="contractValue" ng-model="product.productGST" />
                </div>
            </div>
        </div>-->
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label style="color:#606261"><strong>Quantity Units <span class="text-danger">*</span></strong></label>
                                                            <div>
                                                                <select name="productQuantityIn" ng-model="product.productQuantityIn" ng-options="opt.configValue as opt.configValue for opt in companyItemUnits" class="form-control"></select>
                                                            </div>
                                                            <div ng-show="addnewform.$submitted || addnewform.productQuantityIn.$touched">
                                                                <div class="help-block error logininput text-danger" ng-show="!addnewform.productQuantityIn">please enter Quantity Units</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label style="color:#606261"><strong>Alternative Quantity Units</strong></label>
                                                            <div>
                                                                <select name="productAlternativeQuantityIn" ng-model="product.productAlternativeQuantityIn" ng-options="opt.configValue as opt.configValue for opt in companyItemUnits" class="form-control"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--<div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label style="color:#606261"><strong>Preferred Brand</strong></label>
                <div>
                    <input type="text" placeholder="preferredBrand" class="form-control" name="preferredBrand" ng-model="product.preferredBrand" />
                </div>
            </div>
        </div>-->
                                                    <!--<div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label style="color:#606261"><strong>Alternate Brand</strong></label>
                <div>
                    <input type="text" placeholder="alternateBrand" class="form-control" name="alternateBrand" ng-model="product.alternateBrand" />
                </div>
            </div>
        </div>-->

                                                </div>
                                                <div class="row" style="margin-top:-20px">
                                                    <!--<div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label style="color:#606261"><strong>Total Purchase Qty </strong></label>
                <div>
                    <input type="text" placeholder="Total Purchase Quantity" class="form-control" name="totalPurchaseQty" ng-model="product.totalPurchaseQty" />
                </div>
            </div>
        </div>-->
                                                    <!--<div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label style="color:#606261"><strong>In Transit</strong></label>
                <div>
                    <input type="text" placeholder="In Transit" class="form-control" name="inTransit" ng-model="product.inTransit" />
                </div>
            </div>
        </div>-->
                                                    <!--<div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label style="color:#606261"><strong>Lead Time</strong></label>
                <div>
                    <input type="text" placeholder="leadTime" class="form-control" name="leadTime" ng-model="product.leadTime" />
                </div>
            </div>
        </div>-->
                                                    <!--<div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label style="color:#606261"><strong>Departments</strong></label>
                <div>
                    <input type="text" placeholder="departments" class="form-control" name="departments" ng-model="product.departments" />
                </div>
            </div>
        </div>-->
                                                </div>

                                                <div class="row" style="margin-top:-20px">


                                                </div>
                                                <div class="row" style="margin-top:-20px">
                                                    <!--<div class="col-xs-12 col-md-4" ng-hide="true">
            <div class="form-group">
                <label style="color:#606261"><strong>Product No*</strong></label>
                <div>
                    <input type="text" placeholder="Product No" class="form-control" name="productNo" ng-model="product.productNo" required />
                </div>
                <div ng-show="addnewform.$submitted || addnewform.productNo.$touched">
                    <div class="help-block error logininput text-danger" ng-show="addnewform.productNo.$error.required">please enter Product No</div>
                </div>
            </div>
        </div>-->
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label style="color:#606261"><strong>Warranty Period & Shelf-life period</strong></label>
                                                            <div>
                                                                <input type="text" placeholder="Shelf Life" class="form-control" name="productShelfLife" ng-model="product.productShelfLife" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label style="color:#606261"><strong>Product Description</strong></label>
                                                            <div>
                                                                <textarea placeholder="Product Description" class="form-control" rows="1" type="text" name="ProductDescription" ng-model="product.productDesc" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label style="color:#606261"><strong>CAS Number</strong></label>
                                                            <div>
                                                                <textarea placeholder="CAS Number" class="form-control" rows="1" type="text" name="CASNumber" ng-model="product.casNumber" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--<div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label style="color:#606261"><strong>Delivery Terms</strong></label>
                <div>
                    <textarea placeholder="Delivery Terms" class="form-control" rows="1" type="text" name="deliveryTerms" ng-model="product.deliveryTerms" />
                </div>
            </div>
        </div>-->
                                                    <!--<div class="col-xs-12 col-md-4" ng-hide="true">
            <div class="form-group">
                <label style="color:#606261"><strong>Weight, Volume etc.,</strong></label>
                <div>
                    <input type="text" placeholder="Weight, Volume etc" class="form-control" name="productWeightVolume" ng-model="product.productWeightVolume" />
                </div>
            </div>
        </div>-->
                                                </div>
                                                <div class="row" style="margin-top:-20px">
                                                    <div class="col-xs-6 col-md-4">
                                                        <div class="form-group">
                                                            <label style="color:#606261"><strong>MFCD Code</strong></label>
                                                            <div>
                                                                <textarea placeholder="MFCD Code" class="form-control" rows="1" type="text" name="MFCDCode" ng-model="product.mfcdCode" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-md-4">
                                                        <div class="form-group">
                                                            <label style="color:#606261"><strong>Location</strong></label>
                                                            <div>
                                                                <select ng-model="product.city" class="form-control"
                                                                        data-placeholder="Select" id="lastName">
                                                                    <option value="India">India</option>
                                                                    <option value="Africa">Africa</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:-20px">
                                                    <!--<div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label style="color:#606261"><strong>Terms and Condition</strong></label>
                <div>
                    <textarea placeholder="Terms and Condition" class="form-control" rows="1" type="text" name="termsConditions" ng-model="product.termsConditions" />
                </div>
            </div>
        </div>-->
                                                    <!--<div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label style="color:#606261"><strong>Attachments</strong><br></label>
                <div>
                    <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                        <span><i class="fa fa-upload  m-r-5"></i>Attachments</span>
                        <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="attachement" multiple ng-file-select="onFileSelect($files)">
                    </div>

                    <label style="color:#606261" ng-if="attch.fileID > 0" ng-repeat="attch in product.itemAttachments">
                        {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionid}}">Download</a>
                        <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                    </label>
                    <label style="color:#606261" ng-if="attch.fileID <= 0" ng-repeat="attch in product.itemAttachments">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                </div>
            </div>
        </div>-->
                                                </div>
                                                <div class="row" ng-if="false">
                                                    <div class="col-md-12">
                                                        <h3>Contract Management</h3>
                                                        <div class="row" style="margin-top:20px">
                                                            <div class="col-md-12 table-responsive">
                                                                <table class="table table-hover table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Number</th>
                                                                            <th>Value</th>
                                                                            <th>Quantity</th>
                                                                            <th>Availed Quantity</th>
                                                                            <th>Start Date</th>
                                                                            <th>End Date</th>
                                                                            <th>Vendor Name</th>
                                                                            <th>Documents</th>
                                                                            <th>Actions</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="contract in product.contractManagement">
                                                                            <td>
                                                                                <input type="text" placeholder="Number" class="form-control" name="number" ng-model="contract.number" style="border:{{contract.errorColorNum}};" ng-change="validateMatry()" />
                                                                            </td>
                                                                            <td>
                                                                                <input type="number" placeholder="Value" class="form-control" name="value" ng-model="contract.value" style="border:{{contract.errorColorvAL}};" ng-change="validateMatry()" />
                                                                            </td>
                                                                            <td>
                                                                                <input type="number" placeholder="Quantity" class="form-control" name="quantity" ng-model="contract.quantity" style="border:{{contract.errorColorQty}};" ng-change="validateMatry()" />
                                                                            </td>
                                                                            <td>
                                                                                <input type="number" placeholder="Availed Qty" class="form-control" name="availedQuantity" ng-model="contract.availedQuantity" />
                                                                            </td>
                                                                            <td>
                                                                                <div moment-picker="contract.startTime" format="DD-MM-YYYY HH:mm">
                                                                                    <input name="startDate" id="startDate" class="form-control" placeholder="Select Start date" ng-model="contract.startTime" ng-model-options="{ updateOn: 'blur' }" style="border:{{contract.errorColorSt}};" ng-click="validateMatry()">
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div moment-picker="contract.endTime" format="DD-MM-YYYY HH:mm">
                                                                                    <input name="endDate" id="endDate" class="form-control" placeholder="Select End date" ng-model="contract.endTime" ng-model-options="{ updateOn: 'blur' }" style="border:{{contract.errorColorSe}};" ng-click="validateMatry()">
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <!--<input type="text" placeholder="Vendor" class="form-control" name="vendor" ng-model="contract.vendor" />-->
                                                                                <div class="input-group" style="border:{{contract.errorColorNme}};border-radius: 5px;">
                                                                                    <input type="text" placeholder="companyName" class="form-control" name="companyName" ng-model="contract.companyName" data-toggle="modal" data-target="#myModal" readonly ng-click="contractIndex($index)" ng-change="validateMatry()" />
                                                                                    <span class="input-group-addon" data-toggle="modal" data-target="#myModal"><i class="fa fa-user-plus" aria-hidden="true" ng-click="contractIndex($index)"></i></span>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" placeholder="Document" class="form-control" name="document" ng-model="contract.documents" />
                                                                            </td>
                                                                            <td class="text-center" style="vertical-align:middle;cursor:pointer;">
                                                                                <span class="glyphicon glyphicon-pencil text-info" ng-click=""></span> &nbsp;&nbsp;
                                                                                <span class="glyphicon glyphicon-trash text-danger" ng-click="deleteContract($index)"></span>
                                                                            </td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                                <div class="btn btn-info btn-wide" ng-click="addCatalogue()">Add Contract</div>
                                                            </div>
                                                            <div id="myModal" class="modal fade" role="dialog">
                                                                <div class="modal-dialog">

                                                                    <!-- Modal content-->
                                                                    <div class="modal-content" style="border-radius:10px;">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                            <h4 class="modal-title">Choose Vendors</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <input type="text" ng-change="searchVendorsProd(searchvendorprodstring)" ng-model="searchvendorprodstring" class="form-control input-sm m-b-10" placeholder="Search Vendor By Company">
                                                                                    <div class="col-md-12">
                                                                                        <div class="row" ng-init="limit = 15" style="height:350px;overflow:auto;">
                                                                                            <!--<div class="form-control" ng-repeat="vendor in vendorsList | limitTo: limit as results">{{vendor.companyName}}</div>-->
                                                                                            <ul class="list-group">
                                                                                                <li class="list-group-item" ng-repeat="vendor in vendorsListProduct | limitTo: limit as results" data-dismiss="modal" ng-click="prodVendorSelected(vendor.userID, vendor.companyName)" style="color:#606261 !important;">{{vendor.companyName}} -- {{vendor.userID}}</li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <!--<div class="col-xs-12 col-md-3">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label style="color:#606261"><strong>Contract Number</strong></label>
                                <div>
                                    <input required type="text" placeholder="Contract Number" class="form-control" name="contractNo" ng-model="product.contractNo" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label style="color:#606261"><strong>Contract Value</strong></label>
                                <div>
                                    <input type="number" placeholder="Contract Value" class="form-control" name="contractValue" ng-model="product.contractValue" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label style="color:#606261"><strong>Contract Qty</strong></label>
                                <div>
                                    <input type="number" placeholder="Contract Qty" class="form-control" name="contractValue" ng-model="product.contractQty" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label style="color:#606261"><strong>Contract Availed Qty</strong></label>
                                <div>
                                    <input type="number" placeholder="Contract Availed Qty" class="form-control" name="contractAvlValue" ng-model="product.contractAvlQty" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label style="color:#606261"><strong>Contract Start Date</strong></label>
                                <div moment-picker="product.contractStartDate" format="DD-MM-YYYY HH:mm">
                                    <input name="contractStartDate" id="contractStartDate" class="form-control" placeholder="Select Start date" ng-model="product.contractStartDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label style="color:#606261"><strong>Contract End Date</strong></label>
                                <div moment-picker="product.contractEndDate" format="DD-MM-YYYY HH:mm">
                                    <input name="contractEndDate" id="contractEndDate" class="form-control" placeholder="Select End date" ng-model="product.contractEndDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label style="color:#606261"><strong>Contract Document</strong></label>
                                <div>
                                    <input type="text" placeholder="Contract Document" class="form-control" name="contractDocument" ng-model="product.contractDocument" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label style="color:#606261"><strong>Contract Vendor</strong></label>
                                <div>
                                    <input type="text" placeholder="Contract Vendor" class="form-control" name="contractVendor" ng-model="product.contractVendor" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <ul class="nav nav-tabs">
                                                        <!--<li class="active">
                <a href="#ProductGeneraltab" data-toggle="tab" target="_self"><input type="submit" class="btn btn-info btn-wide" value="General"></a>
            </li>-->
                                                        <!--<li>
                <a href="#ProductAttributestab" data-toggle="tab" target="_self"><input type="submit" class="btn btn-info btn-wide" value="Attributes"></a>
            </li>-->
                                                        <li>
                                                            <a href="#ProductCategoriestab" data-toggle="tab" target="_self"><input type="submit" class="btn btn-info btn-wide" value="Categories"></a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <!--<div id="ProductGeneraltab" class="tab-pane active white-box">
                <div class="row">
                    <div class="col-xs-12 pull-right">
                        <div class="form-group text-right">
                            <input type="button" class="btn btn-info btn-wide" value="Save Details" ng-click="SaveProductDetails(productName,productDesc)">
                        </div>
                    </div>
                </div>

                <fieldset ng-disabled="productId>0 && checkProdEdit ==-1">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label> Product Name</label>
                                    <div>
                                        <input placeholder="edit Product Name" type="text" class="form-control" ng-model="prodEditDetails.prodName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label> Product Code</label>
                                    <div>
                                        <input placeholder="edit Product Code" type="text" class="form-control" ng-model="prodEditDetails.prodCode" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label> Product HSN Code</label>
                                    <div>
                                        <input placeholder="edit Product HSN Code" type="text" class="form-control" ng-model="prodEditDetails.prodHSNCode" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>Quantity Units</label>
                                    <div>
                                        <select style="margin-left:-5px;" name="productQuantityIn" class="form-control" ng-model="prodEditDetails.prodQty" ng-options="opt.configValue as opt.configValue for opt in companyItemUnits" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>Alternative Quantity Units</label>
                                    <div>
                                        <select style="margin-left:-5px;" name="productQuantityIn" class="form-control" ng-model="prodEditDetails.prodAlternateUnits" ng-options="opt.configValue as opt.configValue for opt in companyItemUnits" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4" ng-hide="true">
                                <div class="form-group">
                                    <label>Conversion of Units</label>
                                    <div>
                                        <input placeholder="edit Units" type="text" class="form-control" ng-model="prodEditDetails.unitConversion" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>Product No</label>
                                    <div>
                                        <input placeholder="edit Product No" type="text" class="form-control" ng-model="prodEditDetails.prodNo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4" ng-hide="true">
                                <div class="form-group">
                                    <label>Product No</label>
                                    <div>
                                        <input placeholder="edit Product No" type="text" class="form-control" ng-model="prodEditDetails.prodNo" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>Warranty Period & Shelf-life period</label>
                                    <div>
                                        <input placeholder="edit Warranty Period" type="text" class="form-control" ng-model="prodEditDetails.shelfLife" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4" ng-hide="true">
                                <div class="form-group">
                                    <label>Weight, Volume etc.,</label>
                                    <div>
                                        <input placeholder="edit Weight, Volume" type="text" class="form-control" ng-model="prodEditDetails.productVolume" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>Product Description</label>
                                    <div>
                                        <textarea placeholder="edit Product Description" type="text" class="form-control" ng-model="prodEditDetails.prodDesc" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </fieldset>

                <div class="row" style="margin-top:-20px">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <label style="color:#606261"><strong>Choose Vendors</strong></label>
                            <div>
                                <input type="text" ng-change="searchVendors(searchvendorstring)" ng-model="searchvendorstring" class="form-control input-sm m-b-10" placeholder="Search Vendor By Company">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="height:400px;max-height: 400px;overflow-y:auto;">
                    <div class="col-md-12" ng-if="vendorsList && vendorsList.length > 0">
                        <div class="row" ng-init="limit = 100">
                            <div ng-repeat="vendor in vendorsList | limitTo: limit as results" class="col-md-4">
                                <input type="checkbox" class="js-switch text-danger" data-color="#4ad965" data-secondary-color="#057cb5"
                                       ng-model="vendor.isAssignedToProduct" />
                                <a target="_blank" href="prm360.html#/viewprofile/{{vendor.userID}}">
                                    {{vendor.companyName}}
                                </a>
                            </div>
                            <div role="button" ng-show="results.length < vendorsList.length" ng-click="limit = limit + 100;" title="Show more 100.">
                                <a><strong>Show more...({{results.length}} out of {{vendorsList.length}})</strong></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="text-danger" ng-if="(!vendorsList || vendorsList.length == 0 && totalItems1 == -1)">
                            Loading...
                        </label>
                        <label class="text-danger" ng-show="totalItems1 == 0">
                            Search Not Found
                        </label>
                    </div>
                </div>




            </div>-->
                                                        <!--<div id="ProductAttributestab" class="tab-pane white-box">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="row">
                            <div class="pull-right col-md-3 col-xs-3">
                                <input type="submit" class="btn btn-info btn-wide" value="Save Attributes" ng-click="saveProperties()">
                            </div>

                            <div class="form-group col-md-8 col-xs-8">
                                <ul class="list-unstyled" ng-model="Properties">
                                    <li ng-repeat="prop in Properties">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <label>
                                                    <input type="checkbox" style="opacity:1" ng-model="prop.propChecked" ng-click="propCheckChanged(prop)" />
                                                </label>
                                            </div>
                                            <div class="col-xs-6" ng-if="prop.propDataType == 'text'">
                                                <label>{{prop.propName}}</label>
                                                <div ng-show="prop.propChecked">
                                                    <input class="form-control" ng-model="prop.propValue" ng-change="propModified(prop)" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="col-xs-6" ng-if="prop.propDataType == 'multiline'">
                                                <label>{{prop.propName}}</label>
                                                <div ng-show="prop.propChecked">
                                                    <textarea class="form-control" ng-model="prop.propValue" ng-change="propModified(prop)" rows="3"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-xs-6" ng-if="prop.propDataType == 'drop'">
                                                <label>{{prop.propName}}</label>
                                                <div ng-show="prop.propChecked">
                                                    <select class="form-control" ng-change="propModified(prop)" ng-model="prop.propValue" ng-options="opt for opt in prop.propOptions.split('^^') "></select>
                                                </div>
                                            </div>
                                            <div class="col-xs-6" ng-if="prop.propDataType == 'multi'">
                                                <label>{{prop.propName}}</label>
                                                <div ng-show="prop.propChecked">
                                                    <select multiple class="form-control" ng-change="propModified(prop)" ng-model="prop.propValue" ng-options="opt for opt in prop.propOptions.split('^^') "></select>
                                                </div>
                                            </div>
                                            <div class="col-xs-6" ng-if="prop.propDataType == 'int'">
                                                <label>{{prop.propName}}</label>
                                                <div ng-show="prop.propChecked">
                                                    <input class="form-control" ng-change="propModified(prop)" ng-model="prop.propValue" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="col-xs-6" ng-if="prop.propDataType == 'decimal'">
                                                <label>{{prop.propName}}</label>
                                                <div ng-show="prop.propChecked">
                                                    <input class="form-control" ng-model="prop.propValue" ng-change="propModified(prop)" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="col-xs-6" ng-if="prop.propDataType == 'boolean'">
                                                <label>{{prop.propName}}</label>
                                                <div ng-show="prop.propChecked">
                                                    <select class="form-control" ng-model="prop.propValue" ng-change="propModified(prop)">
                                                        <option value="True">True</option>
                                                        <option value="False">False</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-6" ng-if="prop.propDataType == 'date'">
                                                <label>{{prop.propName}}</label>
                                                <div ng-show="prop.propChecked">
                                                    <div class="col-md-12" moment-picker="prop.propValue" format="YYYY-MM-DD">
                                                        <input class="form-control" ng-change="propModified(prop)" placeholder="select a date (YYYY-MM-DD)" ng-model="prop.propValue" ng-model-options="{ updateOn: 'blur' }">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
                                                        <div id="ProductCategoriestab" class="tab-pane">
                                                            <fieldset ng-disabled="productId>0 && checkProdEdit ==-1">
                                                                <div class="row">
                                                                    <div class="col-xs-6"  style="height:400px;max-height: 400px;overflow-y: auto">
                                                                        <script type="text/ng-template" id="nodes_category_products.html">
                                                                            <div data-nodrag>
                                                                                <label style="width:12px">
                                                                                    <span data-nodrag ng-if="node.subCatCount && node.subCatCount > 0" ng-click="toggle(this);node.isExpand = !node.isExpand" class="glyphicon"
                                                                                          ng-class="collapsed? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'" style="color:black"></span>
                                                                                </label>
                                                                                <label><input type="checkbox" style="opacity:1" ng-model="node.nodeChecked" ng-click="checkChanged(node, this);productsLimit = 100;" />  &nbsp; &nbsp;&nbsp;&nbsp;<label style="color:black">{{node.catName}}</label></label>
                                                                                <label ng-if="node.subCatCount && node.subCatCount > 0" class="font-bold"><!--({{node.subCatCount}})--></label>
                                                                            </div>
                                                                            <div ng-init="limit = 100">
                                                                                <ul ng-model="node.nodes" ng-if="node.isExpand == true">
                                                                                    <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'nodes_category_products.html'" collapsed="true"></li>
                                                                                    <li role="button" ng-show="results.length < node.nodes.length" ng-click="limit = limit + 100;" title="Show more 100.">
                                                                                        <a>Show more...({{results.length}} out of {{node.nodes.length}})</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </script>
                                                                        <div ui-tree id="tree-root">
                                                                            <ul ui-tree-nodes ng-model="nodes">
                                                                                <li ng-repeat="node in nodes" ui-tree-node ng-include="'nodes_category_products.html'" ng-class="collapse" collapsed="true"></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-6">
                                                                        <div class="vl row">

                                                                            <div class="col-md-6" ng-if="selectedCategories && selectedCategories.length > 0">
                                                                                <p><strong style="color:black">Selected Categories:</strong></p>
                                                                                <script type="text/ng-template" id="selected_nodes.html">
                                                                                    <div data-nodrag>
                                                                                        <label style="color:black">&nbsp;&nbsp;{{node.catName}}</label>
                                                                                    </div>

                                                                                    <div ng-init="limit = 100">
                                                                                        <ul ng-model="node.nodes">
                                                                                            <!--ng-if="node.isExpand == true"-->
                                                                                            <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'selected_nodes.html'" collapsed="true"></li>
                                                                                            <li role="button" ng-show="results.length < node.nodes.length" ng-click="limit = limit + 100;" title="Show more 100.">
                                                                                                <a>Show more...({{results.length}} out of {{node.nodes.length}})</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </script>
                                                                                <div ui-tree id="tree-root-selected">
                                                                                    <ul ui-tree-nodes ng-model="selectedCategories">
                                                                                        <li ng-repeat="node in selectedCategories" ui-tree-node ng-include="'selected_nodes.html'" ng-class="collapse" collapsed="false"></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                            <!--<div class="col-md-6">
                                    <input type="button" class="btn btn-info btn-wide" value="Save Categories" ng-click="SaveProductCategories()">
                                </div>-->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="row" style="margin-top:-20px">
                                                    <div class="col-xs-12 col-md-12">
                                                        <div class="form-group">
                                                            <label style="color:#606261"><strong>Choose Vendors</strong></label>
                                                            <div>
                                                                <input type="text" ng-model-options=" {debounce:900} " ng-change="searchVendors(searchvendorstring)" ng-model="searchvendorstring" class="form-control input-sm m-b-10" placeholder="Search Vendor By Company" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row" >
                                                    <div class="col-md-12" ng-if="vendorsList && vendorsList.length > 0">
                                                        <div class="row">
                                                            <div class="col-md-12" style="height:350px;max-height: 400px;overflow-y:auto;" when-scrolled="GetCompanyVendors(1,searchingVendors)">
                                                                <div ng-repeat="vendor in vendorsList" class="col-md-4">
                                                                    <input type="checkbox" class="js-switch text-danger" ng-click="pushvendors(vendor)" data-color="#4ad965" data-secondary-color="#057cb5"
                                                                           ng-model="vendor.isAssignedToProduct" />
                                                                    <a target="_blank" href="prm360.html#/viewprofile/{{vendor.userID}}">
                                                                        {{vendor.companyName}}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="row" style="margin-top:-20px" ng-hide="true">
                                                    <div class="col-xs-12 col-md-12">
                                                        <div class="form-group">
                                                            <label style="color:#606261"><strong>Product Description</strong></label>
                                                            <div>
                                                                <textarea placeholder="Product Description" class="form-control" style="height:96px;" type="text" name="ProductDescription" ng-model="product.productDesc" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-6 text-left">
                                                        <a class="cancel" href="#/products">Cancel</a>
                                                    </div>
                                                    <div class="col-xs-6 ">
                                                        <input type="submit" class="btn btn-info btn-wide pull-right" value="Continue" ng-click="addNewProd()" ng-disabled="!addnewform.$valid || !product.productQuantityIn">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>