﻿<div class="pmb-block">
    <div class="pmbb-header">
        <div class="row" style="margin-bottom:10px">
            <div class="col-md-4">
                <h2 style="display:inline-block;margin:0">
                    <i class="zmdi zmdi-view-list"></i> Product prices
                </h2>

            </div>
        </div>
        <div class="row" style="margin-bottom:10px">

            <div class="col-md-12 text-left">
                <div style="margin-right:10px;display:inline-block">
                    <span>
                        Product :
                    </span>
                    <select style="display:inline-block;width:auto;margin-left:15px"  ng-model="_realCtrl.ReportFilter.Product" class="form-control">
                        <option value="{{p}}"   ng-repeat="p in  _realCtrl.FilterData.Products track by $index">{{p}}</option>
                    </select>
                </div>

                <div style="margin-right:10px;display:inline-block">
                    <span>
                        Market :
                    </span>

                    <select style="display:inline-block;width:auto;margin-left:15px" ng-model="_realCtrl.ReportFilter.Market" class="form-control">
                        <option value="">All</option>
                        <option value="{{m}}" ng-repeat="m in  _realCtrl.FilterData.Markets">{{m}}</option>
                    </select>
                </div>
                <div style="margin-right:10px;display:inline-block">
                    <span>
                        From Date :
                    </span>

                    <input type="date" style="display:inline-block;width:auto;margin-left:15px" class="form-control"
                           ng-model="_realCtrl.ReportFilter.FromDate"
                           placeholder="Select a date...">
                </div>
                <div style="margin-right:10px;display:inline-block">
                    <span>
                        To Date :
                    </span>

                    <input type="date" style="display:inline-block;width:auto;margin-left:15px" class="form-control"
                           ng-model="_realCtrl.ReportFilter.ToDate"
                           placeholder="Select a date...">
                </div>
                <div style="margin-right:10px;display:inline-block">
                    <button class="btn btn-primary btn-sm"  ng-click="_realCtrl.applyReportFilter()">
                        Apply
                    </button>
                    <button class="btn btn-default btn-sm"  ng-click="_realCtrl.clearReportFilter()">
                        Clear
                    </button>
                </div>


            </div>
        </div>
        <div class="table-responsive z-depth-2">
            <div id="reportChart"></div>
        </div>
    </div>

</div>
